.breadcrumb-container {
    /*height: 39px;
    color: #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 7px 0;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 0;*/
    height: 0px;
}

.breadcrumb-link {
	border-bottom: none;
}
