.footer-block {
    padding: 15px 30px;
    letter-spacing: 0.02em;
    font-size: 0.9em;
    font-weight: 300;
    color: #444;
}

.footer-block h4 {
    text-transform: uppercase;
    font-family: Montserrat,Helvetica,sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

.footer-blockSide {
    /*border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;*/
}

.footer-block a {
    color: #444;
    border: none;
    text-decoration: underline;
}

.footer-block a:hover {
    color: #fff;
    background-color: transparent;
}

.opening {
    display: inline-block;
}

.footer-row {
    margin-top: 20px;
    border-top: 2px solid #CACACA;
}

.footer-navigation {
    margin-left: 0px;
}

.footer-feedbackBox {
    background: #868686;
    padding: 15px;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    margin-top: 20px;
}

.footer-feedbackTitle {
    margin-bottom: 10px;
    padding-top: 0px;
    color: #FFF;
}

.footer-feedbackText {
    font-style: italic;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.footer-feedbackName {
    padding-top: 5px;
    font-size: 13px;
    color: #e6e6e6;
}

.footer-feedbackQuoteBox {

}

.footer-feedbackQuote {
    font-size: 20px;
    color: #b1b1b1;
}

.footer-feedbackQuoteLeft {
    float: left;
    padding-right: 10px;
}

.footer-feedbackQuoteRight {
    float: right;
    padding-left: 10px;
}

/*Medium devices*/
@media (min-width: 992px) and (max-width: 1200px) {

}

/*Small devices*/
@media (max-width: 991px) {

}

/*Extra small devices */
@media (max-width: 767px) {

    .footer-block {
        /*border-left: 1px solid #c2c2c2;
        border-right: 1px solid #c2c2c2;*/
    }

}

