.header-menu {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
}

.header-search {

}

.header-container {
	margin-left: 0px;
	margin-right: 0px;
}

.header-searchBox {
	width: 100%;
	height: 30px;
	background: transparent;
	border: 0;
	margin: 0;
	border-bottom: 2px solid #000;
	padding: 0 0 2px;
	color: #000;
}

.header-searchForm {
	width: 70%;
	margin-bottom: 0px;
	display: inline-block;
}

.header-searchButton {
	background: transparent;
	padding: 5px;
	margin: 0;
	display: inline-block;
	border: 0;
	color: #C5C5C5;
	cursor: default;
	transition: all 0.3s;
}

.header-searchMessage {
    position: absolute;
    font-size: 10px;
    color: #797979;
    margin-top: -2px;
    transition: all 0.3s;
    opacity: 0;
}

.header-searchMessageShow {
	opacity: 1;
}

.header-searchButtonActive {
	color: #000;
	cursor: pointer;
}

.header-accountLinks {
	margin-top: 15px;
}

.header-accountLinks a {
	margin-right: 11px;
}

.header-cartButton {
    background: #3FE5C4;
    color: #FFF;
    font-weight: 400;
    padding: 3px;
    margin: 0 0 0 10px;
    border-radius: 2px;
    border: 1px solid #3fe5c4;
    position: relative;
    transition: all 0.2s;
    /*animation: cartBounce 0.3s ease 0s 1 normal none paused;
	-webkit-animation: cartBounce 0.3s ease 0s 1 normal none paused;*/
}

.header-cartButton:focus {
	color: #FFF !important;
}

.header-cartButton i {
	margin-left: 5px;
	margin-right: 4px;
}

.header-cartButton:hover {
    color: #FFF;
    background: #32f7cf;
    border-color: #32f7cf;
}

.header-loggedInWelcome {
	margin-top: 12px;
}

.header-loggedInFirstName {	
	font-style: italic;
	color: #999;
}


/*Medium devices*/
@media (min-width: 992px) and (max-width: 1200px) {

}

/*Small devices*/
@media (max-width: 991px) {

}

/*Extra small devices */
@media (max-width: 767px) {

	.header-menu {
		text-align: center;
	}

	.header-searchMessage {
	    display: none;
	}

}
