.prodGrid-finalImage {
    display: none;
}
.prodGrid-backImage {
    display: none;
}
.prodGrid-loaderImage {
    display: block;
}

.prodGridImage {
    max-height: 281px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
}

.prodGrid-headerBlue {
    background: #005AFF;
}

.prodGrid-headerBlue h1 {
    background: #005AFF;
    border: 1px solid #005AFF;
}

.prodGrid-headerOrange {
    background: #f2662d;
}

.prodGrid-headerOrange h1 {
    background: #f2662d;
    border: 1px solid #f2662d;
}


.productgriddisplay {
    margin-top: 20px;
}
.productwrap {
    position: relative;
    margin-bottom: 40px;
    /*QUESTIONABLE HEIGHT*/
    height: 331px;
}

.productwrap a {
    border-bottom: none;
    color: #FF2E2E;
    height: 0px;
    max-height: 0px;
    /* line-height: 0px; */
    font-size: 0px;
}

.stockbox {
    width: auto;
    height: auto;
    padding: 8px;
    color: #FAFAFA;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-family: Roboto;
    position: absolute;
    right: 15px;
    top: 10px;
    transition: none;
    display: none;
}
.is {
    background: rgba(63, 229, 196, 0.75);
}
.oos {
    background: rgba(255, 0, 116, 0.75);
}
.producttitle {
    padding: 10px 0;
    font-size: 14px;
}
.producttitle span {
    color: #1E1E1E;
    border-bottom: 2px solid #1E1E1E;
}
.productpricewrap {
    letter-spacing: 0.06em;
    padding: 10px 0;
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
    background: #FAFAFA;
}
.productpricewrap span {
    color: #444;
}
.productwrap:hover .producttitle span {
    color: #FAFAFA;
    text-decoration: none;
    background: #1E1E1E;
}

.orderOnly {
    top: 55px;
    background: #F2662D;
}

.pagingCircle,
.loadingCircle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid #ff4b00;
    text-align: center;
    display: inline-block;
    line-height: 100px;
    font-family: Roboto;
    color: #ff4b00;
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
}

.loadingCircle {
    cursor: default;
    border: 3px solid #B6B6B6;
    color: #737373;
}

.pagingCircle:hover {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid #ff4b00;
    background: #ff4b00;
    text-align: center;
    display: inline-block;
    line-height: 100px;
    font-family: Roboto;
    color: #fff;
    font-weight: bold;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.pagingCircle div,
.loadingCircle div {
    display: inline-block;
    padding-top: 15px;
    vertical-align: middle;
    line-height: 20px;
}

.loadingCircle div {
    padding-top: 2px;
}

.pagingCircleRow {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.productgrid-loading {
    position: relative;
    opacity: 0.2;
    top: -11px;
    left: -2px;
}

.prodGrid-priceSale {
    color: #FFF;
}

.salePercentage {
    top: 55px;
    background: #f2662d;
    font-size: 15px;
}

.saleHomeText {
    top: 15px;
    font-size: 13px;
    display: block;
}

.salePercentageText {
    /*color: #f2662d !important;
    font-weight: bold;*/
}

#gridheader h1 {
    border-radius: 2px;
    padding: 5px 5px 5px 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    line-height: 148px;
    margin: 0px;
    display: inline;
}

#gridheader {
    /*margin-top: 20px;*/
    height: 148px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    font: 0/0 a;
}

#gridheader:before {      /* create a full-height inline block pseudo-element */
    content: ' ';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;
}

#gridheader div {
    font-family: Montserrat, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    line-height: 37px;
    display: inline-block;
    vertical-align: middle;
}

/*Medium devices*/
@media (min-width: 992px) and (max-width: 1200px) {

}

/*Small devices*/
@media (max-width: 991px) {
    #gridheader div {
        font-size: 22px;
    }
}

/*Extra small devices */
@media (max-width: 767px) {
    .productwrap {
        margin-bottom: 90px;
    }

    
}