.product-detail-image {
    margin: 10px 0 0 0;
}
.hero-image {
    margin: 0 0 10px 0;
}
.product-detail-title h1 {
    font-family: Montserrat, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2em;
    margin: 0;
    border-bottom: none;
    line-height: 34px;
}
.product-detail-title {
    margin-bottom: 12px;
}
.product-detail-stock {
    font-size: 1em;
    text-transform: uppercase;
    margin: 0;
    line-height: 2.2em;
}
.product-detail-stock-amount {
    /* text-transform: uppercase; */
}
.product-detail-price {
    font-weight: 400;
    font-size: 1.4em;
    margin: 0;
    line-height: 1.5em;
    text-align: right;
    display: inline-block;
    float: right;
}
.product-detail-sale-price {
    font-weight: 100;
    font-size: 11px;
    margin: 0;
    line-height: 1.5em;
    text-align: right;
}
.product-detail-sale-percentage {
    text-align: center;
    display: inline-block;
    background: #f2662d;
    padding: 8px;
    color: #FFF;
    float: right;
    height: 44px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 75px;
    font-size: 20px;
}
.product-detail-sale-column {
    padding-right: 0px;
}
.product-detail-text {
    margin: 10px 0 0 0;
}
.product-detail-text hr {
    border: solid #000;
    border-width: 2px 0 0;
    clear: both;
    margin: 10px 0;
    height: 0;
}
.product-detail-text .accordion {
    margin-bottom: 10px;
    /* border-bottom: 2px solid #000; */
}
.product-detail-text .accordion-heading {
    /* border-bottom: 2px solid #000; */
    margin-bottom: 4px;
}
.product-detail-text .accordion-toggle {
    display: block;
    padding: 0px;
    padding-bottom: 6px;
    padding-top: 6px;
    /* border-top: 2px solid #000; */
    /* text-transform: uppercase; */
    border-bottom: none;
    color: #5d5d5d;
    font-weight: bold;
}

.product-detail-more {
    transition: all 0.1s;
    margin-top: 10px;
    cursor: pointer;
    padding-top: 0px !important;
}

.product-detail-more:hover {
    background: none;
    color: #313131;
}
.product-detail-text .accordion-toggle:hover {
    background: none;
}

.accordion-group {
    margin-bottom: 12px;
}

.product-detail-text .accordion-inner {
    /* padding: 10px 0; */
    /* border-top: 2px solid #000; */
    /* padding: 10px 0; */
    /* margin: 0; */
    padding: 0px;
    border: none;
}
i.fa.fa-angle-down.pull-right.fa-2x {
    margin-top: -4px;
}



.product-orderOnly {
    background: #dcdcdc;
    color: #333;
    padding: 10px;
    /* border-radius: 2px; */
}

.product-orderOnlyHead {
    font-size: 14px;
    /* font-weight: bold; */
}

.product-orderOnlyText {
    font-size: 11px;
    line-height: 15px;
    margin-top: 5px;
}

.product-detail-select {
    border: 2px solid #000;
    border-radius: 2px;
    color: #000;
    width: 100%;
    background: #E4E4E4;
    text-transform: none;
    margin-bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
}

.product-accordion-body {
    transition: all 0.5s;
    overflow: hidden;
}

.product-quantity {
    border: 0 !important;
    background: #fff;
    border-radius: 2px !important;
    font-family: Roboto;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    width: 100%;
    box-shadow: none !important;
    height: 44px !important;
    text-align: center;
}

.product-addToCart,
.product-goToCart {
    padding: 10px;
    border: 2px solid #3fe5c4;
    border-radius: 2px;
    background: #3fe5c4;
    display: block;
    text-decoration: none;
    color: #fff;
    height: 43px;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.1em;
    margin: 0;
    text-transform: uppercase;
}

.product-goToCart {
    background: #FE4B00;
    border: 2px solid #FE4B00;
    /* text-align: center; */
    margin-top: 4px;
    margin-bottom: 5px;
    /* margin-left: -12px; */
    color: #FFF;
}

.product-goToCartBox h3 {
    text-align: center;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.product-goToCart:hover {
    border: 2px solid #FE4B00;
    color: #FE4B00;
    background: transparent;
}

.product-addToCart:focus {
    color: #FFF;
}

.product-addToCart i,
.product-goToCartBox i {
    margin-right: 12px;
}

.product-tooMuchQuantity {
    font-weight: bold;
    color: #ff3434;
}

.product-addToCartInProgress,
.product-addToCartInProgress:hover {
    background: #3fe5c4 !important;
    color: #FFF !important;
    cursor: default;
}

.product-addToCart:hover {
    border: 2px solid #3fe5c4;
    background: #E4E4E4;
    text-decoration: none;
    color: #3fe5c4;
}

.product-addNoStock {
    background: #A9A9A9;
    border: 2px solid #A9A9A9;
    cursor: default;
}

.product-addNoStock:hover {
    background: #A9A9A9;
    border: 2px solid #A9A9A9;
    color: #FFF;    
}

.productAdd_loadingSpinner {
    margin-left: 0px !important;
}

.product-link-item {
    
}

.product-addCol {
    padding-left: 4px;
}

.product-quanCol {
    padding-right: 4px;
}

.product_updatingSpinner {
    transition: all 0.3s;
}

#lightSlider {
    /*width: 515px;
    height: 515px;*/
    transform: translate3d(0px, 0px, 0px);
    padding-bottom: 0%;
    margin: 0px;
    /*max-width: 100%;*/
}

.cartAnimObj {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 5px;
    display: inline-block;
    z-index: -1;
    background: rgb(63, 229, 196);
    border-radius: 11px;
    transition: top 0.5s, left 0.5s;
}

.product-remind {
    margin-top: 20px;
    margin-bottom: 20px;}

.product-remind-text {
    /* padding-top: 22px; */
    padding-bottom: 6px;
    font-size: 12px;
}

.product-remind-text i {
    margin-right: 5px;
}

.product-remind-text-logged-in {

}

.product-remind-input {
    width: 100%;
    box-sizing: border-box;
    height: 40px !important;
    padding: 0px !important;
    padding-left: 10px !important;
    border-radius: 0px !important;
    border: 2px solid #000 !important;
    color: #000 !important;
    margin: 0 0 0px 0;
    margin-bottom: 0px !important;
    text-transform: none;
    background: rgba(245, 245, 245, 0.83);
    box-shadow: none !important;
    display: inline-block;
}

.product-remind-button {
    width: 100% !important;
    margin: 0;
    margin-top: 5px;
    /* font-family: Montserrat, Helvetica, sans-serif; */
    letter-spacing: 1px;
    font-size: 14px;
    /* text-transform: uppercase; */
    background: #f2662d;
    border: 0px solid #000;
    border-radius: 2px !important;
    color: #fff;
    padding: 6px;
    /* height: 40px; */
    float: right;
    border-radius: 0px;
    display: inline-block;
    text-align: center;
}

.product-remind-button:hover {
    background-color: #FFF;
    color: #000;
}

.product-remind-newsletter-label {
    font-weight: normal;
    font-size: 11px;
}

.product-remind-accordion {
    transition: all 0.3s;
    overflow: hidden;
}

.lightsliderImages {
    max-width: 100%;
}

.lSGallery {
    max-height: 0px;
}

.product-backToCategory {
    padding: 10px;
    border: 2px solid #f2662d;
    border-radius: 2px;
    background: #E4E4E4;
    display: block;
    text-decoration: none;
    color: #f2662d;
    /* height: 43px; */
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.1em;
    margin: 0;
    text-transform: uppercase;
    margin-top: 12px;
    overflow: hidden;
    text-align: center;
}

.product-backToCategory:hover {
    border: 2px solid #f2662d;
    background: #f2662d;
    text-decoration: none;
    color: #FFF;
}

.product-detail-free-delivery {
    margin-top: 8px;
    /* font-size: 13px; */
    text-align: left;
    line-height: 15px;
}

.product-detail-free-delivery-icon {
    margin-right: 7px;
}

/*Furniture configuration option styles*/

.product-detail-furni-from {
    display: inline-block;
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

.product-detail-furni-notReadyForAdd,
.product-detail-furni-notReadyForAdd:hover,
.product-detail-furni-notReadyForAdd:focus {
    background: #dcdcdc;
    border: 2px solid #dcdcdc;
    color: #333;
    cursor: default;
}

.product-detail-furni-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-detail-furni-config {

}

.product-detail-furni-config-title {
    text-transform: uppercase;
    color: #000;
    border-bottom: solid 2px #ababab;
}

.product-detail-furni-config-colourGroupOptions,
.product-detail-furni-config-colourGroupColours {
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.product-detail-furni-config-colourGroupOptions {
    padding-bottom: 5px;
}

.product-detail-furni-config-colourGroupColours {
    padding-bottom: 2px;
}

.product-detail-furni-config-colourGroup {
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.product-detail-furni-config-colourGroupBox {
    display: block;
    width: 100%;
    min-height: 132px;
}

.product-detail-furni-config-colourGroup:hover {
    background: #ececec;
}

.product-detail-furni-config-colourGroupTitle {
    /* text-align: center; */
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
}

.product-detail-furni-config-colourGroupImage {

}

.product-detail-furni-config-colourGroupPrice {
    float: right;
    font-size: 12px;
}

.product-detail-furni-config-maskClosed {
    max-height: 0px;
}

.product-detail-furni-config-maskOpen {
    max-height: 800px !important;
}

.product-detail-furni-config-mask {
    overflow: hidden;
    transition: all 0.4s;
    max-height: 0px;
}

.product-detail-furni-config-colourGroupColoursLabel {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.product-detail-furni-config-colourGroupColours-single {
    cursor: pointer;
}

.product-detail-furni-config-colourGroupColours-single-name {
    font-size: 11px;
}

.product-detail-furni-config-colourGroupColours-all {
    margin-bottom: 10px;
}

.product-detail-furni-config-colourGroupChosenColour {
    padding-bottom: 2px;
}

.product-detail-furni-config-colourGroupChosenColourBox {
    padding: 5px;
}

.product-detail-furni-config-colourGroupChosenColourImage {
    width: 110px;
}

.product-detail-furni-config-colourGroupChosenColourText {
    font-size: 12px;
}

.product-detail-furni-config-tick {
    font-size: 17px;
    bottom: 3px;
    position: relative;
}

.product-detail-furni-config-colourGroupCancel {
    display: block;
    width: 100%;/* height: 20px; */
}

.product-detail-related-container {
    overflow: hidden;
    transition: all 1s;
}

.product-detail-related-header {
    text-align: left;
    margin-bottom: 15px;
    padding-top: 15px;
    text-transform: uppercase;
    color: #929292;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.1em;
    cursor: default;
}

.product-details-related-box {
    overflow: auto;
    margin-top: 22px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    background: #dedede;
    transition: all 0.2s;
    opacity: 0.8;
}

.product-details-related-box:hover {
    opacity: 1;
}

.product-detail-highlight {
    margin-bottom: 10px;
    /* font-weight: bold; */
    background: #d6d6d6;
    padding: 15px;
    border-radius: 3px;
}

.relatedProductWrap:hover .producttitle span {
    color: #FAFAFA;
    text-decoration: none;
    background: #1E1E1E;
}


/* Sharing box underneath product*/





@media (min-width: 768px) and (max-width: 992px) {

    .product-detail-sale-percentage {
        width: 60px;
        margin-right: 10px;
    }

}

@media (max-width: 767px) {

    .product-detail-sale-price {
        display: inline-block;
        float: right;
    }

    .relatedProductWrap {
        margin-bottom: 25px;
    }

}