.sidebar-logo {
	width: auto;
	height: auto;
}

.sidebar-menu {
	margin: 35px 0 0 0;
}

.sidebar-menu ul {
	display: none;
	margin-top: 5px;
}

.sidebar-box li > div {
	display: inline-block;
}

.sidebar-box li > div,
.sidebar-box li > a {
	letter-spacing: 0.06em;
}

.sidebar-extraLink:focus {
	color: #FFF;
}

.sidebar-box li {
	margin-bottom: 7.5px;
}

.sidebar-xmas {
	background-color: #ff228f !important;
	border-color: #ff228f;
}

.sidebar-xmas:hover {
	background-color: #FFF !important;
}

.sidebar-xmas:focus {
	color: #FFF;
}


.sidebar-newLink {
	background: #ff228f;
    border-color: #ff228f;
}

.sidebar-brandLink {
    background: #005AFF;
    border-color: #005AFF;
}

.sidebar-saleLink {
	background: #f2662d;
	border-color: #f2662d;
}

.sidebar-extraLink {
	white-space: nowrap;
}

.sidebar-brandLinkBox,
.sidebar-saleLinkBox {
	margin-top: 12px;
}

.sidebar-deliveryBox {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 7px 0;
    margin: 15px 0;
}

ul.sidebar-socialLinks {
	margin: 0;
}

.sidebar-socialLinks li {
	margin-bottom: 11.5px;
}

.sidebar-twitter {
	background: #55acee;
	border-color: #55acee;
}

.sidebar-facebook {
	background: #3b5998;
    border-color: #3b5998;
}

.sidebar-instagram {
	background: #3f729b;
    border-color: #3f729b;
}

.sidebar-pinterest {
	background: #cc2127;
    border-color: #cc2127;
}

.sidebar-link {
	/* transition: border 0.2s, padding 0.2s; */
}

.sidebar-activeLink {
    border-bottom: 2px solid #FF228F;
    /* padding-right: 11px; */
    /* margin-left: 5px; */
}

.sidebar-activeLink:hover {
	background: transparent;
	color: #000;
}

.sidebar-returnsText {
	/* padding-top: 8px; */
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 20px;
}
