.cart_breakdownBox {
	padding: 15px;
	margin: 15px 0;
	background-color: #FFF;
}

.cart_itemColText {
	line-height: 20px;
	margin-bottom: 15px;
}

.cart_allItemRows {
	margin-top: 15px;
}

.cart_itemsRow {
	margin-bottom: 8px;
}

input[type="number"].cart_itemQuantity {
	width: 40px !important;
	height: 30px !important;
	color: #000;
	border: 2px solid black !important;
	border-radius: 2px !important;
	text-align: right;
}

.cart_updatingSpinner {
	transition: all 0.5s;
	margin-left: 20px;
}

.cart_container a {
	border-bottom: none;
}

.cart_disabledLink {
	color: #929292 !important;
	border-color: #929292 !important;
}

.cart_disabledLink:hover {
	background: none;
	color: #929292;
}

.cart_loadingSpinner,
.cart_updatingText {
	display: inline-block;
	margin-left: 7px;
}

.cart_subtotalbox h3 {
	border-top: 2px solid #000;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

.cart_subtotalbox {
	padding: 15px;
	padding-top: 18px;
	margin: 8px 0;
	background-color: #FFFEC2;
}

.cart_subtotalbox .row {
	font-size: 15px;
	line-height: 25px;
}

.cart_customPasswordRow {
	overflow: hidden;
	transition: all 0.5s;
}

.cart_itemOrderOnly {
	color: #F2662D;
	font-size: 11px;
	margin-top: -7px;
	padding-top: 4px;
}