@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

/*.ng-enter           { animation: scaleUp 0.5s both ease-in; z-index: 8888; }
.ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }*/

.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}

.fade.ng-leave {
    transition:0.5s linear all;
    opacity:1;
}

.fade.ng-leave.ng-leave-active {
    opacity:0;
}

.fade {
    opacity: 1;
}

@keyframes horizontal {
  0% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  6% {
    -webkit-transform: translate(5px,0);
    -ms-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  12% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  18% {
    -webkit-transform: translate(5px,0);
    -ms-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  24% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  30% {
    -webkit-transform: translate(5px,0);
    -ms-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  36% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}

.faa-horizontal.animated,
.faa-horizontal.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-horizontal {
    -webkit-animation: horizontal 2s ease infinite;
    animation: horizontal 2s ease infinite;
}

.faa-horizontal-notify {
    -webkit-animation: horizontal 2s ease 1;
    animation: horizontal 2s ease 1;
}

.cssload-tetrominos {
  position: absolute;
  left: 50%;
  transform: translate(-109px, -94px);
    -o-transform: translate(-109px, -94px);
    -ms-transform: translate(-109px, -94px);
    -webkit-transform: translate(-109px, -94px);
    -moz-transform: translate(-109px, -94px);
}



.cssload-tetrominos {
  position: absolute;
  left: 50%;
  transform: translate(-39px, -34px);
  -o-transform: translate(-39px, -34px);
  -ms-transform: translate(-39px, -34px);
  -webkit-transform: translate(-39px, -34px);
  -moz-transform: translate(-39px, -34px);
  opacity: 0.2;
  top: 70px;
}

.cssload-tetromino {
  width: 34px;
  height: 39px;
  position: absolute;
  transition: all ease 0.285s;
    -o-transition: all ease 0.285s;
    -ms-transition: all ease 0.285s;
    -webkit-transition: all ease 0.285s;
    -moz-transition: all ease 0.285s;
  background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

.cssload-box1 {
  animation: cssload-tetromino1 1.425s ease-out infinite;
    -o-animation: cssload-tetromino1 1.425s ease-out infinite;
    -ms-animation: cssload-tetromino1 1.425s ease-out infinite;
    -webkit-animation: cssload-tetromino1 1.425s ease-out infinite;
    -moz-animation: cssload-tetromino1 1.425s ease-out infinite;
}

.cssload-box2 {
  animation: cssload-tetromino2 1.425s ease-out infinite;
    -o-animation: cssload-tetromino2 1.425s ease-out infinite;
    -ms-animation: cssload-tetromino2 1.425s ease-out infinite;
    -webkit-animation: cssload-tetromino2 1.425s ease-out infinite;
    -moz-animation: cssload-tetromino2 1.425s ease-out infinite;
}

.cssload-box3 {
  animation: cssload-tetromino3 1.425s ease-out infinite;
    -o-animation: cssload-tetromino3 1.425s ease-out infinite;
    -ms-animation: cssload-tetromino3 1.425s ease-out infinite;
    -webkit-animation: cssload-tetromino3 1.425s ease-out infinite;
    -moz-animation: cssload-tetromino3 1.425s ease-out infinite;
  z-index: 2;
}

.cssload-box4 {
  animation: cssload-tetromino4 1.425s ease-out infinite;
    -o-animation: cssload-tetromino4 1.425s ease-out infinite;
    -ms-animation: cssload-tetromino4 1.425s ease-out infinite;
    -webkit-animation: cssload-tetromino4 1.425s ease-out infinite;
    -moz-animation: cssload-tetromino4 1.425s ease-out infinite;
}









@keyframes cssload-tetromino1 {
  0%, 40% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(17px, -9px);
  }
  60%, 100% {
    transform: translate(34px, 0);
  }
}

@-o-keyframes cssload-tetromino1 {
  0%, 40% {
    -o-transform: translate(0, 0);
  }
  50% {
    -o-transform: translate(17px, -9px);
  }
  60%, 100% {
    -o-transform: translate(34px, 0);
  }
}

@-ms-keyframes cssload-tetromino1 {
  0%, 40% {
    -ms-transform: translate(0, 0);
  }
  50% {
    -ms-transform: translate(17px, -9px);
  }
  60%, 100% {
    -ms-transform: translate(34px, 0);
  }
}

@-webkit-keyframes cssload-tetromino1 {
  0%, 40% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(17px, -9px);
  }
  60%, 100% {
    -webkit-transform: translate(34px, 0);
  }
}

@-moz-keyframes cssload-tetromino1 {
  0%, 40% {
    -moz-transform: translate(0, 0);
  }
  50% {
    -moz-transform: translate(17px, -9px);
  }
  60%, 100% {
    -moz-transform: translate(34px, 0);
  }
}

@keyframes cssload-tetromino2 {
  0%, 20% {
    transform: translate(34px, 0px);
  }
  40%, 100% {
    transform: translate(50px, 9px);
  }
}

@-o-keyframes cssload-tetromino2 {
  0%, 20% {
    -o-transform: translate(34px, 0px);
  }
  40%, 100% {
    -o-transform: translate(50px, 9px);
  }
}

@-ms-keyframes cssload-tetromino2 {
  0%, 20% {
    -ms-transform: translate(34px, 0px);
  }
  40%, 100% {
    -ms-transform: translate(50px, 9px);
  }
}

@-webkit-keyframes cssload-tetromino2 {
  0%, 20% {
    -webkit-transform: translate(34px, 0px);
  }
  40%, 100% {
    -webkit-transform: translate(50px, 9px);
  }
}

@-moz-keyframes cssload-tetromino2 {
  0%, 20% {
    -moz-transform: translate(34px, 0px);
  }
  40%, 100% {
    -moz-transform: translate(50px, 9px);
  }
}

@keyframes cssload-tetromino3 {
  0% {
    transform: translate(50px, 9px);
  }
  20%, 60% {
    transform: translate(34px, 19px);
  }
  90%, 100% {
    transform: translate(17px, 9px);
  }
}

@-o-keyframes cssload-tetromino3 {
  0% {
    -o-transform: translate(50px, 9px);
  }
  20%, 60% {
    -o-transform: translate(34px, 19px);
  }
  90%, 100% {
    -o-transform: translate(17px, 9px);
  }
}

@-ms-keyframes cssload-tetromino3 {
  0% {
    -ms-transform: translate(50px, 9px);
  }
  20%, 60% {
    -ms-transform: translate(34px, 19px);
  }
  90%, 100% {
    -ms-transform: translate(17px, 9px);
  }
}

@-webkit-keyframes cssload-tetromino3 {
  0% {
    -webkit-transform: translate(50px, 9px);
  }
  20%, 60% {
    -webkit-transform: translate(34px, 19px);
  }
  90%, 100% {
    -webkit-transform: translate(17px, 9px);
  }
}

@-moz-keyframes cssload-tetromino3 {
  0% {
    -moz-transform: translate(50px, 9px);
  }
  20%, 60% {
    -moz-transform: translate(34px, 19px);
  }
  90%, 100% {
    -moz-transform: translate(17px, 9px);
  }
}

@keyframes cssload-tetromino4 {
  0%, 60% {
    transform: translate(17px, 9px);
  }
  90%, 100% {
    transform: translate(0, 0);
  }
}

@-o-keyframes cssload-tetromino4 {
  0%, 60% {
    -o-transform: translate(17px, 9px);
  }
  90%, 100% {
    -o-transform: translate(0, 0);
  }
}

@-ms-keyframes cssload-tetromino4 {
  0%, 60% {
    -ms-transform: translate(17px, 9px);
  }
  90%, 100% {
    -ms-transform: translate(0, 0);
  }
}

@-webkit-keyframes cssload-tetromino4 {
  0%, 60% {
    -webkit-transform: translate(17px, 9px);
  }
  90%, 100% {
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes cssload-tetromino4 {
  0%, 60% {
    -moz-transform: translate(17px, 9px);
  }
  90%, 100% {
    -moz-transform: translate(0, 0);
  }
}


.spinner {
  margin: 0px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.gridSpinner {
    position: relative;
    width: 50px;
    height: 30px;
    top: -4px;
}

.spinner > div {
  background-color: #BDBDBD;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@keyframes cartBounce {
  0%       { bottom:0px; }
  50%      { bottom:10px; }
  100%     {bottom:0;}
}

@-webkit-keyframes cartBounce {
  0%       { bottom:0px; }
  50%      { bottom:10px; }
  100%     {bottom:0;}
}

.wobble-fix { -webkit-filter: blur(0); }