a,
.sidebar-menu > li > div {
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

a:hover,
.sidebar-menu > li > div:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}

.blankLink {
    border-bottom: none;
}

.blankLink:hover {
    background: transparent;
}

.paddedLink {
    border-style: solid;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-radius: 2px;
    color: #FAFAFA;
}

.whiteHoverLink:hover {
    background: #FAFAFA;
    color: #444 !important;
    border-color: #FAFAFA;
}