.preheader {
	height: 25px;
}

.sidebarContainer {
	margin-top: 25px;
}

.headerContainer {
	height: 130px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.contentContainer {
	margin: 20px;
}

.footerContainer {
	margin-top: 25px;
}

.mobile_menu_button {
	display: none;
}


/*Medium devices*/
@media (min-width: 992px) and (max-width: 1200px) {

}

/*Small devices*/
@media (max-width: 991px) {
	
}

/*Extra small devices */
@media (max-width: 767px) {

	.contentContainer {
		margin-top: 0px;
	}

	.col-md-10 {
		padding-right: 6px;
    	padding-left: 6px;
	}

	.sidebarContainer {
		display: none;
	}

	.container {
	    margin-top: 25px;
	}

	.mobile_menu_button {
		display: block;
	}
}

