html {
     overflow: -moz-scrollbars-vertical;
     overflow: scroll;
     overflow-x: hidden;
}

body {
    background: #E4E4E4;
    font: 14px/21px "Roboto","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #454545 !important;
    width: 100%;
    height: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

::selection {
    background: #ff228f; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #ff228f; /* Gecko Browsers */
}

/*.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row{
  overflow: hidden; 

}*/
h1 {
    color: #000;
    text-transform: uppercase;
    font-family: Montserrat, Helvetica, sans-serif;
    letter-spacing: 2px;
    border-bottom: 2px solid #000;
    margin: 0 0 15px 0;
    font-size: 28px;
    line-height: 50px;
}

h3 {
    font-size: 18px;
    line-height: 34px;
}

select:focus, input:focus {
    outline: none;
}




.global_loadingSpinner,
.global_updatingText {
    display: inline-block;
    margin-right: 10px;
}

.global_updatingSpinner {
    transition: all 0.5s;
    margin-left: 20px;
}

.global_montHeader {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    text-transform: uppercase;
    color: #929292;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 16px;
    cursor: default;
}

/*Product grid/page loading box*/
.productLoadingBox {
    position: relative;
    margin-top: 90px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #ADADAD;
}

.productLoadingSpinner {

}

.productLoadingText {
    font-size: 15px;
}

.productLoadingSpinner,
.productLoadingText {
    display: inline-block;
}

.finalImage {
    display: none;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

#bio_ep_close {
    display: none;
}