#mobile_menu {
  opacity: 0;
}

.mobile_container {

}

.mobile_menu_button {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    background-color: #3FE5C4;
    /* border-radius: 2px; */
    padding: 2px;
    padding-left: 10px;
    color: #FFF;
    cursor: pointer;
}

.mobile_logo {
    float: right;
    display: block;
    height: 36px;
    width: auto;
    right: 5px;
    position: relative;
}

.mm-panel {

}

.mm-panel a {
    border-bottom: none;
}

.mm-panel a:hover {
    
}

.mm-listview>li>a, .mm-listview>li>span {
    color: #2F2F2F;
    border-bottom: solid 2px #E4E4E4;
}

.mm-navbar {
    background-color: #E4E4E4;
    border-bottom: none;
}

.mm-title {
    /* background-image: url("http://editedfresh.co.uk/images/logo.png"); */
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: left;
    color: #080808 !important;
    opacity: 0.8;
    font-family: 'Montserrat';
    font-size: 17px;
}

.mm-listview>li:not(.mm-divider):after {
    border-bottom-width: 0px;
    border-color: #E4E4E4;
}

.mm-listview>li, .mm-listview>li .mm-next, .mm-listview>li .mm-next:before, .mm-listview>li:after {
    border-color: #E4E4E4;
}

.sidebar-mobile-social,
.sidebar-mobile-contact {
    border-bottom: none !important;
    color: #FFF !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-family: 'Montserrat';
    text-align: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.sidebar-contactLinks li {
    margin-bottom: 11.5px;
}

.sidebar-contactText {
    text-align: center;
    margin-bottom: 8px;
}

.sidebar-mobile-contact {
    background: #6b6b6b !important;
    border-color: #6b6b6b !important;
    /* font-size: 16px; */
}

.sidebar-contact-icon {
    padding-right: 8px;
}

.sidebar-line {
    margin: 30px 0;
    /* border-top: 2px solid #dedede; */
}

#hamburger {
   /* border: 1px solid #999; */
   display: inline-block;
   width: 30px;
   top: 5px;
   padding: 0px;
   position: relative;
}

#hamburger span {
   background: #FFF;
   display: block;
   height: 2px;
   width: 20px;
   margin: 5px 0;
}

html.mm-opened #hamburger span.top-bar {
   transform: rotate( 45deg );
   top: 7px;
}

html.mm-opened #hamburger span.middle-bar {
   opacity: 0;
}

html.mm-opened #hamburger span.bottom-bar {
   transform: rotate( -45deg );
   top: -7px;
}

#hamburger {
   overflow: hidden;
}

#hamburger span {
   position: relative;
   transform: rotate( 0 );
   top: 0;
   left: 0;
   opacity: 1;
   transition: none 0.2s ease;
   transition-property: transform, top, left, opacity;
}

.menu_text {
    display: none;
    position: relative;
    bottom: 5px;
}

.mobile_sale_link {
    background-color: #f2662d !important;
}

.mobile_brand_link {
    background-color: #005AFF !important;
}

.mobile_special {
    border: none !important;
    color: #FFF !important;
    margin-top: 10px !important;
}

.mobile_special:hover {
    color: #2F2F2F !important;
}


html.mm-opened #hamburger span.middle-bar {
   left: -40px;
}

/*Medium devices*/
@media (min-width: 992px) and (max-width: 1200px) {

}

/*Small devices*/
@media (max-width: 991px) {

}

/*Extra small devices */
@media (max-width: 767px) {


}