#checkout .hidden {
    display: none;
}

.boxes {
    padding: 15px;
    margin: 15px 0;
}

.boxes h3 {
    border-top: 2px solid #000;
    margin: 0;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 600;
    font-size: 18px;
}

.box-white {
    background-color: #FFF;
}

.accordionTick {
    transition: all 1s;
    opacity: 0;
    float: right;
    padding: 6px;
    color: #0DF500;
}

.accordionWrapper {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.8s;
}

#checkout label,
.checkout_accountLoginBlock {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: normal;
    cursor: default;
}

#checkout form {
    margin: 0px;
}

#checkout form input[type="text"],
#checkout form input[type="password"],
#checkout form input[type="email"],
#checkout form input[type="select"],
#checkout form input[type="number"],
#checkout form input[type="tel"],
#checkout form input[type="text"]:focus,
#checkout form input[type="password"]:focus,
#checkout form input[type="email"]:focus,
#checkout form input[type="select"]:focus,
#checkout form input[type="number"]:focus,
#checkout form input[type="tel"]:focus,
#checkout form select,
#checkout form select:focus {
    width: 100%;
    border: 2px solid #000;
    margin: 0 0 10px 0;
    background: transparent;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
    height: 40px;
    padding: 0 5px;
    border-radius: 0px;
    transition: all 0.1s;
    color: #000;
}

#checkout input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 0px;
    -webkit-appearance: checkbox;
}

#checkout input[type="button"],
#checkout button {
    height: 47px;
    margin: 0;
    font-family: Montserrat, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    background: #000;
    border: 2px solid #000;
    color: #DFDFDE;
    padding: 10px 0;
    text-shadow: none;
    border-radius: 0px;
}

#checkout input[type="button"]:hover,
#checkout button:hover {
    background: #DFDFDE;
    border: 2px solid #000;
    color: #000;
}

#opc_button {
    width: 100%;
}

#checkout input[type="button"]:hover,
#checkout button:hover {
    background: #DFDFDE;
    border: 2px solid #000;
    color: #000 !important;
}

.accordionBackButton {
    float: right !important;
}

.checkoutButtonRow {
    margin-top: 10px;
}


#checkout form input.ng-dirty.ng-valid,
#checkout form .ng-submitted input.ng-valid,
#checkout form select.ng-dirty.ng-valid,
#checkout form .ng-submitted select.ng-valid {
    border: solid 2px #15C300;
}

#checkout form input.ng-dirty.ng-invalid,
#checkout form .ng-submitted input.ng-invalid,
#checkout form select.ng-dirty.ng-invalid, 
#checkout form .ng-submitted select.ng-invalid {
    border: solid 2px #C30000;
}

.requiredlabel::after {
    content: "*";
    color: red;
}

#checkout .errorMessage {
    color: #DD0000;
    text-transform: uppercase;
    font-size: 11px;
    margin: -6px 0 0 0;
    line-height: 17px;
}

#checkout .phoneMessage {
    padding: 10px;
    padding-left: 0px;
    padding-top: 27px;
    font-size: 11px;
    line-height: 15px;
}

.hideAddressFields,
.hideFinderFields {
    overflow: hidden;
    transition: all 1s;
}

.showAddressLink {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lookupShippingAddress,
.lookupBillingAddress {
    margin-top: 15px;
    margin-bottom: 15px;
}

.addressFields {
    margin-top: 10px;
}

.checkboxRow {
    margin-top: 5px;
    margin-bottom: 5px;
}

#opc_dropdown {
    margin-top: 12px !important;
}

#billing_address_form {
    overflow: hidden;
    transition: all 1s;
}

.accordionHeadText {
    position: relative;
    width: 100%;
    top: 3px;
    transition: all 0.3s;
    /* background: #ffffff; */
    color: #4c4c4c;
    padding: 5px;
    padding-left: 0px;
    overflow: hidden;
    /* text-align: center; */
    /* max-height: 50px; */
}

.accordionHeadText:before {
    content: "- ";
}

.accordionHeadText:after {
    content: " -";
}

.paymentDetails > .accordionHeadText {
    margin-bottom: 15px;
    text-align: center;
} 

/*Delivery option styles*/
.deliveryOpts,
.paymentOpts,
.paymentDetails {
   border: 2px solid #000;
   padding: 0 7.5px 7.5px 7.5px;
   transition:  background-color 0.2s, opacity 0.2s;
   cursor: pointer;
   margin-top: 10px;
   position: relative;
}

.deliveryOpts {
   min-height: 205px !important;
}

.deliveryOptsBig {
    min-height: 230px !important;
}

.deliveryOpts h4,
.paymentOpts h4,
.paymentDetails h4 {
   border-bottom: 2px solid #000;
   padding: 0px;
   padding-bottom: 8px;
   margin-bottom: 7.5px;
   margin-top: 7px;
   font-family: Roboto;
   text-transform: uppercase;
   font-size: 15px;
}

.paymentDetails {
    cursor: default;
    border: none !important;
    background-color: #F9F9F9;
    padding: 20px;
    padding-top: 25px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.deliveryOptsText,
.paymentOptsText {
    position: relative;
    bottom: 5px;
    left: 5px;
}

.deliveryOptsIcon,
.paymentOptsIcon {
    position: relative;
    display: block;
    text-align: center;
}

.hiddenShippingRow {
    display: none;
}

.selectedDeliveryOpt,
.selectedPaymentOpt {
    opacity: 1;
}

.unselectedDeliveryOpt {
    opacity: 0.4;
}

.paymentOpts {
    max-height: 500px;
    overflow: hidden;
    transition: all 0.5s, border 0s;
}

.unselectedPaymentOpt {
    opacity: 0.8;
    border: none;
    background: #F9F9F9;
}

.selectedPaymentOpt {
    border: none;
    background-color: #F9F9F9;
}

.hidePaymentOpt {
    display: none;
}

.unselectedDeliveryOpt:hover,
.unselectedPaymentOpt:hover {
    opacity: 1;
    background-color: #F3F3F3 !important;
}

.deliveryTick,
.paymentTick {
    color: #0DF500;
    padding-left: 5px;
    opacity: 0;
    tranisition: all 0.5s;
}

.selectedDeliveryOpt .deliveryTick,
.selectedPaymentOpt .paymentTick {
    opacity: 1;
}

.deliveryOptsRow {
    margin-bottom: 25px;
    margin-top: 10px;
}

.checkout_customPasswordRow {
    overflow: hidden;
    transition: all 0.5s;
}

.checkout_customPasswordHiddenRow {
}

.createAccountLabel,
.newsletterLabel {
    margin-left: 8px;
    transition: all 0.1s;
    display: inline;
}

.checkout_accountSetupBlock {
    margin-top: 8px;
}

#checkout_payment {

}

.paymentOptionRow {
    margin-top: 12px;
    margin-bottom: 0px;
}

.chooseDifferentMethodLink {
    margin-top: 15px;
}

.fullWidthPaymentRow {
    max-height: 35px;
    /*width: 100% !important;*/
}

.hiddenPaymentRow {
    opacity: 0;
    max-height: 0px !important;
    padding: 0;
    margin: 0;
    transition: all 0s;
}

.hiddenPaymentRow:hover {
    opacity: 0 !important;
}

.checkout_disabledButton {
    cursor: default !important;
    background: #DFDFDE !important;
    border: 2px solid #DFDFDE !important;
    color: #B5B5B5 !important;
}

.checkout_disabledButton:hover {
    background: #DFDFDE !important;
    border: 2px solid #DFDFDE !important;
    color: #B5B5B5 !important;
}

.checkout_changePaymentRow {
    margin-top: 20px;
}

.checkout_cardCharge {
    font-size: 13px;
    color: #676767;
}

.paymentUpdateDisplay {
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    cursor: default;
}

.paymentUpdateSpinner {
    margin-bottom: 12px;
}

.checkout_paymentError {  
    color: #F32F2F;
    font-weight: 600;
}

.checkout_paymentError i {
    margin-right: 10px;
}

.checkout_paymentError span {
    top: -5px;
    position: relative;
}

.checkout_cardChange {
    text-align: center;
}

.checkout_finalChange {
    text-align: right;
    margin-top: 15px;
}

.loadingAddresses {
    padding-top: 12px;
    padding-bottom: 10px;
}

.savedAddressContainer {
    margin-top: 15px;
    margin-bottom: 10px;
}

.savedAddress {
    cursor: pointer;
    border: solid 2px;
    margin: 0px;
    margin-top: 8px;
    padding: 5px;
    background-color: #F7F7F7;
    transition: all 0.3s;
}

.savedAddress:hover {
    background: #FFF;
}

.checkoutAddressTitle {
    text-transform: uppercase;
    /* width: 100%; */
    margin-top: 10px;
    margin-bottom: 10px;
    color: #B7B7B7;
    font-size: 13px;
    font-weight: 100;
}

.checkoutAddressTitle > span {
    border-bottom: 2px solid #DADADA;
}

.showAddressFinderLinkBox {
    margin-top: 20px;
    margin-bottom: 13px;
}

.paypalContainer {
    text-align: center;
    padding: 5px;
}

.paypalButton {
    cursor: pointer;
}

.paypal-button {
    background: none !important;
    border: none !important;
    max-width: 200px !important;
    overflow: initial !important;
}

.paypal-button.paypal-style-checkout.paypal-size-small{
    max-width: 200px !important;
    overflow: inherit;
}

.paypal-button-content {
    width: 180px !important;
}

.paypalCheckoutInfo {
    font-size: 11px;
    line-height: 16px;
}

.paymentButtonRow {
    margin-top: 10px;
}

.makeStripePaymentRow {
    text-align: center;
    margin-top: 15px;
}

.makeStripePaymentButton,
.makeFinalPaymentButton {
    color: #FFF !important;
}

.confirm_box {
    background-color: #F1F1F1;
}

.paymentTextBox {
    background: #F1F1F1;
    padding: 12px;
    line-height: 26px;
    margin-top: 17px;
}

.paymentVerifiedText {
    font-weight: bold;
}

.confirmAccordionWrapper {
    margin-top: 15px;
}

.skeuocard.js .cc-field input:focus {
    outline: 1px auto #000 !important;
}

.checkout_finalErrorRow {
    padding: 15px;
}

/*Medium devices*/
@media (min-width: 992px) and (max-width: 1200px) {

}

/*Small devices*/
@media (max-width: 991px) {
    #checkout .phoneMessage {
        padding-top: 8px;
    }
}

/*Extra small devices */
@media (max-width: 767px) {

    .accordionButton {
        margin-top: 10px !important;
    }

    .paypalCheckoutInfo {
        margin-bottom: 16px;
    }

}

