.brand_wrap {
    height: auto;
    text-align: center;
    margin-bottom: 25px;
    height: auto;
    text-align: center;
}

.brand_image {
    padding: 25px;
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
}

.brand_wrap a {
	border-bottom: none;
}

.brand_wrap a:hover {
	border-bottom: none;
}