.receipt {
	background: #F1F1F1;
}

.receipt_complete {
	background: #9C9C9C;
	height: 90px;
	top: -10px;
	text-align: center;
	position: relative;
}

.receipt_complete h1 {
	border-radius: 2px;
	padding: 5px 5px 5px 10px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	font-size: 28px;
	color: #fff;
	margin: 0px;
	display: inline;
	border: none;
	line-height: 90px;
}

.receipt_tableContainer,
.receipt_text {
    margin-top: 26px;
    padding: 20px;
    background: #F1F1F1;
}

.receipt_text {
	line-height: 26px;
}

.receipt_table {
	max-width: 600px;
}

.receipt_tableItemName {
	text-align: left !important;
}

.receipt_table tr {
	height: 40px;
}

.receipt_table td {
	text-align: center;
}

.receipt_orderSummary {
	margin-top: 20px;
}

.receipt_box {
	padding-top: 1px;
}

.receipt_box h3 {
	border-top: none;
	margin-top: 8px;
}

.receipt_addressBox {
	height: 240px;
}

.receipt_subtotalbox {
	background: #FFF;
}

.receipt_orderOnlyNote {
	display: block;
	font-size: 12px;
	color: #FF4A00;
}