.homeGrid-display > .row {
    /*margin-bottom: 23px;*/
}

.homeGrid-display a {
    border: none;
}

.homeGrid-heroItem {
    /*max-height: 400px;*/
    max-height: 230px;
    overflow: hidden;
}

.homeGrid-item {
    position: relative;
    margin-bottom: 23px;
}


.homeGrid-colorOverlay {
    position: absolute;
    opacity: 0;
    background: none;
    width: 100%;
    height: 100%;
    top: 0px;
}

.homeGrid-colorOverlayFullOpacity {
    opacity: 0.9;
}

.homeGrid-finalImage {
    text-align: center;
    /* width: 100%; */
    display: none;
}

.homeGrid-itemText {
    line-height: normal;
    color: #FFF;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    justify-content: center;
    display: flex;
}

.homeGrid-textAligner {
    align-self: center;
}

.homeGrid-itemText h3 {
    font-family: Montserrat,Helvetica,sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.homeGrid-itemText h5 {
    letter-spacing: 0.04em;
    font-weight: 300;
    line-height: 21px;
    font-size: 15px;
}

.homeGrid-itemTextHero {

}

.homeGrid-itemTextHero h3 {
    font-size: 6em;
    letter-spacing: 8px;
}

.homeGrid-itemTextHero h5 {
    font-size: 1.6em;
    padding-bottom: 6px;
    padding-top: 18px;
}

.it-hover-teal {
    background: rgba(63, 229, 196, 0.85);
    border-radius: 2px;
}

.it-hover-orange {
    background: rgba(255, 68, 34, 0.85);
    border-radius: 2px;
}

.it-hover-pink {
    background: rgba(255, 34, 143, 0.85);
    border-radius: 2px;
}

.it-hover-yellow {
    background: rgba(255, 221, 34, 0.85);
    border-radius: 2px;
}

.it-hover-navy {
    background: rgba(29, 45, 92, 0.85);
    border-radius: 2px;
}

.it-hover-rose {
    background: rgba(243, 162, 181, 0.85);
    border-radius: 2px;
}

.it-hover-red {
    background: rgba(255, 0, 48, 0.85);
    border-radius: 2px;
}

.it-hover-green {
    background: rgba(74, 232, 88, 0.85);
    border-radius: 2px;
}

.homeGrid-mobile {
    display: none;
}

.homeGrid-selectedItemLine {

}

.homeGrid-selectedItemText {
    text-align: center;
    font-family: Roboto;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 20px;
    display: none;
}

.homeGrid-selectedItemBox {
    overflow: auto;
    margin-bottom: 35px;
    padding-bottom: 0px;
    margin-top: 10px;
    /* padding-top: 25px; */
    /* border-top: solid 26px #d2d2d2; */
    /* border-bottom: solid 26px #d2d2d2; */
    background: #dedede;
}

.homeGrid-catLink {

}

.homeGrid-explainer {
    text-align: center;
    background: #868686;
    padding: 5px;
    margin-bottom: 17px;
    font-size: 15px;
    color: #ffffff;
    padding-right: 5px;
    padding-left: 5px;
}

.homeGrid-explainerMain {
}

.homeGrid-explainerDelivery {
    font-style: italic;
    color: #ececec;
}


/*Medium devices*/
@media (min-width: 992px) and (max-width: 1200px) {

}

/*Small devices*/
@media (max-width: 991px) {

    .homeGrid-itemTextHero h3 {
        font-size: 4em;
    }

    .homeGrid-heroItem {
        max-height: 271px;
        overflow: visible;
    }

}

@media (min-width: 767px) and (max-width: 992px) {

    .homeGrid-selectedItemBox {
        display: none; 
    }

}

/*Extra small devices */
@media (max-width: 767px) {

    .homeGrid-itemTextHero h3 {
        font-size: 8vw;
    }

    .homeGrid-itemText h3 {
        font-size: 8vw;
    }  

    .homeGrid-mobile {
        display: block;
    }

    .homeGrid-itemTextHero h5 {
        font-size: 1.3em;
        display: none;
    }

    .homeGrid-explainer {
        font-size: 13px;
        line-height: 17px;
        padding-bottom: 8px;
    }

    .homeGrid-explainerDelivery {
        /* display: block; */
    }

}

@media (max-width: 576px) {

    .homeGrid-itemTextHero h3 {
        font-size: 6vw;
        margin-top: 17px;
        padding-bottom: 0px;
    }

    .homeGrid-itemTextHero h5 {
        font-size: 1em;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 0px;
        line-height: 16px;
        display: none;
    }

}

@media (max-width: 400px) {

    .homeGrid-itemTextHero h5 {
        bottom: 16px;
        position: relative;
        line-height: 14px;
    }

}
