 .account_whiteBox {
    background: #fff;
    padding: 10px;
    margin-top: 15px;
}

.account_whiteBox h2 {
    font-size: 16px;
    margin-top: 4px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.account_whiteBox form {
    margin-bottom: 0px;
}

.account_whiteBox span {
}

.account_whiteBox label {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
}

.account_button {
    width: 100% !important;
    margin: 7px 0 0 0;
    font-family: Montserrat, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #000;
    color: #000;
    padding: 10px 0;
    border-radius: 0px;
    display: block;
    text-align: center;
}

.account_button:hover {
    background: #000;
    color: #FFF;
}

.account_buttonDisabled {
    cursor: default !important;
    background: #E0E0E0;
    border: 2px solid #C3C3C3;
    color: #A5A5A5;
}

.account_buttonDisabled:hover {
    background: #E0E0E0;
    color: #A5A5A5;
}

.account_input,
.account_input:focus {
    width: 100%;
    box-sizing: border-box;
    height: 40px !important;
    padding: 10px !important;
    border-radius: 2px !important;
    border: 2px solid #000 !important;
    color: #000 !important;
    margin: 0 0 0px 0;
    margin-bottom: 0px !important;
    text-transform: none;
    background: transparent;
    box-shadow: none !important;
}



.account_inlineText {
    display: inline !important;
}

.account_checkbox {
    width: 20px !important;
    border: 2px solid #000;
    height: 20px;
    text-indent: 7px;
    background: #fff;
    margin: 0;
    color: #000;
}

.account_link {
}

.account_spacer {
    width: 100%;
    height: 13px;
}

.account_hideBox {
    transition: all 0.5s;
    overflow: hidden;
}

.account_loadingSpinner {
    margin-right: 8px;
}

.account_progress {
    text-align: center;
}

.requiredlabel::after {
    margin-left: 4px;
}

.account_spaceError {
    margin-top: 9px;
}

.account_detailsLabel {
    font-size: 12px;
}

.account_detailsLabelMargin {
    margin-top: 15px;    
}

.account_detailsText {
    margin-bottom: 12px;
}

.account_accordion {
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.6s;
}

.account_passwordAccordion {
    overflow: hidden;
}

.account_hoverDetails,
.account_addressDetails {
    border: solid 2px #464646;
    margin-top: 5px;
    padding: 10px;
    padding-bottom: 0px;
    background: #F7F7F7;
    transition: all 0.3s;
    cursor: pointer;
    margin-right: 10px;
}

.account_hoverDetails:hover {
    background: #FFF;
}

.account_hoverDetails p {
    line-height: 12px;
}

.account_orderDate {
    font-size: 12px;
    line-height: 5px !important;
}

.account_orderBox {
   padding-bottom: 0px;
}

.account_orderBox h2 {
    margin-bottom: 0px;
}

.account_orderInner {
    padding-top: 10px;
    padding-bottom: 10px;
}

.account_addressInner {
    overflow: hidden;
    max-height: 0px;
}

.account_addressInnerLoaded {
    padding-top: 10px;
    padding-bottom: 10px;   
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.account_deleteAddressBtn {
    border-bottom: none;
    display: inline-block;
    float: right;
    top: -55px;
    position: relative;
}

.account_addressText {
}

.account_addressDetails {
    cursor: default;
}

.account_passwordForm {

}

.account_passwordForm label {

}

.account_passwordForm input {
    margin-bottom: 10px !important;
}

.account_passwordForm input:focus {
    margin-bottom: 10px !important;
}