.checkout_button {
    width: 100%;
    background: none;
    color: #B7B6B6;
    border: 2px solid #B7B6B6;
    text-transform: uppercase;
    font-family: Montserrat, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding: 10px 5px;
    text-align: center;
    height: 47px;
    cursor: pointer;
}

.checkout_button:hover {
    background: #B7B6B6;
    border: 2px solid #B7B6B6;
    color: #DFDFDE;
}

.checkout_buttonYellow {
    color: #000;
    border: 2px solid #FBFF11;
}

.checkout_buttonYellow:hover {
    background: #FBFF11;
    color: #757575;
    border: 2px solid #FBFF11;
}

.checkout_buttonRow {
    margin-top: 14px;
}

.cart_quickNotice {
    background: #d8d8d8;
    padding: 14px;
    margin-top: 15px;
}

.cart_discountBox {
    margin-bottom: 6px;
}

.cart_discountInput,
.cart_discountButton {
    width: 100% !important;
}

.cart_discountButton {
    margin-top: 0px;
    height: 40px;
    padding-top: 8px;
}

.cart_discountMessage {
    padding-top: 4px;
    font-size: 12px;
}

/*Small devices*/
@media (max-width: 991px) {
    .checkout_button {
        margin-bottom: 10px;
    }
}