#slider{
	width:500px;
	top:100px;
	position: fixed;
}
   
#header{
	width: 340px;
	height: 515px;
	position:absolute;
	right:0px;
	margin-left:40px;
	padding: 10px 25px;
	border-radius: 0px;
	background: #FFF;
	/* box-shadow: 0 0 8px gray; */
}

#sidebar{
	position:absolute;
	top: 160px;
	left: 118px;
	cursor: pointer;
}

#sidebar1{
	position:absolute;
	top: 160px;
	left: 118px;
	/* box-shadow: 0 0 8px gray; */
	cursor: pointer;
}

#slider p {
    line-height: 21px;
    font-size: 14px;
}

.contact_open_image {
	
border-radius: 3px;
}

.contact_input {
	width: 100% !important;
	box-sizing: border-box !important;
	height: 40px !important;
	padding: 10px !important;
	border-radius: 2px !important;
	border: 2px solid #000 !important;
	color: #000 !important;
	text-transform: none !important;
	background: transparent !important;
	box-shadow: none !important;
	margin-bottom: 0px !important;
	margin-top: 10px;
}

.contact_message {
	height: 100px !important;
}

.contact_button {
    width: 100% !important;
    margin: 7px 0 0 0;
    font-family: Montserrat, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #000;
    color: #000;
    padding: 10px 0;
    border-radius: 0px;
    display: block;
    text-align: center;
    cursor: pointer !important;
}

.contact_buttonDisabled {
    cursor: default !important;
    background: #E0E0E0 !important;
    border: 2px solid #C3C3C3 !important;
    color: #A5A5A5 !important;
}

.contact_button:hover {
    background: #000;
    color: #FFF;
}

.contact_complete_message {
	font-size: 11px !important;
}

.contact_centreAll {
    text-align: center;
    margin-top: 210px;
    font-size: 18px;
}

.contact_icon {
    margin-right: 15px;
    position: relative;
    top: 6px;
}

.contact_tick {
	color: #0DF500;
	margin-right: 6px !important
}

.contact_close {
	position: relative;	
	text-align: right;
	height: 0px;
}

.contact_closeIcon {
	cursor: pointer;
}

@media (max-width: 767px) {

	#slider {
		display: none;
	}

}