.box-peach {
    background-color: #FEE4D7;
}

.box-violet {
    background-color: #F0E9FD;
}

.box-sage {
    background-color: #EEEDE8;
}

.box-yellow {
    background-color: #FFFEC2;
}

.heading-page-3 {
    border-top: none !important;
    margin-top: 20px !important;
}

.shop-image {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
}

.boxes-no-top {
	margin-top: 0px !important;
}