.vex-body {

}

.vex.vex-theme-wireframe .vex-overlay {
    background: rgba(0, 0, 0, 0.4);
}

.vex-content {
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.vex-close {

}

.vex-text {
    margin-bottom: 18px;
    text-align: left;
}

.vex-text-small {
	text-align: center;
	font-size: 10px;
}

.vex-feedback-input {
	height: 150px !important;
    margin-bottom: 10px !important;
}

.vex h1 {
	border-bottom: none !important;
	line-height: 38px !important;
}

.vex input, .vex input:focus, 
.vex textarea, .vex textarea:focus {
    border-radius: 0px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-style: solid !important;
    resize: none;
}

.vex input[type=button] {
	font-family: Montserrat, Helvetica, sans-serif;
	font-weight: 400;
    font-size: 1em;
}

.vex-payment-content {
    text-align: center;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.vex-payment-content span {
	font-size: 14px;
}

.vex-payment-content h4 {
    font-size: 24px;
    line-height: 36px;
    font-family: Montserrat;
    text-transform: uppercase;
}

.vex-tick {
	color: #6EFF55;
}