<div id="slider" style="right:-342px;">
	<div id="sidebar" onclick="open_panel()">
		<img class = "contact_open_image" src="images/contact.png"/>
	</div>
	<div id="header">
		<div class = "contact_close">
			<i class="fa fa-times contact_closeIcon" onclick = "close_panel()"></i>
		</div>
		<div ng-show = "contact_stage == 'message' || contact_stage == 'failed'">
			<h2>Contact us</h2>
			<p>Got a query about a product, delivery, our store, or anything else?</p>
			<p>We are here to answer your queries! Send over the details and we will get back to you as soon as possible.</p>
			<form name = "contactForm" novalidate ng-submit = "contactForm.$valid && contact_sendContactMessage(contact)">
				<input type="text" id = "contact_name_field" class = "contact_input" placeholder="Your Name" ng-model = "contact.name" required/>
				<input type="text" id = "contact_email_field" class = "contact_input" placeholder="Your Email" ng-model = "contact.email" required/>
				<textarea type="text" id = "contact_message_field" class = "contact_input contact_message" placeholder="Your message" ng-model = "contact.message" required></textarea>
				<p class = "contact_complete_message">Please ensure all fields are complete before sending</p>
				<input type = "submit" value = "Send" class = "contact_button" ng-class = "{'contact_buttonDisabled': (!contactForm.$valid)}"></a>
			</form>
		</div>
		<div class = "contact_centreAll" ng-show = "contact_stage == 'sending'">
			<i class = "fa contact_icon fa-refresh fa-2x fa-spin account_loadingSpinner"></i>Sending
		</div>
		<div class = "contact_centreAll" ng-show = "contact_stage == 'complete'">
			<i class = "fa contact_icon contact_tick fa-check fa-2x"></i>Message sent
		</div>
	</div>
</div>