<div class = "extra_container">

	<div class = "extra_header">
		A few other things that might interest you
	</div>

	<div class = "row">
		Products list here with add to cart button below each one
	</div> 

</div>