<div class = "footer-container">

	<div class="row footer-row">
		<div class="footer-block footer-blockSide col-md-4 col-sm-4">
			<h4>Navigation</h4>
			<ul class="footer-navigation">
				<li>
		            <a href="about-us">About Us</a>
		        </li>
		        <li>
		            <a href="our-stores">Our Store</a>
		        </li>
		        <li>
		            <a href="delivery-and-returns">Delivery &
		            Returns</a>
		        </li>
		        <li>
		            <a href="privacy-policy">Privacy Policy</a>
		        </li>
		        <li>
		            <a href="terms-and-conditions">Terms and
		            Conditions</a>
		        </li>
		        <!--<li>
		            <a href="contact-us">Contact Us</a>
		        </li>
		        <li>
		            <a href="jobs">Jobs</a>
		        </li>-->
		        <li>
		            <a href="product-submissions">Product
		            Submissions</a>
		        </li>
		        <!--<li>
		            <a href="/site-map">Sitemap</a>
		        </li>-->
			</ul>
		</div>
		<div class="footer-block col-md-4 col-sm-4">
			<h4>Brighton Store</h4>
			17-19 Brighton Square<br>
			Brighton<br>
			BN1 1HD<br>
			<a href="tel:01273604006">01273 604006</a><br>
			<a href="mailto:brighton@edited.co.uk">brighton@edited.co.uk</a><br>
			<br>
			<div class = "footer-openingSign opening"></div>
			<div class = "footer-openingText opening"></div><br>
			<a href = "our-stores">Full opening times & store details</a>
		</div>
		<div class="footer-block footer-blockSide col-md-4 col-sm-4">
			<h4>Need Some Help?</h4>
			We're simply a phone call away on <a href="tel:01273604006">01273 604006</a>, or email us at <a href="mailto:hello@edited.co.uk">hello@edited.co.uk</a>.
			<br><br>
			<i class="fa fa-lock"></i> Checkout securely using SSL.<br>
			<i class="fa fa-cc-visa fa-2x"></i> <i class="fa fa-cc-mastercard fa-2x"></i> <i class="fa fa-cc-paypal fa-2x"></i><br><br>
			Edited Online 1.2<br>
			© 2016 Edited. All Rights Reserved.
		</div>

		<div class = "col-sm-12">
			<div class = "footer-feedbackBox">
				<div class = "global_montHeader footer-feedbackTitle">What our customers are saying</div>
				<div class = "footer-feedbackText">
					<i class="fa fa-quote-left footer-feedbackQuote footer-feedbackQuoteLeft" aria-hidden="true"></i>
					<span ng-bind-html = "getFeedback().text"></span>
					<i class="fa fa-quote-right footer-feedbackQuote footer-feedbackQuoteRight" aria-hidden="true"></i>
				</div>
				<span class = "footer-feedbackName" ng-bind-html = "getFeedback().name"></span>
			</div>
		</div>
	</div>
</div>