<div class = "account animated fadeIn">

	<div class = "row">

		<div class = "col-md-12">
			<h1>Your account</h1>
		</div>

	</div>

	<div class = "row">

		<div class = "col-md-6">
			
			<div class = "account_whiteBox account_detailsBox">
				<h2>Account details</h2>
				<div class = "account_detailsFields">
					<div class = "account_detailsLabel account_detailsLabelMargin">
						Email address
					</div>
					<div class = "account_detailsText">
						{{loggedInCustomerJson.email}}
					</div>
					<div class = "account_detailsLabel account_detailsLabelMargin">
						Name
					</div>
					<div class = "account_detailsText">
						{{loggedInCustomerJson.first_name}} {{loggedInCustomerJson.last_name}} 
					</div>
					<div class = "account_detailsLabel account_detailsLabelMargin">
						Password
					</div>
					<div class = "account_detailsText">
						**********
					</div>

				</div>

				<span ng-show = "passwordResetSuccessfully">Password reset successfully</span>
				<div class = "account_passwordFields account_accordion account_passwordAccordion" ng-style = "{'max-height': showPasswordChange ? '500px' : '0px'}">
					<!--change pass fields in herem expand on click-->
					<form name = "form" novalidate ng-submit="form.$valid && changeAccountPass()" class = "account_passwordForm">
					    <label for = "password">Enter New Password</label>
					    <input class = "account_input" type="password" name = "password" ng-model="passForm.newPass" ng-pattern="/^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])[a-zA-Z0-9!@#$%^&*]{6,25}$/" ng-model-options="{ debounce: 650 }" ng-minlength = "6" ng-maxlength = "25" required/>
					    <div ng-messages="form.password.$error" role = "alert">
							<div class = "errorMessage" ng-message="minlength">Password must be at least 6 characters.</div>
							<div class = "errorMessage" ng-message="pattern">Be secure! Password must contain at least 1 uppercase, 1 lowercase & 1 number.</div>
						</div>
						<label for = "passwordRepeat">Repeat Password</label>
						<input type="password" class = "account_input" name = "passwordRepeat" ng-model="passForm.newPassRepeat" required/>
						<div class = "errorMessage" ng-show = "!passMatch">Passwords must match</div>

					    <input type="submit" value="Submit change" class = "account_button" ng-class = "{'account_buttonDisabled': resetInProgress}"/>
					</form>
					<a href = "" ng-click = "showPasswordChange = false" ng-show = "!resetInProgress">Cancel password change</a>

					<div class = "global_updatingSpinner" ng-style = "{ opacity: resetInProgress ? 1 : 0 }" ng-show = "resetInProgress">
						<i class="fa fa-refresh fa-spin global_loadingSpinner"></i>Resetting your password
					</div> 
				</div>
				<a href = "" class = "account_button" ng-click = "showPasswordChange = true" ng-show = "!showPasswordChange">Change password</a>  


			</div>

			<div class = "account_whiteBox account_addressBox">
				<h2>Saved addresses</h2>
				<div ng-if = "loadingAddresses" class = "account_orderInner">
					<div class = "account_updatingSpinner">
						<i class="fa fa-refresh fa-spin cart_loadingSpinner"></i>
						<div class = "cart_updatingText">Loading your saved addresses...</div>
					</div>
				</div>
				<div ng-class = "{'account_addressInnerLoaded': !loadingAddresses}" class = "account_accordion account_addressInner">
					<div ng-if = "loggedInCustomerAddresses.length > 0">
						<div class = "account_detailsLabel">Click the cross against each address to remove it</div>
						<div class = "account_addressList">
							<!-- ng list of addresses-->
							<div class = "account_addressDetails" ng-repeat = "address in loggedInCustomerAddresses | unique: 'address_1'">
								<div class = "account_detailsText account_addressText">
									{{formatAddressForGrid(address)}}

								</div>
								<a href = "" ng-click = "deleteAddress(address.id)" ng-class = "{cart_disabledLink: deletingAddress}" class = "account_deleteAddressBtn">
									<i class="fa fa-times"></i>
								</a>

							</div>
						</div>
					</div>
					<div ng-if = "loggedInCustomerAddresses.length == 0">
						You don't yet have any saved addresses with this account
					</div>
					<div ng-if = "errorDeletingAddress" class = "errorMessage">
						<br>There was error when deleting this address, please refresh and try again
					</div>
				</div>
			</div>
		</div>

		<div class = "col-md-6">

			<div class = "account_whiteBox account_orderBox">
				<h2>Previous orders</h2>
				<div ng-if = "loadingOrders" class = "account_orderInner">
					<div class = "account_updatingSpinner">
						<i class="fa fa-refresh fa-spin cart_loadingSpinner"></i>
						<div class = "cart_updatingText">Loading your previous orders...</div>
					</div>
				</div>
				<div ng-style = "{'max-height': loadingOrders ? '0px' : '400px'}" class = "account_accordion account_orderInner">
					<div ng-if = "customerOrders.length > 0">
						<div class = "account_detailsLabel">Click an order to view full receipt</div>
						<div class = "account_orderList">
							<!-- ng list of orders-->
							<div class = "account_singleOrder account_hoverDetails" ng-repeat = "order in customerOrders | orderBy: 'updated_at':true" ng-click = "goToReceipt(order.id)">
								<!--{{order.updated_at}}-->
								<p ng-bind="formatAccountDate(order.updated_at) | date:'dd/MM/yyyy'" class = "account_orderDate"></p>
								<p ng-bind-html = "encodeHtml('Order value: ' + order.totals.formatted.total) | unsafe" class = "account_orderValue"></p>
								<p class = "account_orderShipping">{{order.shipping.value}} - {{order.gateway.value}}</p>

							</div>

						</div>
					</div>
					<div ng-if = "customerOrders.length == 0">
						You haven't yet made any orders with this account
					</div>
					<div ng-if = "orderIssue">
						There are currently issues loading previous orders from Moltin (the ecommerce engine that powers our site)<br><br>
						Please check your email for receipts regarding your previous orders, if you are missing any receipts, please check your spam folder or contact us via phone on <a href="tel:01273604006">01273 604006</a>, or email at <a href="mailto:hello@edited.co.uk">hello@edited.co.uk</a>.
					</div>
				</div>
			</div>

		</div>


	</div>
    
</div>