<!--<a href = "/">Home</a>
<a href = "/second">Second</a>-->

<div class = "row animated fadeIn header-container">

	<div class = "col-lg-5 col-lg-offset-7 col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-12 header-menu">
		<div class = "header-search">
			<form name = "searchForm" class = "header-searchForm" ng-submit = "runSearchQuery()">
				<input ng-model = "searchQuery" id = "search" class = "header-searchBox" placeholder = "Search"></input>
			</form>
			<button id = "searchButton" class = "header-searchButton" ng-class = "{'header-searchButtonActive': searchQuery.length > minSearchQueryLength}" ng-click = "runSearchQuery()">
				<i class="fa fa-search"></i>
			</button>
			<!--<div class = "header-searchMessage" ng-class = "{'header-searchMessageShow': searchQuery.length > minSearchQueryLength}">Press enter to search</div>-->
		</div>
		<div class = "header-accountLinks">
			<a href = "/account">Account</a>
			<a ng-show = "loggedIn" href = "" ng-click = "logoutUser()">Logout</a>
			<!--<a href = "/wishlists">Wishlists</a>-->
			<a href = "/cart">Basket</a>
			<span class = "header-cartButtonSpan">
				<a id = "cartButton" class = "header-cartButton" href = "/cart" ng-bind-html = "encodeHtml(rawCartAmount + '<i class=&quot;fa fa-shopping-cart&quot;></i>') | unsafe">
					
				</a>
			</span>
		</div>
		<div class = "header-loggedInWelcome">
			<span ng-show = "loggedIn" class = "header-loggedInFirstName">Welcome back {{loggedInCustomerJson.first_name}}</span>
		</div>
	</div>

</div>