<ul>
    <li><a href="/"> Home </a>
    </li>
    <li>
        <span>Accessories</span>
        <ul>
            <li><a href="/accessories">All</a>
            </li>
            <li><a href="/accessories-plant-pots"> Plant Pots </a>
            </li>
            <li><a href="/accessories-clocks"> Clocks </a>
            </li>
            <li><a href="/accessories-home-storage"> Home Storage </a>
            </li>
            <li><a href="/accessories-home-decoration"> Home Decoration </a>
            </li>
            <li><a href="/accessories-candles-scents-and-holders"> Candles, Scents &amp; Holders </a>
            </li>
        </ul>
    </li>
    <li>
        <span>Kitchen & Dining</span>
        <ul>
            <li><a href="/kitchen-and-dining">All</a>
            </li>
            <li><a href="/kitchen-and-dining-tea-towels-and-textiles"> Tea Towels &amp; Textiles </a>
            </li>
            <li><a href="/kitchen-and-dining-serveware"> Serveware </a>
            </li>
            <li><a href="/kitchen-and-dining-glassware"> Glassware </a>
            </li>
            <li><a href="/kitchen-and-dining-cups-and-mugs"> Cups &amp; Mugs </a>
            </li>
        </ul>
    </li>
    <li>
        <span>Soft Furnishings</span>
        <ul>
            <li><a href="/soft-furnishings">All</a>
            </li>
            <li><a href="/soft-furnishings-towels"> Towels </a>
            </li>
            <!--<li><a href="/soft-furnishings-rugs"> Rugs </a>
            </li>-->
            <li><a href="/soft-furnishings-bedding"> Bedding </a>
            </li>
            <!--<li><a href="/soft-furnishings-throws"> Throws </a>
            </li>-->
            <li><a href="/soft-furnishings-cushions"> Cushions </a>
            </li>
        </ul>
    </li>
    <li><a href="/prints"> Prints </a>
    </li>
    <li><a href="/furniture"> Furniture </a>
    </li>
    <!--<li>
        <span>Furniture</span>
        <ul>
            <li><a href="/furniture">All</a>
            </li>
            <li><a href="/furniture-beanbags"> Beanbags </a>
            </li>
            <li><a href="/furniture-tables"> Tables </a>
            </li>
        </ul>
    </li>-->
    <li>
        <span>Lighting</span>
        <ul>
            <li><a href="/lighting">All</a>
            </li>
            <!--<li><a href="/lighting-fairy-lights"> Fairy Lights </a>
            </li>-->
            <!--<li><a href="/lighting-accessories"> Accessories </a>
            </li>-->
            <li><a href="/lighting-lightbulbs"> Lightbulbs </a>
            </li>
            <li><a href="/lighting-lampshades"> Lampshades </a>
            </li>
            <li><a href="/lighting-table-and-floor-lamps"> Table &amp; Floor Lamps </a>
            </li>
            <li><a href="/lighting-ceiling-pendants"> Ceiling Pendants </a>
            </li>
        </ul>
    </li>
    <li>
        <span>Stationery</span>
        <ul>
            <li><a href="/stationery">All</a>
            </li>
            <li><a href="/stationery-notebooks-and-files"> Notebooks &amp; Files </a>
            </li>
            <li><a href="/stationery-greetings-cards"> Greetings Cards </a>
            </li>
            <li><a href="/stationery-accessories"> Accessories </a>
            </li>
        </ul>
    </li>
    <li><a href="/gifts"> Gifts </a>
    </li>
    <li>
        <span>Utility</span>
        <ul>
            <li><a href="/utility">All</a>
            </li>
            <li><a href="/utility-accessories"> Accessories </a>
            </li>
            <li><a href="/utility-telephones"> Telephones </a>
            </li>
            <li><a href="/utility-storage"> Storage </a>
            </li>
        </ul>
    </li>
</ul>

<ul>
    <li><a href="/brand" class = "mobile_brand_link mobile_special"> Shop by brand </a>
    </li>
    <li><a href="/filter?type=sale" class = "mobile_sale_link mobile_special"> Edited Sale </a>
    </li>
</ul>

<div class="sidebar-deliveryBox" ng-bind-html = "encodeHtml(freeDeliveryText) | unsafe">
</div>

<ul class="sidebar-contactLinks">
    <div class = "sidebar-contactText">Any questions?</div>
    <li><a class = "paddedLink sidebar-mobile-contact" href="tel:01273604006"><i class="fa fa-phone sidebar-contact-icon"></i>Call us</a></li>
    <li><a class = "paddedLink sidebar-mobile-contact" href="mailto:hello@edited.co.uk"><i class="fa fa-envelope-o sidebar-contact-icon"></i>Email us</a></li>
</ul>

<div class = "sidebar-line"></div>

<ul class="sidebar-socialLinks">
    <li><a class="paddedLink sidebar-twitter sidebar-mobile-social"  href="http://www.twitter.com/edited">Twitter</a></li>
    <li><a class="paddedLink sidebar-facebook sidebar-mobile-social" href="http://www.facebook.com/editedbrighton">Facebook</a></li>
    <li><a class="paddedLink sidebar-instagram sidebar-mobile-social" href="http://instagram.com/edited">Instagram</a></li>
    <li><a class="paddedLink sidebar-pinterest sidebar-mobile-social" href="http://www.pinterest.com/editedstores/">Pinterest</a></li>
</ul>

