<div class = "animated fadeIn">

<!--Non-logged in users will see this screen -->

    <!--<a href = "/create_account">Create a new account</a><br><br>


    <form name = "form" novalidate ng-submit="form.$valid && login(user)">
    	Email: <input type="email" name = "userEmail" ng-model="user.email" ng-model-options="{ debounce: 350 }" required /><br />
    	<div ng-show="form.$submitted">
    		<span ng-show="form.userEmail.$error.required">Tell us your email.</span>
    		<span ng-show="form.userEmail.$error.email">This is not a valid email.</span>
        </div>
        Password: <input type="password" name = "userPass" ng-model="user.password" ng-model-options="{ debounce: 350 }" required/><br />
        <div ng-show="form.$submitted">
    		<span ng-show="form.userPass.$error.required">Please enter your password.</span>
        </div>

        <input type = "checkbox" id = "loginCheckbox" name = "loginCheckbox" ng-model = "rememberMe">
        <label for = "loginCheckbox" class = "rememberMeLabel">Remember me</label>

        <input type="submit" value="Login" class = "account-loginButton" />
        <div ng-show = "loginInProgress">Logging in...</div>
        <div ng-show = "loginSuccessful">Logged in <a href = "/">click here</a> to return home</div>
        <div ng-show = "loginError">Error when logging in: {{errorInfo}} </div>
        <div ng-show = "fatalError">Error communicating with server, please refresh and try again</div>
    </form>-->

    <div class = "row">
        <div class ="col-md-12">
            <h1>LOGIN</h1>
        </div>
    </div>

    <div class = "row">

        <div class = "col-md-6">
            <div class = "account_whiteBox">

                <h2>Register</h2>

                <div class = "account_hideBox" ng-style = "{'max-height': createAccountMode ? '0px' : '550px'}">

                    <span>Save time when checking out by registering with us, store your address details, keep track of your orders and create wish lists.</span>

                    <a href = "" ng-show = "!createAccountMode" class = "account_button" ng-click = "createAccountMode = true">Create a new account</a>

                </div>

                <div class = "account_hideBox" ng-style = "{'max-height': !createAccountMode ? '0px' : '550px'}">

                    <form name = "accform" novalidate ng-submit="accform.$valid && createAccount(user)">
                        <label class = "requiredlabel" for = "account_user_firstName">First Name</label>
                        <input type="text" class = "account_input" name = "account_user_firstName" ng-model="user.first_name" ng-model-options="{ debounce: 350 }" required />
                        <div class = "account_spacer"></div>
                        <label class = "requiredlabel" for = "account_user_lastName">Last Name</label>
                        <input type="text" class = "account_input" name = "account_user_lastName" ng-model="user.last_name" ng-model-options="{ debounce: 350 }" required />
                        <div class = "account_spacer"></div>
                        <label class = "requiredlabel" for = "account_user_email">E-mail address</label>
                        <input type="email" class = "account_input" name = "account_user_email" ng-model="user.email" name = "account_userEmail" ng-model-options="{ debounce: 350 }" required />
                        <span ng-show="accform.account_userEmail.$error.email" class = "errorMessage account_spaceError">This is not a valid email.</span>
                        <div class = "account_spacer"></div>
                        <label class = "requiredlabel" for = "account_user_password">Password</label>
                        <input type="password" class = "account_input" name = "account_user_password" ng-model="user.password" ng-pattern="/^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])[a-zA-Z0-9!@#$%^&*]{6,25}$/" ng-model-options="{ debounce: 500 }" minlength = "6" ng-maxlength = "25" required/>
                        <div ng-messages="accform.account_user_password.$error" role = "alert" class = "account_spaceError">
                            <div class = "errorMessage" ng-message="minlength" class = "errorMessage">Password must be at least 6 characters.</div>
                            <div class = "errorMessage" ng-message="pattern" class = "errorMessage">Be secure! Password must contain at least 1 uppercase, 1 lowercase & 1 number.</div>
                        </div>
                        <div class = "account_spacer"></div>
                        <!--Newsletter checkbox-->
                        <input type = "checkbox" name = "account_user_newsletter" id = "account_user_newsletter" ng-model = "signupNewsletter" class = "account_inlineText account_checkbox">
                        <label for = "account_user_newsletter" class = "account_inlineText">Sign up to our newsletter - News, exclusive deals & new products straight to your inbox</label>
                        <div class = "account_spacer"></div>
                        <input type="submit" value="Create account" class = "account_button" ng-class = "{'account_buttonDisabled': (!accform.$valid || accountCreationInProgress)}" />

                    </form>

                    <div class = "account_spacer"></div>

                    <div class = "account_progress" ng-show = "accountCreationInProgress">
                        <i class="fa fa-refresh fa-spin global_loadingSpinner"></i>Creating your account
                    </div>

                    <div ng-show = "accountCreatedSuccessfully">Account created successfully, you may now log in</div>
                    
                    <div class = "errorMessage" ng-show = "creationError">{{creationErrorInfo}}</div>
                    <div class = "errorMessage" ng-show = "creationFatalError">Error communicating with server, please refresh and try again</div>

                    <div class = "account_spacer"></div>
                    <a href = "" class = "account_link" ng-show = "createAccountMode && !accountCreationInProgress && !accountCreatedSuccessfully" ng-click = "createAccountMode = false">Cancel account creation</a>

                    <div class = "account_spacer"></div>

                </div>


            </div>

        </div>

        <div class = "col-md-6">

            <div class = "account_whiteBox">

                <h2>Login</h2>
                <form name = "form" novalidate ng-submit="form.$valid && login(account)">
                    <label class = "requiredlabel" for = "userEmail">Email address</label>
                    <input class = "account_input" type="email" name = "userEmail" ng-model="account.email" ng-model-options="{ debounce: 350 }" required />
                    <div ng-show="form.$submitted">
                        <span ng-show="form.userEmail.$error.required" class = "errorMessage">Please enter your email address</span>
                        <span ng-show="form.userEmail.$error.email" class = "errorMessage">This is not a valid address</span>
                    </div>

                    <div class = "account_spacer"></div>

                    <div class = "account_hideBox" ng-style = "{'max-height': passwordResetMode ? '0px' : '500px'}">

                        <label class = "requiredlabel" for = "userPass">Password</label>
                        <input type="password" class = "account_input" name = "userPass" ng-model="account.password" ng-model-options="{ debounce: 350 }" ng-required = "!passwordResetMode"/>
                        <div ng-show="form.$submitted">
                            <span ng-show="form.userPass.$error.required" class = "errorMessage">Please enter your password</span>
                        </div>

                        <div class = "account_spacer"></div>

                        <input type = "checkbox" class = "account_inlineText account_checkbox" id = "loginCheckbox" name = "loginCheckbox" ng-model = "rememberMe">
                        <label for = "loginCheckbox" class = "rememberMeLabel account_inlineText">Keep me logged in</label>

                        <div class = "account_spacer"></div>

                    </div>

                    <a href = "" class = "account_link" ng-show = "!passwordResetMode" ng-click = "passwordResetMode = true">Forgotten your password?</a>
                    <a href = "" class = "account_link" ng-show = "passwordResetMode" ng-click = "passwordResetMode = false">Cancel password reset</a>

                    <div class = "account_spacer"></div>

                    <input type="submit" value="Login" class = "account_button animated fadeUp" ng-class = "{'account_buttonDisabled': (!form.$valid || loginInProgress)}" ng-show = "!passwordResetMode"/>

                    <input type="button" value="Reset Password" class = "account_button animated fadeUp" ng-class = "{'account_buttonDisabled': (!form.$valid || passwordResetInProgress)}" ng-show = "passwordResetMode" ng-click = "resetPassword()" />

                    <div class = "account_spacer"></div>

                    <div ng-show = "loginInProgress" class = "account_progress">
                        <i class="fa fa-refresh fa-spin account_loadingSpinner"></i>Logging in...
                    </div>

                    <div ng-show = "passwordResetInProgress" class = "account_progress">
                        <i class="fa fa-refresh fa-spin account_loadingSpinner"></i>Resetting password...
                    </div>

                    <div ng-show = "resetSuccessful">Password reset, a new password has been emailed to you</div>

                    <div ng-show = "loginSuccessful">Logged in <a href = "/">click here</a> to return home</div>
                    <div ng-show = "loginError && !passwordResetMode" class = "errorMessage">Error when logging in: {{errorInfo}} </div>
                    <div ng-show = "resetError && passwordResetMode" class = "errorMessage">Error when resetting password: {{errorInfo}} </div>
                    <div ng-show = "fatalError" class = "errorMessage">Error communicating with server, please refresh and try again</div>
                </form>

            </div>

        </div>

    </div>


</div> 