<script type="application/ld+json" ng-bind = "structuredProductJson"></script>

<div id="product_details" class = "animated fadeIn">
	<div class="row">
		<div class="col-sm-7 product-detail-image">
			<!--<div id="hero-photo" ng-repeat="image in product.images">
				<img src="{{image.url.http}}">
			</div>-->
			<!--<img class="loaderImage" src="../images/loaderImage.png">
			<img class="finalImage" src = "{{product.largeImage}}">-->

			<ul id="lightSlider">
		        <li data-thumb="{{prodImage}}" ng-repeat = "prodImage in product.allImages">
					<img class="loaderImage lightsliderImages" src="../images/loaderImage.png" ng-style = "{'opacity': $index == 0 ? '1' : '0'}" />
		            <img class = "finalImage lightsliderImages" src="{{prodImage}}" alt = "Product image {{$index + 1}} for {{product.title}}" title = "{{product.title}}" ng-style = "{'opacity': $index == 0 ? '1' : '0'}" />
		        </li>
	        </ul>

	        
	        <!--<div class = "product-detail-shareBox">

	        	<div class = "product-detail-shareText">
	        		Share this
	        	</div>

	        </div>-->
		</div>
		<div class="col-sm-5 product-detail-text">
			<div class="product-detail-title">
				<h1>{{product.title}}</h1>
			</div>
			<hr>
			<div class = "product-detail-variants" ng-if = "productHasVariants">

				<select class = "product-detail-select" id = "variantSelect1" ng-model = "selectedVariant1" ng-if = "variants.length >= 1" ng-change = "selectVariant(1, selectedVariant1)" ng-options = "variant.comboName for variant in variantArray">

					<option value disabled>Select {{variants[0]}}</option>
					<!--<option value = "{{$index}}" ng-repeat = "variant in variantArray" ng-selected = "variant == selectedVariant1">{{variant.comboName}}</option>-->

				</select>

				<select class = "product-detail-select" id = "variantSelect2" ng-model = "selectedVariant2" ng-if = "variants.length >= 2" ng-change = "selectVariant(2, selectedVariant2)" ng-options = "subVariant.comboName for subVariant in subVariants1">

					<option value disabled>Select {{variants[1]}}</option>

				</select>

				<div class = "product_updatingSpinner product-accordion-body" ng-style = "{'max-height': loadingProductVariant ? '50px' : '0px'}" >
					<i class="fa fa-refresh fa-spin cart_loadingSpinner"></i>
					<div class = "cart_updatingText">Loading variant...</div>
				</div>

				<hr>
			</div>
			<div class="product-details row">
				<div class="col-xs-6">
					<div class="product-detail-stock" ng-if = "productReadyForCart"><b>{{product.in_stock_text}}</b></div>
					<div class="product-detail-stock-amount" ng-if = "productReadyForCart">{{product.stock_amount_text}}</div>
				</div>

				<div class="col-xs-6" ng-if = "!product.sale_item">
					<div class="product-detail-price" ng-bind-html = "encodeHtml(product.price) | unsafe"></div>
					<div class = "product-detail-furni-from" ng-show = "furni_configurable && !furni_selectionMade">From</div>
				</div>

				<div class="col-xs-3 product-detail-sale-column" ng-if = "product.sale_item">
					<div class="product-detail-sale-percentage">- {{product.sale_percentage}}%</div>
				</div>
				<div class="col-xs-3" ng-if = "product.sale_item"> 
					<div class="product-detail-price" ng-bind-html = "encodeHtml(product.price) | unsafe"></div>
					<div class="product-detail-sale-price" ng-bind-html = "encodeHtml('Was ' + product.original_price) | unsafe"></div>
				</div>

				<div class = "col-xs-12 product-detail-free-delivery" ng-if = "product.rawPrice >= freeDeliveryAmount">
					<i class="fa fa-truck product-detail-free-delivery-icon" aria-hidden="true"></i>Free delivery 
				</div>
			</div>
			<hr>

			<div class = "product-links row" ng-if = "productReadyForCart">
				<div ng-if = "product.in_stock">
					<div class="col-xs-2 product-link-item product-quanCol">
						<input type = "number" ng-model = "addProductQuantity" class = "product-quantity" min = "0" ng-change = "clickQuantity(addProductQuantity)"></input>
					</div>
					<div class="col-xs-10 product-link-item product-addCol">
						<a class = "product-addToCart" href = "" ng-click = "addItemToCartProduct(product.id, product.title, addProductQuantity)" ng-class = "{'product-addToCartInProgress': cartAddingInProgress, 'product-detail-furni-notReadyForAdd': (furni_configurable && !furni_selectionsFinished)}">
							<span ng-if = "!cartAddingInProgress && !furni_configurable">
								<i class = "fa fa-plus"></i>
								Add to basket
							</span>
							<span ng-if = "!cartAddingInProgress && furni_configurable && furni_selectionsFinished">
								<i class = "fa fa-plus"></i>
								Add to basket
							</span>
							<span ng-if = "cartAddingInProgress">
								<i class="fa fa-refresh fa-spin cart_loadingSpinner wobble-fix productAdd_loadingSpinner"></i>
								Adding to cart...
							</span>
							<span ng-if = "furni_configurable && !furni_selectionsFinished">
								<i class = "fa fa-cogs"></i>
								Select product options
							</span>
						</a>
						<!--<div class = "cartAnimObj"></div>-->
					</div>
				</div>
				<div ng-if = "!product.in_stock">
					<div class="col-xs-12 product-link-item">
						<a class = "product-addToCart product-addNoStock" href = "">Stock arriving soon</a>
					</div>
					<!--<div class = "col-xs-12 product-remind">
						<div class = "product-remind-accordion" ng-style = "{'max-height': reminder_submitted ? '0px':'200px'}">
							<div class = "product-remind-text">
								Would you like us to email you when the product is back in stock?
							</div>
							<input type = "text" placeholder = "Enter your email" class = "product-remind-input col-md-8" ng-model = "reminder_email" ng-show = "!loggedIn"></input>
							<span class = "errorMessage" ng-if = "reminder_error">Please verify you have entered a valid email address</span>
							<input type = "checkbox" name = "product_remind_newsletter_checkbox" ng-model = "reminder_signupNewsLetter" ng-show = "!loggedIn" class = "account_inlineText account_checkbox">
                        	<label for = "product_remind_newsletter_checkbox" class = "account_inlineText product-remind-newsletter-label">Also sign up for our newsletter?</label>
							<input type = "submit" value = "Remind me" class = "product-remind-button col-md-4" ng-click = "submitReminder()"></input>
							<div class = "product-remind-text-logged-in col-md-8" ng-show = "loggedIn">
								Reminder will be sent to your account email: {{loggedInCustomerJson.email}}
							</div>
						</div>
						<div class = "product-remind-accordion" ng-style = "{'max-height': reminder_submitted ? '100px':'0px'}">
							<div class = "product-remind-text">
								<i class="fa fa-check" aria-hidden="true"></i>Email reminder submitted, we'll let you know when this product is back in stock.
							</div>
						</div>
					</div>-->
				</div>

			</div>

			<div class = "row product-tooMuchQuantity product-accordion-body" ng-style = "{'max-height': tooMuchQuantity ? '200px' : '0px'}">

				<div class = "col-xs-12">
					Sorry, this quantity is not available
				</div>

			</div>

			<div class = "row product-goToCartBox product-accordion-body" ng-style = "{'max-height': itemJustAdded ? '200px' : '0px'}">

				<div class = "col-xs-12">
	            	<a class = "product-goToCart" href="/cart"><i class="fa fa-shopping-cart"></i> Item added - Go to Cart</a> 
				</div>

			</div>

			

			<div class = "product-detail-furni-box" ng-if = "furni_configurable && product.in_stock">

				<div class = "product-detail-furni-config" ng-repeat = "config in furni_config">

					<div class = "product-detail-furni-config-title">
						Select {{config.modifier}}<i class = "fa fa-check accordionTick product-detail-furni-config-tick" ng-style = "{opacity: furni_operations[config.modifier].selectedColour != '' ? 1 : 0}"></i>
					</div>

					<div class = "product-detail-furni-config-colourGroupOptions product-detail-furni-config-mask row" ng-if = "config.type == 'colour'" ng-class = "{'product-detail-furni-config-maskOpen': furni_operations[config.modifier].mode == 'selectSet'}">
						<div class = "product-detail-furni-config-colourGroupBox">
							<div class = "product-detail-furni-config-colourGroup col-xs-4" ng-repeat = "colourGroup in config.colourGroups">

								<span class = "product-detail-furni-config-colourGroupTitle">
									{{furni_colourGroups[colourGroup.id].name}}
								</span>

								<img class = "product-detail-furni-config-colourGroupImage" src = "../images/colour_sets/{{colourGroup.id}}/{{furni_colourGroups[colourGroup.id].colours[0]}}.jpg" ng-click = "changeFurnitureConfigMode(config.modifier, 'selectColour', colourGroup.id)"></img>

								<span class = "product-detail-furni-config-colourGroupPrice">
									+ £{{colourGroup.priceIncrease}}
								</span>

							</div>
						</div>
						<div class = "product-detail-furni-config-colourGroupCancel">
							<a href = "" class = "" ng-show = "furni_operations[config.modifier].selectedColour != ''" ng-click = "changeFurnitureConfigMode(config.modifier, 'chosenColour')">
								Cancel change
							</a>
						</div>

					</div>

					<div class = "product-detail-furni-config-colourGroupColours product-detail-furni-config-mask" ng-if = "config.type == 'colour'" ng-class = "{'product-detail-furni-config-maskOpen': furni_operations[config.modifier].mode == 'selectColour'}">
						<div class = "product-detail-furni-config-colourGroupColoursLabel">
							{{furni_colourGroups[furni_operations[config.modifier].colourGroup].name}} colours
						</div>
						<div class = "row product-detail-furni-config-colourGroupColours-all">
							<div class = "product-detail-furni-config-colourGroupColours-single col-xs-3" ng-repeat = "colourGroupId in furni_colourGroups[furni_operations[config.modifier].colourGroup].colours" ng-click = "selectFurnitureConfiguration(config.modifier, 'chosenColour', colourGroupId, furni_operations[config.modifier].colourGroup)">
								<span class = "product-detail-furni-config-colourGroupColours-single-name">
									{{colourGroupId}}
								</span>
								<img class = "product-detail-furni-config-colourGroupColours-single-image" src = "../images/colour_sets/{{furni_operations[config.modifier].colourGroup}}/{{colourGroupId}}.jpg">
							</div>
						</div>
						<a href = "" class = "product-detail-furni-config-colourGroupColours-return" ng-click = "changeFurnitureConfigMode(config.modifier, 'selectSet')">
							Back to colour sets
						</a>
					</div>

					<div class = "product-detail-furni-config-colourGroupChosenColour product-detail-furni-config-mask" ng-if = "config.type == 'colour'" ng-class = "{'product-detail-furni-config-maskOpen': furni_operations[config.modifier].mode == 'chosenColour'}">
						
						<div class = "product-detail-furni-config-colourGroupChosenColourBox">
							<img class = "product-detail-furni-config-colourGroupChosenColourImage" src = "../images/colour_sets/{{furni_operations[config.modifier].colourGroup}}/{{furni_operations[config.modifier].selectedColour}}.jpg">
							<div class = "product-detail-furni-config-colourGroupChosenColourText">
								{{furni_operations[config.modifier].selectedColourGroup}} - {{furni_operations[config.modifier].selectedColour}}
							</div>
						</div>

						<a href = "" class = "product-detail-furni-config-colourGroupColours-return" ng-click = "changeFurnitureConfigMode(config.modifier, 'selectSet')">
							Change selection
						</a>

					</div>


				</div>


			</div>

			<div class = "product-orderOnly" ng-if="product.order_only || furni_configurable">
				<div class = "product-orderOnlyHead">Made to order item</div>
				<div class = "product-orderOnlyText">This item is made to order and will be delivered to you in approximately 2-3 weeks</div>
			</div>


			<div class="accordion" id="accordion2">
				<div class="accordion-group">
					<div class="accordion-heading">
						<!--<a class="accordion-toggle" ng-click = "clickAccordion('description')">
							Description <i class="fa fa-angle-down pull-right fa-2x"></i>
						</a>-->
						<a class="accordion-toggle">
							Description
						</a>
					</div>
					<div class="product-accordion-body">
						<div class = "accordion-inner">
							<div class="accordion-inner" ng-show = "product.description == ' '">
								Sorry we don't yet have a full description for this product, but please feel free to phone or email us if you have any queries!
							</div>
							<div class="accordion-inner" ng-bind-html = "encodeHtml(product.description) | unsafe"></div>
							<span>Brand - {{product.brand}}
						</div>
					</div>
				</div>
				<!--<div class="accordion-group">
					<div class="accordion-heading" ng-click = "clickAccordion('details')">
						<a class="accordion-toggle">
							Details <i class="fa fa-angle-down pull-right fa-2x"></i>
						</a>
					</div>
					<div class="product-accordion-body" ng-style = "{'max-height': accordion['details'] ? '250px' : '0px'}">
						<div class="accordion-inner">
							Brand - {{product.brand}}
						</div>
					</div>
				</div>-->
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle">
							Delivery & Returns
						</a>
					</div>
					<div class = "product-detail-highlight">
						- We'll have you product packed up and on it's way within 24 hours<br>
						- £4.95 fixed price delivery in the UK for all items under £30, or free if over<br>
						- If you aren't 100% satisfied, contact us at any time via phone or email to organise a hassle free return
						<div class="accordion-heading product-detail-inner-accordion" ng-click = "clickAccordion('delivery')">
							<a class="accordion-toggle product-detail-more">
								More information <i class="fa fa-angle-down pull-right fa-2x"></i>
							</a>
						</div>
						<div class = "product-accordion-body" ng-style = "{'max-height': accordion['delivery'] ? '800px' : '0px'}">
							<div class="accordion-inner">
								<p>We're super speedy when it comes to delivery, within 24 hours we'll pick and pack your order then send it on it's way with our wonderful couriers, they'll carefully deliver your goods to you the next working day - even dropping you a text or email to let you know when there coming, meaning you don't have to sit around all day waiting for your homewares fix. </p>
								<p>If you need your item, like yesterday, get in touch! We have been known to perform miracles with deliveries and these miracles happen more when we have your order before 2pm on a weekday.</p>
								<p>We don't currently offer weekend or bank holiday deliveries however we are able to fix this for you if thats what your after, be aware that delivery drivers are lovely Monday to Friday however come the weekend they become meanies and charge a lot more to deliver your parcel (rightly so, who wants to be working on a weekend!)</p>
								<p><i class="fa fa-truck"></i> Spend just £30.00 or more and we’ll cover the cost of delivery!</p> 
								<p>If you are not 100% satisified with your purchase, whether you've changed your mind, it doesn't fit into the design of your home, or you have found a problem with the item, contact us as soon as possible either by phone or by email and we will happily facilitate any returns.</p>
								<p><a href = "delivery-and-returns">Click for our delivery & returns page </a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle">
							Why buy from Edited?
						</a>
					</div>
					<div class = "product-detail-highlight">
						At Edited, we offer the true boutique experience and look after each customer online as we would in-store
						<div class="accordion-heading product-detail-inner-accordion" ng-click = "clickAccordion('whyus')">
							<a class="accordion-toggle product-detail-more">
								More information <i class="fa fa-angle-down pull-right fa-2x"></i>
							</a>
						</div>
						<div class = "product-accordion-body" ng-style = "{'max-height': accordion['whyus'] ? '800px' : '0px'}">
							<div class="accordion-inner">
								<p>There is almost too much choice when it comes to shopping online. The main difference we offer over big time online retailers is our local store mentality.</p> 
								<p>Operating out of our single Brighton store, we always aim to provide the best possible customer service, prices, and range of items to ensure that every customer leaves with a smile on their face, whether that's online or offline.</p>
								<p>Each order will be reviewed and packed up carefully by hand in our Brighton store, and sent out as soon as possible via courier.</p>
								<p>We are putting a lot of work into the ongoing development of our online experience. If you have any questions or feedback for online store or our Brighton store, or require any kind of customer assistance, we are here to help via phone or email, or simply pop in and we can help in person!</p>
								<p><a href = "our-stores">Click for our Brighton store page</a></p>
								<p><a href = "about-us">Click for more about the Edited brand</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = "row product-detail-related-container" ng-if = "relatedProductsDisplay" ng-style = "{'max-height': relatedProductsLoading ? '0px': '2000px'}">
		<div class = "product-details-related-box">
			<div class = "col-sm-12 product-detail-related-header">
				Similar products
			</div>
			<div class = "col-md-3 col-sm-6 relatedProductWrap" ng-repeat = "product in relatedProductsArray">
				<a href = "{{product.slug}}">
					<div ng-if="product.in_stock" class = "stockbox is">
							In Stock
						</div>
						<div ng-if="!product.in_stock" class = "stockbox oos">
							Out of Stock
						</div>
					<img class="loaderImage product-detail-related-image prodGrid-loaderImage" src="../images/loaderImage.png" />
		            <img class = "finalImage product-detail-related-image prodGrid-finalImage " src="{{product.image}}" alt = "{{product.title}} image" title = "{{product.title}}"/>
		            <div class = "product-detail-related-name producttitle">
		            	<span>{{product.title}}</span>
		            </div>
	        	</a>
			</div>
			<div class = "col-sm-12 product-detail-related-catlink">
				<a href = "{{product.category_link}}" class = "product-backToCategory" ng-show = "displayProductCategoryLink">
					View all {{product.category}}
				</a>
			</div>
		</div>

	</div>
</div>
