<div class = "products-container animated fadeIn">

	<div class="row">
		<div class="col-xs-12">
			<div id="gridheader" class = "{{gridTitleBackgroundClass}}">
				<div>{{gridTitle}}</div>
			</div>
		</div>
	</div>

	<div class = "productLoadingBox animated fadeIn" ng-show = "!productGridLoaded">

		<div class="spinner productSpinner">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>

	</div>
	
	<div ng-show = "productGridLoaded" class = "animated fadeInUp">

		<div class = "productgriddisplay row">

			<div class = "productwrap col-md-4 col-sm-6 animated fadeIn" ng-repeat = "product in displayProducts|unique: 'title'" ng-if = "product.image !== ''">
				<a href = "{{product.slug}}">
					<div ng-if="product.in_stock" class = "stockbox is">
						In Stock
					</div>
					<div ng-if="!product.in_stock" class = "stockbox oos">
						Out of Stock
					</div>
					<!--<div ng-if="product.order_only" class = "stockbox orderOnly">
						Order only
					</div>-->
					<div ng-if="product.sale_item" class = "stockbox salePercentage">
						- {{product.sale_percentage}}%
					</div>
					<img class="prodGridImage prodGrid-loaderImage loaderImage" src="../images/loaderImage.png">
					<img class="prodGridImage prodGrid-finalImage finalImage" src="{{product.image}}" alt = "Front image and link for {{product.title}}" title = "{{product.title}}">
					<img class="prodGridImage prodGrid-backImage backImage" src="{{product.backImage}}" onload="$(this).data('loaded', 'loaded')" alt = "Back image and link for {{product.title}}" title = "{{product.title}}">
					<div class="row prodGrid-details">
						<div class="col-sm-8">
							<div class="producttitle">
								<span>{{product.title}}</span>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="productpricewrap">
								<span ng-class = "{salePercentageText: product.sale_item}" ng-bind-html = "encodeHtml(product.price) | unsafe"></span>
							</div>
						</div>
					</div>
				</a>
			</div>

		</div>

		<div class = "row-fluid pagingCircleRow">
			<div class="pagingCircle animated fadeIn" ng-if = "currentCategoryObject.hasNext" ng-click = "loadNextSetOfProducts()" ng-class = "{pagingCircle: !loadNextSetInProgress, loadingCircle: loadNextSetInProgress}">
				<div ng-if = "!loadNextSetInProgress">
					LOAD MORE<br><i class="fa fa-chevron-down"></i>
				</div>
				<div ng-if = "loadNextSetInProgress">
					<!--LOADING<br><i class="fa fa-refresh fa-spin productLoadingSpinner"></i>-->
					<!--<div class="cssload-tetrominos productgrid-loading">
						<div class="cssload-tetromino cssload-box1"></div>
						<div class="cssload-tetromino cssload-box2"></div>
						<div class="cssload-tetromino cssload-box3"></div>
						<div class="cssload-tetromino cssload-box4"></div>
					</div>-->
					<div class="spinner gridSpinner">
						<div class="rect1"></div>
						<div class="rect2"></div>
						<div class="rect3"></div>
						<div class="rect4"></div>
						<div class="rect5"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--<div class = "productLoadingBox animated fadeInUp" ng-if = "loadNextSetInProgress">
		<i class="fa fa-refresh fa-spin productLoadingSpinner"></i>
		<div class = "productLoadingText">... loading</div>
	</div>-->

</div>