<div class = "sidebar-box">

    <a class = "blankLink" href = "/">
        <img src = "../images/logo.png" class = "sidebar-logo animated fadeIn">
    </a>

    <!--<ul class = "sidebar-menu">
        <li class="sidebar-new">
            <a href="/new" class = "blankLink sidebar-newLink whiteHoverLink paddedLink">New!</a>
        </li>

        <li ng-repeat = "cat in allCategories">
            <a ng-if="!cat['children']" href = "/{{cat.slug}}">
                {{cat.title}}
            </a>
            <div ng-if="cat['children']">{{cat.title}}</div>
            <ul ng-if="cat['children']" class = "sidebar-subcategoryLinks">
                <li><a href="/{{cat.slug}}">All</a></li>
                <li ng-repeat = "subcat in cat.children">
                    <a href = "/{{subcat.slug}}">
                        {{subcat.title}}
                    </a>
                </li>
            </ul>
        </li>

    </ul>-->

    <ul class="sidebar-menu animated fadeIn">
        <!--<li class="sidebar-new"><a class="blankLink sidebar-newLink whiteHoverLink paddedLink" href="/new">New!</a>
        </li>-->
        <li><a href="/christmas" class = "sidebar-link sidebar-xmas whiteHoverLink paddedLink" ng-class = "{'sidebar-activeLink': cat.indexOf('Christmas') !== -1}"> Christmas </a>
        </li>
        <li>
            <div>Accessories</div>
            <ul class="sidebar-subcategoryLinks ">
                <li><a href="/accessories" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat == 'Accessories'}">All</a>
                </li>
                <li><a href="/accessories-plant-pots" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Accessories - Plant') !== -1}"> Plant Pots </a>
                </li>
                <li><a href="/accessories-clocks" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Accessories - Clocks') !== -1}"> Clocks </a>
                </li>
                <li><a href="/accessories-home-storage" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Accessories - Home Storage') !== -1}"> Home Storage </a>
                </li>
                <li><a href="/accessories-home-decoration" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Accessories - Home Decoration') !== -1}"> Home Decoration </a>
                </li>
                <li><a href="/accessories-candles-scents-and-holders" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Accessories - Candles') !== -1}"> Candles, Scents &amp; Holders </a>
                </li>
            </ul>
        </li>
        <li>
            <div>Kitchen &amp; Dining</div>
            <ul class="sidebar-subcategoryLinks ">
                <li><a href="/kitchen-and-dining" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat == 'Kitchen & Dining'}">All</a>
                </li>
                <li><a href="/kitchen-and-dining-tea-towels-and-textiles" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Kitchen & Dining - Tea Towels') !== -1}"> Tea Towels &amp; Textiles </a>
                </li>
                <li><a href="/kitchen-and-dining-serveware" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Kitchen & Dining - Serveware') !== -1}"> Serveware </a>
                </li>
                <li><a href="/kitchen-and-dining-glassware" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Kitchen & Dining - Glassware') !== -1}"> Glassware </a>
                </li>
                <li><a href="/kitchen-and-dining-cups-and-mugs" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Kitchen & Dining - Cups') !== -1}"> Cups &amp; Mugs </a>
                </li>
            </ul>
        </li>
        <li>
            <div>Soft Furnishings</div>
            <ul class="sidebar-subcategoryLinks ">
                <li><a href="/soft-furnishings" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat == 'Soft Furnishings' }">All</a>
                </li>
                <li><a href="/soft-furnishings-towels" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Soft Furnishings - Towels') !== -1}"> Towels </a>
                </li>
                <!--<li><a href="/soft-furnishings-rugs" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Soft Furnishings - Rugs') !== -1}"> Rugs </a>
                </li>-->
                <li><a href="/soft-furnishings-bedding" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Soft Furnishings - Bedding') !== -1}"> Bedding </a>
                </li>
                <!--<li><a href="/soft-furnishings-throws" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Soft Furnishings - Throws') !== -1}"> Throws </a>
                </li>-->
                <li><a href="/soft-furnishings-cushions" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Soft Furnishings - Cushions') !== -1}"> Cushions </a>
                </li>
            </ul>
        </li>
        <li><a href="/prints" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat == 'Prints'}"> Prints </a>
        </li>
        <li><a href="/furniture" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat == 'Furniture'}"> Furniture </a>
        </li>
        <!--<li>
            <div>Furniture</div>
            <ul class="sidebar-subcategoryLinks ">
                <li><a href="/furniture" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat == 'Furniture'}">All</a>
                </li>
                <li><a href="/furniture-beanbags" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Furniture - Beanbags') !== -1}"> Beanbags </a>
                </li>
                <li><a href="/furniture-tables" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Furniture - Tables') !== -1}"> Tables </a>
                </li>
            </ul>
        </li>-->
        <li>
            <div>Lighting</div>
            <ul class="sidebar-subcategoryLinks ">
                <li><a href="/lighting" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat == 'Lighting'}">All</a>
                </li>
                <!--<li><a href="/lighting-fairy-lights" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Fairy') !== -1}"> Fairy Lights </a>
                </li>-->
                <!--<li><a href="/lighting-accessories" ng-class = "{'sidebar-activeLink': cat.indexOf('Lighting - Accessories') !== -1}"> Accessories </a>
                </li>-->
                <li><a href="/lighting-lightbulbs" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Lighting - Lightbulbs') !== -1}"> Lightbulbs </a>
                </li>
                <li><a href="/lighting-lampshades" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Lighting - Lampshades') !== -1}"> Lampshades </a>
                </li>
                <li><a href="/lighting-table-and-floor-lamps" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Lighting - Table') !== -1}"> Table &amp; Floor Lamps </a>
                </li>
                <li><a href="/lighting-ceiling-pendants" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Lighting - Ceiling') !== -1}"> Ceiling Pendants </a>
                </li>
            </ul>
        </li>
        <li>
            <div>Stationery</div>
            <ul class="sidebar-subcategoryLinks ">
                <li><a href="/stationery" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat == 'Stationery'}">All</a>
                </li>
                <li><a href="/stationery-notebooks-and-files" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Stationery - Notebooks') !== -1}"> Notebooks &amp; Files </a>
                </li>
                <li><a href="/stationery-greetings-cards" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Stationery - Greetings') !== -1}"> Greetings Cards </a>
                </li>
                <li><a href="/stationery-accessories" ng-class = "{'sidebar-activeLink': cat.indexOf('Stationery - Accessories') !== -1}"> Accessories </a>
                </li>
            </ul>
        </li>
        <li><a href="/gifts" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat == 'Gifts'}"> Gifts </a>
        </li>
        <li>
            <div>Utility</div>
            <ul class="sidebar-subcategoryLinks ">
                <li><a href="/utility" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat == 'Utility'}">All</a>
                </li>
                <li><a href="/utility-accessories" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Utility - Accessories') !== -1}"> Accessories </a>
                </li>
                <li><a href="/utility-telephones" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Utility - Telephones') !== -1}"> Telephones </a>
                </li>
                <li><a href="/utility-storage" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Utility - Storage') !== -1}"> Storage </a>
                </li>
            </ul>
        </li>
        <!--<li>
            <div>Christmas</div>
            <ul class="sidebar-subcategoryLinks ">
                <li><a href="/christmas" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Christmas') !== -1}">All</a>
                </li>
                <li><a href="/christmas-gift-boxes" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Gift Boxes') !== -1}"> Gift Boxes </a>
                </li>
                <li><a href="/christmas-crackers" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Crackers') !== -1}"> Crackers </a>
                </li>
                <li><a href="/christmas-decorations" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Decorations') !== -1}"> Decorations  </a>
                </li>
            </ul>
        </li>-->
        <!--<li><a href="/uncategorized" class = "sidebar-link" ng-class = "{'sidebar-activeLink': cat.indexOf('Uncategorized') !== -1}"> Uncategorized </a>
        </li>-->
        <li class="sidebar-brandLinkBox"><a class="sidebar-brandLink sidebar-extraLink whiteHoverLink paddedLink" href="/brand">Shop by Brand</a>
        </li>
        <li class="sidebar-saleLinkBox"><a class="sidebar-saleLink sidebar-extraLink whiteHoverLink paddedLink" href="/filter?type=sale">Edited Sale</a>
        </li>
    </ul>

	<div class="sidebar-deliveryBox">
        <div class = "sidebar-deliveryText" ng-bind-html = "encodeHtml(freeDeliveryText) | unsafe"></div>
    </div>

    <!--<div class = "sidebar-returnsText">
        Purchase with confidence, free return postage available <a href = "/delivery-and-returns">Find out more</a>
    </div>-->

    <ul class="sidebar-socialLinks">
        <li><a class="whiteHoverLink paddedLink sidebar-twitter"  href="http://www.twitter.com/edited" target='_blank'>Twitter</a></li>
        <li><a class="whiteHoverLink paddedLink sidebar-facebook" href="http://www.facebook.com/editedbrighton" target='_blank'>Facebook</a></li>
        <li><a class="whiteHoverLink paddedLink sidebar-instagram" href="http://instagram.com/edited" target='_blank'>Instagram</a></li>
        <li><a class="whiteHoverLink paddedLink sidebar-pinterest" href="http://www.pinterest.com/editedstores/" target='_blank'>Pinterest</a></li>
    </ul>

</div>