<div class="credit-card-input no-js" id="skeuocard">
    <p class="no-support-warning">
        Either you have Javascript disabled, or you're using an unsupported browser, amigo! That's why you're seeing this old-school credit card input form.
    </p>
    <label for="cc_type">Card Type</label>
    <select name="cc_type">
        <option value="">...</option>
        <option value="visa">Visa</option>
        <option value="mastercard">MasterCard</option>
        <option value="maestro">Maestro</option>
    </select>
    <label for="cc_number">Card Number</label>
    <input type="text" name="cc_number" id="cc_number" placeholder="XXXX XXXX XXXX XXXX" maxlength="19" size="19">
    <label for="cc_exp_month">Expiration Month</label>
    <input type="text" name="cc_exp_month" id="cc_exp_month" placeholder="00">
    <label for="cc_exp_year">Expiration Year</label>
    <input type="text" name="cc_exp_year" id="cc_exp_year" placeholder="00">
    <label for="cc_name">Cardholder's Name</label>
    <input type="text" name="cc_name" id="cc_name" placeholder="John Doe">
    <label for="cc_cvc">Card Validation Code</label>
    <input type="text" name="cc_cvc" id="cc_cvc" placeholder="123" maxlength="3" size="3">
</div>