<div class = "cart_container">

	<div class = "cart_breakdownBox">
		<div class = "row cart_itemsRow">
			<div class ="col-xs-4">
				<div clas = "cart_headerLabel">Description</div>
			</div>
			<div class = "col-xs-2">
				<div clas = "cart_headerLabel">Price</div>
			</div>
			<div class = "col-xs-2">
				<div clas = "cart_headerLabel">Qty</div>
			</div>
			<div class = "col-xs-2">
				<div clas = "cart_headerLabel">Total</div>
			</div>		
		</div>


		<div class = "cart_allItemRows">
			<div class = "row cart_itemsRow" ng-repeat = "(key, item) in userCart.contents">
				<div class ="col-xs-4">
					<a class = "cart_itemColText cart_itemLink" href = "{{item.slug}}">{{item.title}}</a>
					<div class = "cart_itemOrderOnly" ng-if = "item.collection.data.slug == 'order-only'">We will order this item in on your behalf</div>
				</div>
				<div class = "col-xs-2">
					<div class = "cart_itemColText">{{item.pricing.formatted.with_tax}}</div>
				</div>
				<div class = "col-xs-2">
					<!-- Cart update functionality, currently disabled due to ensuring users don't overdo it on the quantity

					<input type = "number" id = "numberField-{{item.id}}" ng-model = "singleItemQuantity" class = "cart_itemQuantity" value = "{{item.quantity}}" ng-change = "cart_updateQuantity(item.id, key, item.quantity)" ng-model-options="{ debounce: 600 }" ng-class = "{cart_disabledLink: app_cartUpdating}" min="0"/> -->

					{{item.quantity}}

				</div>
				<div class = "col-xs-2">
					<div class = "cart_itemColText">{{item.totals.post_discount.formatted.with_tax}}</div>
				</div>
				<div class = "col-xs-1">
					<div class = "cart_itemRemove" ng-if = "urlParamIsPresent('cart') || urlParamIsPresent('checkout') && userCart.total_unique_items > 1">
						<a href = "" ng-click = "makeUserRequest({'op': 'removeFromCart', 'cart_item_id': key })" ng-class = "{cart_disabledLink: app_cartUpdating}">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class = "row">

		<div class = "col-md-8">
			<div class = "cart_updatingSpinner" ng-style = "{ opacity: app_cartUpdating ? 1 : 0 }">
				<i class="fa fa-refresh fa-spin cart_loadingSpinner"></i>
				<div class = "cart_updatingText">Updating cart...</div>
			</div>
		</div>

		<div class = "col-md-4">

			<div class = "cart_subtotalbox">
				<h3>Subtotal</h3>
				<div class = "row">
					<div ng-if = "userCart.total_items > 0">
						<div class = "col-xs-8">
							Subtotal
						</div>
						<div class = "col-xs-4">
							{{userCart.totals.post_discount.formatted.with_tax}}
						</div>

						<div ng-if = "!checkoutCartMode">
							<div class = "col-xs-8">
								Delivery (estimated)
							</div>
							<div class = "col-xs-4">
								<div ng-if = "app_qualifiedForFreeDelivery">Free</div>
								<div ng-if = "!app_qualifiedForFreeDelivery">£4.95</div>
							</div>
						</div>

						<div ng-if = "checkoutCartMode">
							<div class = "col-xs-8">
								Delivery
							</div>
							<div class = "col-xs-4" ng-bind-html = "encodeHtml(prettyFormatPrice(deliveryPrice)) | unsafe">
							</div>
						</div>

						<div ng-if = "promo_code.active">
							<div class = "col-xs-8">
								<i>Promo code</i>
							</div>
							<div class = "col-xs-4">
								{{promo_code.code}}
							</div>
						</div>

						<div ng-if = "promo_code.active">
							<div class = "col-xs-8">
								<i>Discount</i>
							</div>
							<div class = "col-xs-4">
								{{promo_code.discount}}
							</div>
						</div>

						<div ng-if = "!checkoutCartMode">
							<div class = "col-xs-8">
								Total
							</div>
							<div class = "col-xs-4" ng-bind-html = "encodeHtml(prettyFormatPrice(app_cartEstimatedTotal)) | unsafe">
							</div>
						</div>

						<div ng-if = "checkoutCartMode">
							<div class = "col-xs-8">
								Total
							</div>
							<!--<div class = "col-md-4" ng-bind-html = "encodeHtml(prettyFormatPrice(getFinalTotalWithDelivery())) | unsafe">-->
							<div class = "col-xs-4" ng-bind-html = "encodeHtml(getFinalTotalWithDelivery()) | unsafe">
							</div>
						</div>
					</div>

					<div ng-if = "userCart.total_items == 0">
						<div class = "col-md-12">
							There are no items in your cart
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>