<!DOCTYPE html>
<html ng-app = "app" ng-controller="main_controller" lang = "en">
<!--<html ng-app = "app" ng-controller="main_controller" lang = "en" ng-strict-di>-->
<head>


	<title>Edited: Eclectic Interiors and Homewares</title>
	<meta property="og:title" content="Edited: Eclectic Interiors and Homewares" />
	<update-title title="{{ngMeta.title}}"></update-title>
	<update-meta property="og:title" content="{{ngMeta.title}}"></update-meta>

	<meta name="language" content="english" />
	<meta http-equiv="Content-Language" content="en" />
	<meta charset="utf-8" /> 

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="Offering a curated collection of home furnishings, lighting, artwork, cookware and soft furnishings specialising in design-led interiors." />
	<meta property="og:description" content="Offering a curated collection of home furnishings, lighting, artwork, cookware and soft furnishings specialising in design-led interiors." />
	<meta itemprop="description" content="Offering a curated collection of home furnishings, lighting, artwork, cookware and soft furnishings specialising in design-led interiors." />

	<update-meta name="description" content="{{ngMeta.description}}"></update-meta>
	<update-meta name="og:description" content="{{ngMeta.description}}"></update-meta>
	<update-meta itemprop="description" content="{{ngMeta.description}}"></update-meta>

	<meta name="robots" content="index,follow,all" />
	<meta name="googlebot" content="index,follow,all" />

	<!-- Google tracking -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-34303522-2', 'auto');
		ga('send', 'pageview');
		ga('require', 'ecommerce');
	</script>

	<!-- Google remarketing tracking -->
	<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion_async.js" charset="utf-8"></script>

	<!-- Bing tracking -->
	<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5267835"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
	</script><noscript><img src="//bat.bing.com/action/0?ti=5267835&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>

	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');

	fbq('init', '187890151553780');
	fbq('track', "PageView");</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=187890151553780&ev=PageView&noscript=1"
	/></noscript>

	<!-- Hotjar Tracking Code for http://www.edited.co.uk -->
	<script>
	    (function(h,o,t,j,a,r){
	        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
	        h._hjSettings={hjid:226516,hjsv:5};
	        a=o.getElementsByTagName('head')[0];
	        r=o.createElement('script');r.async=1;
	        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
	        a.appendChild(r);
	    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
	</script>

	<!-- Perfect audience tracking code -->
	<!--<script type="text/javascript">
		(function() {
			window._pa = window._pa || {};
			// _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
			// _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
			// _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
			var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
			pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/5784dda51b8e09f1280000ad.js";
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
		})();
	</script>-->



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> 

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
	<script src="libraries/ngMeta.min.js"></script>
	<script src="libraries/update-meta.min.js"></script>


	<script src="https://js.moltin.com/v1"></script>

	<link href="libraries/bootstrap.min.css" rel="stylesheet">
	<link href="libraries/bootstrap-responsive.min.css" rel="stylesheet">
	<script src = "libraries/getAddress.js"></script>

	<!--Paypal in context checkout-->
	<script src="//www.paypalobjects.com/api/checkout.js" async></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!--<script src="libraries/bootstrap.min.js"></script>-->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

	<!--Local library js-->
	<script src="js/libraries/instafeed.min.js"></script>

	<!--Lightslider-->
	<script src="libraries/lightslider.min.js"></script>
	<link rel = "stylesheet" href = "libraries/lightslider.min.css" />


	<!-- Skeuocard -->
	<link rel = "stylesheet" href = "libraries/skeuocard/styles/skeuocard.css" />
	<link rel = "stylesheet" href = "libraries/skeuocard/styles/skeuocard.reset.css" />
	<!--<link rel = "stylesheet" href = "libraries/skeuocard/styles/demo.css" />-->
	<script src = "libraries/skeuocard/javascripts/skeuocard.js"></script>
	<script src = "libraries/skeuocard/javascripts/skeuocard.min.js"></script>
	<script src = "libraries/skeuocard/javascripts/vendor/cssua.min.js"></script>
	<script src = "libraries/skeuocard/javascripts/vendor/demo.fix.js"></script>

	<!--Vex-->
	<script src = "libraries/vex/vex.combined.min.js"></script>
	<link rel = "stylesheet" href = "libraries/vex/vex-theme-wireframe.css" />
	<link rel = "stylesheet" href = "libraries/vex/vex.css" />

	<!--Selectize-->
	<script src = "libraries/selectize.min.js"></script>
	<link rel = "stylesheet" href = "libraries/selectize.css" />

	<!--Side menu-->
	<script src = "libraries/jquery.mmenu.min.js"></script>
	<script src = "libraries/jquery.mmenu.fixedelements.min.js"></script>
	<link rel = "stylesheet" href = "libraries/jquery.mmenu.css" />	

	<!--Exit intent popup-->
	<script src = "libraries/bioep.min.js"></script>

	<!--Popout chat window-->
	<script src = "libraries/slider.js"></script>	

	<!-- Site JS to clear-->
	<script src="js/app.js"></script>

	<script src = "js/moltin_api_service.js"></script>
	<script src = "js/remote_request_service.js"></script>
	<script src = "js/edited_data_store.js"></script>
	<script src = "js/event_tracking_service.js"></script>

	<script src="templates/home_controller.js"></script>
	<script src="templates/products_controller.js"></script>
	<script src="templates/account_controller.js"></script>
	<script src="templates/create_account_controller.js"></script>
	<script src="templates/reset_password_controller.js"></script>
	<script src="templates/cart_controller.js"></script>
	<script src="templates/search_controller.js"></script>
	<script src="templates/checkout_controller.js"></script>
	<script src="templates/receipt_controller.js"></script>
	<script src="templates/brand_controller.js"></script>

	<!--Minified JS includes-->
	<!--<script src = "js/core.min.js"></script>
	<script src = "templates/templates.min.js"></script>-->

	<!--Keep these includes-->
	<script src = "js/edited_furniture_modifier_store.js"></script>
	<script src="static_pages/static_page_controller.js"></script>

	<!--Site CSS-->
	<link rel="stylesheet" href = "css/global.css">
	<link rel="stylesheet" href = "css/global_text.css">
	<link rel="stylesheet" href = "css/overwrite.css">
	<link rel="stylesheet" href = "css/containers.css">
	<link rel="stylesheet" href = "css/buttons.css">
	<link rel="stylesheet" href = "css/animations.css">
	<link rel="stylesheet" href = "css/inputs.css">
	<link rel="stylesheet" href = "css/static_pages.css">
	<link rel="stylesheet" href = "css/mobile_menu.css">

	<!--Partials CSS-->
	<link rel="stylesheet" href = "css/_header.css">
	<link rel="stylesheet" href = "css/_sidebar.css">
	<link rel="stylesheet" href = "css/_footer.css">
	<link rel="stylesheet" href = "css/_breadcrumb.css">
	<link rel="stylesheet" href = "css/_productgrid.css">
	<link rel="stylesheet" href = "css/_productdetails.css">
	<link rel="stylesheet" href = "css/_usercart.css">
	<link rel="stylesheet" href = "css/_skeuocard.css">
	<link rel="stylesheet" href = "css/_extraproducts.css">


	<!--Page CSS-->		
	<link rel="stylesheet" href = "css/page_homeGrid.css">
	<link rel="stylesheet" href = "css/page_account.css">
	<link rel="stylesheet" href = "css/page_checkout.css">
	<link rel="stylesheet" href = "css/page_cart.css">
	<link rel="stylesheet" href = "css/page_brand.css">
	<link rel="stylesheet" href = "css/page_receipt.css">

	<!--Library CSS-->
	<link rel="stylesheet" href = "css/animate_lib.css">	
	<link rel="stylesheet" href = "css/vex_styles.css">	
	<link rel="stylesheet" href = "css/slider.css">



	<base href="/">

</head>

<body>


<nav id="mobile_menu">
   	<div ng-include="'partials/_mobile_sidebar.html'"></div>
</nav>


<div class = "container" id = "my-page">
	<!--<div class = "mobile_menu_button Fixed hamburger"><i class="fa fa-bars" aria-hidden="true"></i> MENU </div>-->
	<div class = "mobile_menu_button Fixed">
		<div id = "hamburger">
			<span class="top-bar"></span>
	   		<span class="middle-bar"></span>
	   		<span class="bottom-bar"></span>
   		</div>
   		<!--<div class = "menu_text">Menu</div>-->
   		<img src = "../images/logo.png" class = "mobile_logo">
   	</div>
	<!--<div class="row preheader">
	</div>-->
	<div class="row">
		<div class="col-md-2 col-sm-2 sidebarContainer">
				<div ng-include="'partials/_sidebar.html'"></div>
		</div>
		<div class="col-md-10 col-sm-10">
			<div class = "row headerContainer">
				<div ng-include="'partials/_header.html'"></div>
			</div>
			<div class = "row contentContainer">

				<div ng-view></div>

			</div>
		</div>
	</div>
	<div class = "row">
		<div class="col-md-12 footerContainer">
			<div ng-include="'partials/_footer.html'"></div>
		</div>
	</div>

	<div ng-include="'partials/_contact.html'"></div>

</div>



</body>
</html>