<div class = "static_page animated fadeIn">

	<div class="row-fluid">
	    <div class="span4">
	        <div class="boxes box-violet">
	            <h3>UK Delivery</h3>
	            <p><strong>Next Day Delivery -</strong> £4.95 sent via 1st Class
	            Royal Mail or Parcelforce express24 service.</p>
	            <p><strong>Free Delivery -</strong> Available on orders over £30.
	            Sent via Royal Mail or Parcelforce express48 service.</p>
	        </div>
	    </div>
	    <div class="span4">
	        <div class="boxes box-sage">
	            <h3>Click &amp; Collect</h3>
	            <p>Don't want to wait in for your delivery? Pick click &amp;
	            collect and have your order delivered to one of our stores free of
	            charge and within 24 hours. You'll receive an email once your order
	            is ready to collect.</p>
	        </div>
	    </div>
	    <div class="span4">
	        <div class="boxes box-peach">
	            <h3>International Delivery</h3><strong>Channel Islands -</strong>
	            £9.95<br>
	            <strong>Republic of Ireland -</strong> £12.95<br>
	            <strong>France and Monaco -</strong> £13.95<br>
	            <strong>Denmark -</strong> £16.95<br>
	            <strong>Belgium and Luxembourg -</strong> £9.95<br>
	            <strong>Germany -</strong> £10.95<br>
	            <strong>Spain -</strong> £25.95<br>
	            <strong>Other countries -</strong> Please contact us directly
	        </div>
	    </div>
	</div>
	<div class="row-fluid">
	    <div class="span12">
	        <div class="boxes box-white">
	            All orders will be dispatched within 24 hours of receipt of your
	            order, on&nbsp;the rare occasion your item is out of stock we will
	            contact you to confirm delivery dates or give you the option of
	            cancelling your order for a full refund.
	        </div>
	    </div>
	</div>
	<div class="boxes box-white">
	    <h3>Returns &amp; Exchanges</h3>
	    <p>If your order arrives damaged or parts are missing please contact us
	    immediately either via email at hello@edited.co.uk or via telephone on
	    01273 604006 to arrange an refund, replacement or repair.</p>
	    <p>If you are unhappy with your order and wish to return part or all of
	    your order please email us at hello@edited.co.uk to let us know and post
	    the items back within 14 days of receipt to our Brighton store – address
	    below. We will then be able to offer you an exchange, refund or credit note
	    to spend online or instore. All refunds shall be returned via the payment
	    method they were made.</p>
	    <h4>Return Address:</h4>
	    <p>17-19 Brighton Square, Brighton, East Sussex, BN1 1HD</p>
	    <p>Please make sure all items returned are in original packaging and
	    wrapped securely to make sure we can process your return as soon as
	    possible. Any returns should be sent via an insured registered delivery and
	    proof of postage kept as we cannot accept liability for items lost or
	    damaged in transit.</p>
	    <p>Please note that Edited can not refund postage costs for returning
	    unwanted items to us.</p>
	</div>

</div>