<div class = "static_page animated fadeIn">

	<div class = "row">
		<div class = "col-md-12">
			<img class = "shop-image" src = "images/new_shop_front_web.jpg"></img>
		</div>
	</div>

	<div class="boxes box-white boxes-no-top">
	    <h3>Our Brighton Store</h3>
	    <p>Originally based on Gardner Street and now in our a new and much bigger location
	    in Brighton square, Edited's Brighton stores have been suppling the good folk of Brighton with
	    home and giftware galore since 2011! Showcasing an <em>Edited</em>
	    selection of fine goods for the home from designers all around, we have a
	    great mix of local talent, UK based designers and International design
	    houses offering the best in home decor, lighting, cookware, artwork and
	    gifts.&nbsp;</p>
	    <p>Our customers are tired of the same ubiquitous products seen so many
	    times in stores across the country, which is why we offer nothing but
	    unique eclectic pieces - that don't cost the earth! Bringing together a mix
	    of materials and colour to create a range that would look great on its own
	    or in amongst your home.</p>
	    <p>So if internet shopping is not for you, pop down to our store on Gardner
	    Street in Brighton for a browse, we are always up for a good natter about
	    design and interiors. We like to look at customer service as just that, a
	    service to our customers, not a sales pitch, we are focused on making sure
	    you find what your after - even if it's not from us!</p><br>
	    <div class="row-fluid">
	        <div class="span4">
	            <div class="span6 textleft">
	                Monday<br>
	                Tuesday<br>
	                Wednesday<br>
	                Thursday<br>
	                Friday<br>
	                Saturday<br>
	                Sunday<br>
	                Bank Holidays
	            </div>
	            <div class="span6 textright">
	                10:00-18:00<br>
	                10:00-18:00<br>
	                10:00-18:00<br>
	                10:00-18:00<br>
	                10:00-18:00<br>
	                10:00-18:00<br>
	                11:00-17:30<br>
	                11:00-17:30
	            </div>
	        </div>
	        <div class="span8">
	            <!--<iframe frameborder="0" height="350" marginheight="0" marginwidth=
	            "0" scrolling="no" src=
	            "https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Edited,+3+Gardner+Street,+Brighton&amp;aq=&amp;sll=50.824468,-0.139818&amp;sspn=0.005341,0.016512&amp;ie=UTF8&amp;hq=Edited,&amp;hnear=3+Gardner+St,+Brighton+BN1,+United+Kingdom&amp;t=m&amp;ll=50.824495,-0.139939&amp;spn=0.006295,0.006295&amp;output=embed"
	            width="100%"></iframe>-->
	        </div>
	    </div>
	</div>

</div>