<div class = "static_page animated fadeIn">

	<div class = "col-md-12">
		<h1>Privacy Policy</h1>
	</div>

	<div class="boxes box-white">

		<p><span style="line-height: 1.45em;">This Privacy Policy governs the manner in
		which Edited collects, uses, maintains and discloses information collected from
		users (each, a “User”) of the</span> <a href=
		"http://www.edited.co.uk">www.edited.co.uk</a> <span style=
		"line-height: 1.45em;">website ("Site"). This privacy policy applies to the
		Site and all products and services offered by Edited.</span></p>
		<h3 class="heading-page-3">PERSONAL IDENTIFICATION INFORMATION</h3>
		<p>We may collect personal identification information from Users in a variety
		of ways, including, but not limited to, when Users visit our site, register on
		the site, place an order, subscribe to the newsletter, fill out a form, and in
		connection with other activities, services, features or resources we make
		available on our Site. Users may be asked for, as appropriate, name, email
		address, mailing address, phone number. Users may, however, visit our Site
		anonymously. We will collect personal identification information from Users
		only if they voluntarily submit such information to us. Users can always refuse
		to supply personally identification information, except that it may prevent
		them from engaging in certain Site related activities.</p>
		<h3 class="heading-page-3">NON-PERSONAL IDENTIFICATION INFORMATION</h3>
		<p>We may collect non-personal identification information about Users whenever
		they interact with our Site. Non-personal identification information may
		include the browser name, the type of computer and technical information about
		Users means of connection to our Site, such as the operating system and the
		Internet service providers utilized and other similar information.</p>
		<h3 class="heading-page-3">HOW WE USE COLLECTED INFORMATION</h3>
		<p>Edited may collect and use Users personal information for the following
		purposes:</p>
		<ul>
		    <li><em>- To improve customer service</em><br>
		    Information you provide helps us respond to your customer service requests
		    and support needs more efficiently.</li>
		    <li><em>- To personalize user experience</em><br>
		    We may use information in the aggregate to understand how our Users as a
		    group use the services and resources provided on our Site.</li>
		    <li><em>- To improve our Site</em><br>
		    We may use feedback you provide to improve our products and services.</li>
		    <li><em>- To process payments</em><br>
		    We may use the information Users provide about themselves when placing an
		    order only to provide service to that order. We do not share this
		    information with outside parties except to the extent necessary to provide
		    the service.</li>
		    <li><em>- To send periodic emails</em><br>
		    We may use the email address to send User information and updates
		    pertaining to their order. It may also be used to respond to their
		    inquiries, questions, and/or other requests. If User decides to opt-in to
		    our mailing list, they will receive emails that may include company news,
		    updates, related product or service information, etc. If at any time the
		    User would like to unsubscribe from receiving future emails, we include
		    detailed unsubscribe instructions at the bottom of each email or User may
		    contact us via our Site.</li>
		</ul>
		<h3 class="heading-page-3">HOW WE PROTECT YOUR INFORMATION</h3>
		<p>We adopt appropriate data collection, storage and processing practices and
		security measures to protect against unauthorized access, alteration,
		disclosure or destruction of your personal information, username, password,
		transaction information and data stored on our Site.</p>
		<h3 class="heading-page-3">SHARING YOUR PERSONAL INFORMATION</h3>
		<p>We do not sell, trade, or rent Users personal identification information to
		others. We may share generic aggregated demographic information not linked to
		any personal identification information regarding visitors and users with our
		business partners, trusted affiliates and advertisers for the purposes outlined
		above.We may use third party service providers to help us operate our business
		and the Site or administer activities on our behalf, such as sending out
		newsletters or surveys. We may share your information with these third parties
		for those limited purposes provided that you have given us your permission.</p>
		<h3 class="heading-page-3">THIRD PARTY WEBSITES</h3>
		<p>Users may find advertising or other content on our Site that link to the
		sites and services of our partners, suppliers, advertisers, sponsors, licensors
		and other third parties. We do not control the content or links that appear on
		these sites and are not responsible for the practices employed by websites
		linked to or from our Site. In addition, these sites or services, including
		their content and links, may be constantly changing. These sites and services
		may have their own privacy policies and customer service policies. Browsing and
		interaction on any other website, including websites which have a link to our
		Site, is subject to that website’s own terms and policies.</p>
		<h3 class="heading-page-3">CHANGES TO THIS PRIVACY POLICY</h3>
		<p>Edited has the discretion to update this privacy policy at any time. When we
		do, we will revise the updated date at the bottom of this page. We encourage
		Users to frequently check this page for any changes to stay informed about how
		we are helping to protect the personal information we collect. You acknowledge
		and agree that it is your responsibility to review this privacy policy
		periodically and become aware of modifications.</p>
		<h3 class="heading-page-3">YOUR ACCEPTANCE OF THESE TERMS</h3>
		<p>By using this Site, you signify your acceptance of this policy. If you do
		not agree to this policy, please do not use our Site. Your continued use of the
		Site following the posting of changes to this policy will be deemed your
		acceptance of those changes.</p>
		<h3 class="heading-page-3">CONTACTING US</h3>
		<p>If you have any questions about this Privacy Policy, the practices of this
		site, or your dealings with this site, please contact us at:<br>
		Edited<br>
		3 Gardner Street Brighton BN1 1UP<br>
		01273 604006<br>
		hello[at]edited.co.uk<br>
		This privacy policy sets out how Edited uses and protects any information that
		you give Edited when you use this website. Edited is committed to ensuring that
		your privacy is protected. Should we ask you to provide certain information by
		which you can be identified when using this website, then you can be assured
		that it will only be used in accordance with this privacy statement. Edited may
		change this policy from time to time by updating this page. You should check
		this page from time to time to ensure that you are happy with any changes.</p>
		<h3 class="heading-page-3">WHAT WE COLLECT</h3>
		<p>We may collect the following information:</p>
		<ul>
		    <li>name</li>
		    <li>contact information including email address</li>
		    <li>demographic information such as postcode, preferences and
		    interests</li>
		    <li>other information relevant to customer surveys and/or offers</li>
		</ul>
		<p>For the exhaustive list of cookies we collect see the <a href=
		"http://www.editedbrighton.com/privacy-policy/#list">List of cookies we
		collect</a> section.</p>
		<h3 class="heading-page-3">WHAT WE DO WITH THE INFORMATION WE GATHER</h3>
		<p>We require this information to understand your needs and provide you with a
		better service, and in particular for the following reasons:</p>
		<ul>
		    <li>Internal record keeping.</li>
		    <li>We may use the information to improve our products and services.</li>
		    <li>We may periodically send promotional emails about new products, special
		    offers or other information which we think you may find interesting using
		    the email address which you have provided.</li>
		    <li>From time to time, we may also use your information to contact you for
		    market research purposes. We may contact you by email, phone, fax or mail.
		    We may use the information to customise the website according to your
		    interests.</li>
		</ul>
		<h3 class="heading-page-3">SECURITY</h3>
		<p>We are committed to ensuring that your information is secure. In order to
		prevent unauthorised access or disclosure, we have put in place suitable
		physical, electronic and managerial procedures to safeguard and secure the
		information we collect online.</p>
		<h3 class="heading-page-3">HOW WE USE COOKIES</h3>
		<p>A cookie is a small file which asks permission to be placed on your
		computer’s hard drive. Once you agree, the file is added and the cookie helps
		analyse web traffic or lets you know when you visit a particular site. Cookies
		allow web applications to respond to you as an individual. The web application
		can tailor its operations to your needs, likes and dislikes by gathering and
		remembering information about your preferences.<br>
		We use traffic log cookies to identify which pages are being used. This helps
		us analyse data about web page traffic and improve our website in order to
		tailor it to customer needs. We only use this information for statistical
		analysis purposes and then the data is removed from the system.<br>
		Overall, cookies help us provide you with a better website, by enabling us to
		monitor which pages you find useful and which you do not. A cookie in no way
		gives us access to your computer or any information about you, other than the
		data you choose to share with us. You can choose to accept or decline cookies.
		Most web browsers automatically accept cookies, but you can usually modify your
		browser setting to decline cookies if you prefer. This may prevent you from
		taking full advantage of the website.</p>
		<h3 class="heading-page-3">LINKS TO OTHER WEBSITES</h3>
		<p>Our website may contain links to other websites of interest. However, once
		you have used these links to leave our site, you should note that we do not
		have any control over that other website. Therefore, we cannot be responsible
		for the protection and privacy of any information which you provide whilst
		visiting such sites and such sites are not governed by this privacy statement.
		You should exercise caution and look at the privacy statement applicable to the
		website in question.</p>
		<h3 class="heading-page-3">CONTROLLING YOUR PERSONAL INFORMATION</h3>
		<p>You may choose to restrict the collection or use of your personal
		information in the following ways:</p>
		<ul>
		    <li>whenever you are asked to fill in a form on the website, look for the
		    box that you can click to indicate that you do not want the information to
		    be used by anybody for direct marketing purposes</li>
		    <li>if you have previously agreed to us using your personal information for
		    direct marketing purposes, you may change your mind at any time by writing
		    to or emailing us at owner@example.com</li>
		</ul>
		<p>We will not sell, distribute or lease your personal information to third
		parties unless we have your permission or are required by law to do so. We may
		use your personal information to send you promotional information about third
		parties which we think you may find interesting if you tell us that you wish
		this to happen.<br>
		You may request details of personal information which we hold about you under
		the Data Protection Act 1998. A small fee will be payable. If you would like a
		copy of the information held on you please write to 3 Gardner Street, Brighton,
		BN1 1UP.<br>
		If you believe that any information we are holding on you is incorrect or
		incomplete, please write to or email us as soon as possible, at the above
		address. We will promptly correct any information found to be incorrect.</p>

	</div>

</div>