<div class = "static_page animated fadeIn">

	<div class="row-fluid">
	    <div class="span8">
	        <div class="boxes box-white">
	            <h3>Looking to get your product into our stores?</h3>
	            <p>If you would like your product stocked on the shelves of Edited
	            here is how to go about it!</p>
	            <p>Start by emailing our buying team at buyer@edited.co.uk with
	            some clear low resolution images along with the details of your
	            product such as but not limited to; RRP, cost price, delivery time,
	            delivery costs, production time, other stockists, any exclusivity
	            offers or terms offered.&nbsp;You should receive instant email by
	            return confirming receipt of your email.</p>
	            <p>Please <strong>do not</strong> attached large high resolution
	            images or PDF documents as these will not make it through our
	            firewall. &nbsp;</p>
	            <p>We will&nbsp;then review your submissions and get back to you if
	            the product is of interest. Please do remember that this&nbsp;can
	            take anywhere up to 4 weeks as we look for&nbsp;different product
	            types at different times of the year. If your product is something
	            we are looking for&nbsp;we will&nbsp;contact you to arrange a
	            appointment to discuss it further.&nbsp;</p>
	            <p>As long as you received the automated email&nbsp;response to
	            your submission we will be in receipt of your email.&nbsp;Due to
	            the high number of product submissions we receive we cannot accept
	            any&nbsp;visits to our stores or offices without a prearranged
	            appointment.&nbsp;</p>
	        </div>
	    </div>
	    <div class="span4">
	        <div class="boxes box-yellow">
	            <h3>Please note</h3>
	            <p>Due to the high number of product submissions
	            unfortunately&nbsp;we cannot give feedback&nbsp;to everyone,
	            so&nbsp;if you do not hear back from us you have been unsuccessful
	            this time. However please feel free to try again in 6 months as our
	            trends and stocking ability does change.&nbsp;</p>
	            <p>Please also note that we are unable to return any product
	            samples sent to us unless this is by prior arrangement.</p>
	        </div>
	    </div>
	</div>

</div>