<div class = "static_page animated fadeIn">

	<div class = "col-md-12">
		<h1>Terms and Conditions</h1>
	</div>

	<div class="boxes box-white">

		<h3 class="heading-page-3">INTRODUCTION</h3>
		<p>This Agreement contains the complete terms and conditions that apply to you
		in joining, buying, shopping and all other activities you will make in our
		website. By using or shopping from this Web site, you agree to be bound by its
		terms of use and shall comply thereof. This Agreement describes and encompasses
		the entire agreement between us and you, and supersedes all prior or
		contemporaneous agreements, representations, warranties and understandings with
		respect to the Site, the content and computer programs provided by or through
		the Site, and the subject matter of this Agreement. Amendments to this
		agreement can be made and effected by us from time to time without specific
		notice to you end. Agreement posted on the Site reflects the latest agreement
		and you should carefully review the same before you use our site.</p>
		<h3 class="heading-page-3">USE OF THE SITE &amp; PROHIBITIONS</h3>
		<p>The Site allows you to post join, buy and shop online. However, you are
		prohibited to do the following acts, to wit: (a) use our sites, including its
		services and or tools if you are not able to form legally binding contracts,
		are under the age of 18, or are temporarily or indefinitely suspended from
		using our sites, services, or tools (b) posting of an items in inappropriate
		category or areas on our sites and services; (c) collecting information about
		users’ personal information; (d) maneuvering the price of any item or interfere
		with other users’ listings; (f) post false, inaccurate, misleading, defamatory,
		or libelous content; (g) take any action that may damage the rating system. For
		you to complete the sign-up process in our site, you must provide your full
		legal name, current address, a valid email address, and any other information
		needed in order to complete the signup process. You must qualify that you are
		18 years or older and must be responsible for keeping your password secure and
		be responsible for all activities and contents that are uploaded under your
		account. You must not transmit any worms or viruses or any code of a
		destructive nature.</p>
		<h3 class="heading-page-3">PAYMENTS &amp; PROCESSES OF INVOICES</h3>
		<p>Edited has the sole discretion to provide the terms of payment. Unless
		otherwise agreed, payment must first be received by Edited prior to the
		latter’s acceptance of an order. Unless credit term has been agreed upon,
		payment for the products shall be made by credit or debit card, paypal or BACS.
		Invoices are due and payable within the time period noted on your invoice,
		measured from the date of the invoice. An order may be invoice separately.
		Edited has all the discretion to cancel or deny orders. Edited is not
		responsible for pricing, typographical, or other errors in any offer by Edited
		and reserves the right to cancel any orders arising from such errors. Invoices
		must be paid within 15 days of the invoice date. For all but consumer
		purchases, Edited reserves the right to charge you a late penalty charge of 1%
		per month applied against undisputed overdue amounts or the maximum rate
		permitted by law whichever is less. Every 30 days thereafter, you will continue
		to be charged an additional late penalty charge.</p>
		<h3 class="heading-page-3">REFUND POLICY</h3>
		<p>In accordance of the distance selling regulations 2000 you are welcome to a
		7 day cooling off period starting from the date of delivery, this allows a
		refund, replacement, exchange or credit note if you no longer want your order.
		For more information on our refund policy please <a href=
		"/delivery-and-returns">click here</a> .</p>
		<h3 class="heading-page-3">RISK OF LOSS</h3>
		<p>All items purchased from our website are made pursuant to a delivery
		contract. The risk of loss and title for such items pass to you upon our
		delivery to the courier.</p>
		<h3 class="heading-page-3">PRODUCT PRICING &amp; DESCRIPTIONS</h3>
		<p>The List Price displayed for products on our website represents the full
		retail price listed on the product itself, suggested by the manufacturer or
		supplier, or estimated in accordance with standard industry practice; or the
		estimated retail value for a comparably featured item offered elsewhere. The
		List Price is a comparative price estimate and may or may not represent the
		prevailing price in every area on any particular day. For certain items that
		are offered as a set, the List Price may represent “open-stock” prices, which
		means the aggregate of the manufacturer’s estimated or suggested retail price
		for each of the items included in the set. Where an item is offered for sale by
		one of our merchants, the List Price may be provided by the merchant. In cases
		of mispriced in our catalogs in which the item’s correct price is higher than
		our stated price, we will, at our discretion, either contact you for
		instructions before shipping or cancel your order and notify you of such
		cancellation. We do not warrant that product descriptions or other content of
		this site is accurate, complete, reliable, current, or error-free. If a product
		offered in our website is not as described, your sole remedy is to return it in
		unused condition.</p>
		<h3 class="heading-page-3">EDITING, DELETING AND MODIFICATION</h3>
		<p>We may edit, delete or modify any of the terms and conditions contained in
		this Agreement, at any time and in our sole discretion, by posting a notice or
		a new agreement on our site. YOUR CONTINUED PARTICIPATION IN OUR PROGRAM, VISIT
		AND SHOPPING IN OUR SITE FOLLOWING OUR POSTING OF A CHANGE NOTICE OR NEW
		AGREEMENT ON OUR SITE WILL CONSTITUTE BINDING ACCEPTANCE OF THE CHANGE.</p>
		<h3 class="heading-page-3">ACKNOWLEDGMENT OF RIGHTS</h3>
		<p>You hereby acknowledge that all rights, titles and interests, including but
		not limited to rights covered by the Intellectual Property Rights, in and to
		the site, and that You will not acquire any right, title, or interest in or to
		the Program except as expressly set forth in this Agreement. You will not
		modify, adapt, translate, prepare derivative works from, decompile, reverse
		engineer, disassemble or otherwise attempt to derive source code from any of
		our services, software, or documentation, or create or attempt to create a
		substitute or similar service or product through use of or access to the
		Program or proprietary information related thereto.</p>
		<h3 class="heading-page-3">FRAUD</h3>
		<p>FRAUDULENT ACTIVITIES are highly monitored in our site and if fraud is
		detected Edited shall resort all remedies available to us, and you shall be
		responsible for all costs and legal fees arising from these fraudulent
		activities.</p>
		<h3 class="heading-page-3">WARRANTY DISCLAIMER AND LIMITATIONS OF
		LIABILITY</h3>
		<p>We will not be liable for indirect, special, or consequential damages, or
		any loss of revenue, profits, or data, arising in connection with this
		Agreement or the Program, even if we have been advised of the possibility of
		such damages. We make no express or implied warranties or representations with
		respect to the Program or any products sold and offered in our website
		(including, without limitation, warranties of fitness, merchantability,
		non-infringement, or any implied warranties arising out of a course of
		performance, dealing, or trade usage). In addition, we make no representation
		that the operation of our site will be uninterrupted or error-free, and we will
		not be liable for the consequences of any interruptions or errors. This site
		and its information, contents, materials, products and services are provided on
		an “as is” and “as available” basis. You and understand and agree that your use
		of this site is at your own risk.</p>
		<h3 class="heading-page-3">CONFIDENTIALITY</h3>
		<p>You agree not to disclose information you obtain from us and or from our
		clients, advertisers and suppliers. All information submitted to by an end-user
		customer pursuant to a Program is proprietary information of Edited. Such
		customer information is confidential and may not be disclosed. Publisher agrees
		not to reproduce, disseminate, sell, distribute or commercially exploit any
		such proprietary information in any manner.</p>
		<h3 class="heading-page-3">NON-WAIVER</h3>
		<p>Failure of the Edited to insist upon strict performance of any of the terms,
		conditions and covenants hereof shall not be deemed a relinquishment or waiver
		of any rights or remedy that the we may have, nor shall it be construed as a
		waiver of any subsequent breach of the terms, conditions or covenants hereof,
		which terms, conditions and covenants shall continue to be in full force and
		effect. No waiver by either party of any breach of any provision hereof shall
		be deemed a waiver of any subsequent or prior breach of the same or any other
		provision.</p>
		<h3 class="heading-page-3">MISCELLANEOUS</h3>
		<p>This Agreement shall be governed by and construed in accordance with the
		substantive laws of England &amp; Wales, without any reference to
		conflict-of-laws principles. Any dispute, controversy or difference which may
		arise between the parties out of, in relation to or in connection with this
		Agreement is hereby irrevocably submitted to the exclusive jurisdiction of the
		courts of England &amp; Wales, to the exclusion of any other courts without
		giving effect to its conflict of laws provisions or your actual location or
		country of residence. The entire agreement between the parties with respect to
		the subject matter hereof is embodied on this agreement and no other agreement
		relative hereto shall bind either party herein. Your rights of whatever nature
		cannot be assigned nor transferred to anybody, and any such attempt may result
		in termination of this Agreement, without liability to us. However, we may
		assign this Agreement to any person at any time without notice. In the event
		that any provision of these Terms and Conditions is found invalid or
		unenforceable pursuant to any judicial decree or decision, such provision shall
		be deemed to apply only to the maximum extent permitted by law, and the
		remainder of these Terms and Conditions shall remain valid and enforceable
		according to its terms.</p>

	</div>

</div>