<!--<div class = "row breadcrumb-container">
	<div ng-include="'partials/_breadcrumb.html'"></div>
</div>-->

<div ng-if = "!loggedIn" ng-include="'partials/_no_account.html'"></div>

<div ng-if = "loggedIn" ng-include="'partials/_full_account.html'"></div>
