<div class = "animated fadeIn">

	<div class = "row brand_headerRow">

		<div class = "col-md-12">

			<h1>SHOP BY BRAND</h1>

		</div>

	</div>

	<div class = "row brand_grid">

		<div class = "col-md-3 brand_wrap" ng-repeat = "brand in displayBrands">
			<a href = "" ng-click = "selectBrand(brand.name)">
				<img class="loaderImage" src="../images/loaderImage.png">
				<img class = "brand_image finalImage" src = "https://www.data.edited.co.uk/themes/colourlinenew/img/brands/{{brand.image}}" alt = "{{brand.name}} brand image">
			</a>
		</div>


	</div>


</div>