<div class = "row breadcrumb-container">
	<div ng-include="'partials/_breadcrumb.html'"></div>
</div>

<div class = "animated fadeInUp">
	<div ng-include="'partials/_usercart.html'"></div>

	<!--<a href = "" ng-click = "makeUserRequest({'op': 'clearCart' })">Clear cart</a>

	<div >
		<a href = "checkout">Go to checkout</a>
	</div>-->

	<!--<div class = "row">

		<div class = "col-sm-12 cart_quickNotice">
			Using our new, efficient checkout, which includes quick address lookup by postcode and on-page card payments, you can checkout securely in mere minutes!
		</div>

	</div>-->

	<!--Promo code section-->
	<div class = "row" ng-if = "userCart.total_items > 0 && !promo_code.active">
		<div class = "col-sm-6"></div>
		<div class = "col-sm-6">
			<div class = "account_whiteBox cart_discountBox">
				<label for = "cartDiscount">Got a discount code?</label>
				<div class = "row">
					<div class = "col-sm-8">
						<input class = "account_input cart_discountInput" type = "text" name = "cartDiscount" ng-model = "cartDiscountCode" placeholder = "Enter code">
					</div>
					<div class = "col-sm-4">
						<input class = "account_button cart_discountButton" type = "button" value = "Apply" ng-click = "cart_applyPromoCode(cartDiscountCode)">
					</div>
				</div> 
				<div class = "row">
					<div class = "col-sm-12 cart_discountMessage">
						Discount codes do not apply to sale items
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<!--<div ng-include="'partials/_extraproducts.html'"></div>-->

	<div class = "row checkout_buttonRow" ng-if = "userCart.total_items > 0">

		<div class = "col-md-3">

			<div href = "" class = "checkout_button" ng-click = "makeUserRequest({'op': 'clearCart' })">
				EMPTY
			</div>

		</div>
		<div class = "col-md-9">

			<div href = "checkout" class = "checkout_button checkout_buttonYellow" ng-click = "navigateToCheckout()">
				CHECKOUT
			</div>

		</div>

	</div>
</div>
