<!--<div class = "row breadcrumb-container">
	<div ng-include="'partials/_breadcrumb.html'"></div>
</div>-->

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

<!-- Google Code for Webstore Conversion Conversion Page
In your html page, add the snippet and call
goog_report_conversion when someone clicks on the
chosen link or button. -->
<!--<script type="text/javascript">
  /* <![CDATA[ */
  	goog_snippet_vars = function() {

        var amountText = $(".final-total").html(),
            currencySymbol = amountText.substr(0, 1),
            amount = amountText.substr(1, amountText.length),
            currencyText;

        switch (currencySymbol) {
            case "€":
                currencyText = "EUR";
                break;
            case "$":
                currencyText = "USD";
                break;
            default:
                currencyText = "GBP";
                break;
        }

        var w = window;
        w.google_conversion_id = 941419655;
        w.google_conversion_label = "_Ar8CL2I7GYQh9nzwAM";
        w.google_conversion_value = amount;
        w.google_conversion_currency = currencySymbol;
        w.google_remarketing_only = false;

    }

    // DO NOT CHANGE THE CODE BELOW.
	goog_report_conversion = function(url) {
	    goog_snippet_vars();
	    window.google_conversion_format = "3";
	    window.google_is_call = true;
	    var opt = new Object();
	    opt.onload_callback = function() {
	        if (typeof(url) != 'undefined') {
	            window.location = url;
	        }
	    }
	    var conv_handler = window['google_trackConversion'];
	    if (typeof(conv_handler) == 'function') {
	        conv_handler(opt);
	    }
	}
/* ]]> */
</script>-->

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js"></script>

<div class = "animated fadeIn">
<h1>CHECKOUT</h1>


<div id = "checkout">

<!--<iframe id="remember" name="remember" class="hidden" src="blank"></iframe>-->
<!--CUSTOMER CONTACT SECTION-->
<!--<form name = "contact_data_form" id = "contact_data_form" novalidate target = "remember" method = "post" action = "blank">-->
<form name = "contact_data_form" id = "contact_data_form" novalidate>
	<div class = "row">	
        <div class="col-md-12">
        	<div class="boxes box-white">
            	<h3>CUSTOMER CONTACT<i class="fa fa-check accordionTick contactAccordionTick" ng-style = "{ opacity: completedSections.indexOf('contact_data_form') !== -1 ? 1 : 0 }"></i></h3>
            	<div class = "accordionWrapper contactAccordionWrapper" ng-style="{ 'max-height': sectionHeights['contact_data_form'] }">
            		<div class = 'accordionHeadText'>Please enter your name and email address</div>
	                <div class="row">
	                    <div class="col-md-6">
	                    	<!-- First name field-->
		                    <label class = "requiredlabel" for = "contact_firstName">First name</label>
		                    <input type = "text" id = "contact_firstName" name = "contact_firstName" ng-model="order.first_name" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "15" autocomplete = "fname">
		                    <div class = "errorMessage" ng-show = "contact_data_form.contact_firstName.$invalid && (!contact_data_form.contact_firstName.$pristine || contact_data_form.$submitted)">First name cannot be blank</div>
	                    </div>
	                    <div class="col-md-6">
	                    	<!-- Last name field-->
		                    <label class = "requiredlabel" for = "contact_lastName">Last name</label>
		                    <input type = "text" id = "contact_lastName" name = "contact_lastName" ng-model="order.last_name" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "25" autocomplete = "lname">
		                    <div class = "errorMessage" ng-show = "contact_data_form.contact_lastName.$invalid && (!contact_data_form.contact_lastName.$pristine || contact_data_form.$submitted)">Last name cannot be blank</div>
	                    </div>
	                </div>
 
                	<!-- Company field MAY NOT BE NECESSARY -->
	                <!--<div class="row">
	                    <div class="col-md-6">
		                    <label for = "contact_company">Company</label>
		                    <input type = "text" id = "contact_company" name = "contact_company" ng-model="order.company" ng-model-options="{ debounce: 350 }">
	                    </div>
	                </div>-->

	                <div class="row">
	                    <div class="col-md-6">
	                    	<!-- Email address field-->
		                    <label class = "requiredlabel required" for = "contact_email">Email Address</label>
		                    <input type = "email" id = "contact_email" name = "contact_email" ng-model="order.email" ng-model-options="{ debounce: 350 }" required autocomplete = "email">
		                    <div class = "errorMessage" ng-show = "contact_data_form.contact_email.$invalid && (!contact_data_form.contact_email.$pristine || contact_data_form.$submitted)">Email address must be valid</div>
	                    </div>
	                    <div class="col-md-6">
	                    	<!-- Email address confirmation field-->
		                    <label class = "requiredlabel required" for = "contact_email_repeat">Email Address (confirm)</label>
		                    <input type = "email" id = "contact_email_repeat" name = "contact_email_repeat" ng-model="order.email_repeat" ng-model-options="{ debounce: 350 }" required autocomplete = "email">
		                    <div class = "errorMessage" ng-show = "contact_data_form.contact_email_repeat.$invalid && (!contact_data_form.contact_email_repeat.$pristine || contact_data_form.$submitted)">Email address must be valid</div>
		                    <div class = "errorMessage" ng-show = "contact_emailsDontMatch">Email addresses must match</div>
	                    </div>
	                </div>

	                <!--Custom password setup block-->
	                <div class = "checkout_accountSetupBlock" ng-show = "!loggedIn && !userRecognised">
		                <div class = "row checkboxRow checkout_customPasswordRow">
	            			<div class = "col-md-12">
		                        <input type = "checkbox" id = "createAccountCheckbox" name = "createAccountCheckbox" ng-model = "createAccount">
		                        <label for = "createAccountCheckbox" class = "createAccountLabel">Create a free account <span ng-style = "{opacity: createAccountCustomPassword ? 0 : 1}">(a password will be emailed to you) or <a href = "" ng-click = "createAccountCustomPassword = true; createAccount = true">click here to enter your own password</a></span></label>
	                        </div>
	                    </div>
	                    <div class="checkout_customPasswordRow checkout_customPasswordHiddenRow" ng-style = "{'max-height': createAccountCustomPassword && createAccount ? '400px' : '0px', 'margin-bottom': createAccountCustomPassword && createAccount ? '11px' : '0px'}">
	                    	<div class = "row">
			                    <div class="col-md-6">
			                    	<!-- Custom password field-->
				                    <label class = "" for = "customPassword_field">Password</label>
				                    <input type = "password" id = "customPassword_field" name = "customPassword_field" ng-model="customPassword" ng-model-options="{ debounce: 500 }" ng-minlength = "6" ng-maxlength = "25" ng-pattern="/^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])[a-zA-Z0-9!@#$%^&*]{6,25}$/" ng-required = "createAccountCustomPassword">
				                    <!--<div class = "errorMessage" ng-show = "contact_data_form.customPassword_field.$invalid && (!contact_data_form.customPassword_field.$pristine || contact_data_form.$submitted)">Password must be at least 6 characters long</div>-->
				                    <div ng-messages="contact_data_form.customPassword_field.$error" role = "alert" ng-show = "contact_data_form.customPassword_field.$invalid && (!contact_data_form.customPassword_field.$pristine || contact_data_form.$submitted)">
										<div class = "errorMessage" ng-message="minlength">Password must be at least 6 characters.</div>
										<div class = "errorMessage" ng-message="pattern">Be secure! Password must contain at least 1 uppercase, 1 lowercase & 1 number.</div>
									</div>
			                    </div>
			                    <div class="col-md-6">
			                    	<!-- Custom password confirmation field-->
				                    <label class = "requiredlabel required" for = "customPassword_fieldRepeat">Password (confirm)</label>
				                    <input type = "password" id = "customPassword_fieldRepeat" name = "customPassword_fieldRepeat" ng-model="customPasswordRepeat" ng-model-options="{ debounce: 500 }" ng-minlength = 6 ng-maxlength = 25 ng-pattern="/^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])[a-zA-Z0-9!@#$%^&*]{6,25}$/" ng-required = "createAccountCustomPassword">
				                    <!--<div class = "errorMessage" ng-show = "contact_data_form.customPassword_fieldRepeat.$invalid && (!contact_data_form.customPassword_fieldRepeat.$pristine || contact_data_form.$submitted)">Password must be at least 6 characters long</div>-->
				                    <div ng-messages="contact_data_form.customPassword_fieldRepeat.$error" role = "alert" ng-show = "contact_data_form.customPassword_fieldRepeat.$invalid && (!contact_data_form.customPassword_fieldRepeat.$pristine || contact_data_form.$submitted)">
										<div class = "errorMessage" ng-message="minlength">Password must be at least 6 characters.</div>
										<div class = "errorMessage" ng-message="pattern">Be secure! Password must contain at least 1 uppercase, 1 lowercase & 1 number.</div>
									</div>
				                    <div class = "errorMessage" ng-show = "customPasswordsDontMatch">Passwords must match</div>
			                    </div>
		                	</div>
		                	<div class = "row">
		                		<div class = "col-md-12">
		                    		<a href = "" ng-click = "createAccountCustomPassword = false">Click to return to using a generated password</a>
		                    	</div>
	                		</div>
		                </div>
		                <div class = "row checkboxRow checkout_newsletterRow">
	            			<div class = "col-md-12">
		                        <input type = "checkbox" id = "newsletterCheckbox" name = "newsletterCheckbox" ng-model = "signupNewsletter">
		                        <label for = "createAccountCheckbox" class = "newsletterLabel">Sign up to our newsletter - News, exclusive deals & new products straight to your inbox</label>
	                        </div>
	                    </div>
                	</div>
	                <!--End of custom password block-->

	                <!--Email recognised, login block-->
	                <div class = "checkout_accountLoginBlock accordionWrapper" ng-style = "{'max-height': userRecognised ? '400px' : '0px'}">

	                	<div class = "row">

	                		<div class = "col-md-12">Account found with this email address, <a href = "" ng-click = "">click here to login now and load your customer details</a></div>

	                	</div>

	                </div>

	                <div class = "accordionErrorText contactAccordionErrorText"></div>
	                <div class = "row-fluid checkoutButtonRow">
		                <input type="button" class = "accordionButton accordionNextButton contactAccordionNextButton span12" value = "Next step" ng-click = "goNextSection()">
		                <!--<input type="button" class = "accordionButton accordionBackButton contactAccordionBackButton span3" value = "Back">-->
		                <!--<button class = "accordionButton accordionNextButton contactAccordionNextButton col-md-12" ng-click = "contact_data.$valid && goNextSection()">Next Step</button>-->
	                </div>
                </div>
			</div>
        </div>
    </div>
    <!--<button type="submit" class="hidden contact_data_formRemember"></button>-->
</form>

<!-- DELIVERY ADDRESS SECTION-->
<form name = "shipping_address_form" id = "shipping_address_form" novalidate>
	<div class="row">
		<div class="col-md-12">
			<div class="boxes box-white">
		        <h3>DELIVERY ADDRESS<i class="fa fa-check accordionTick contactAccordionTick" ng-style = "{ opacity: completedSections.indexOf('shipping_address_form') !== -1 ? 1 : 0 }"></i></h3>
        		<div class = "accordionWrapper deliveryaddressAccordionWrapper" ng-style="{ 'max-height': sectionHeights['shipping_address_form'] }">
					
					<!-- Here need to display address currently stored against user if there are any -->

					<div class = 'accordionHeadText'>Please enter your delivery address, use the postcode search to quickly find your address if you want UK delivery</div>

					<div id="CustomerContactShippingAddress">

						<div class = "row-fluid existingAddressContainer" ng-show = "loggedIn && shippingShowSavedAddresses">

							<div class = "checkoutAddressTitle" ng-show = "loggedInAddressesLoaded">
								<span>Your saved addresses</span>
							</div>

							<div class = "loadingAddresses" ng-show = "!loggedInAddressesLoaded">
								<i class="fa fa-refresh fa-spin cart_loadingSpinner"></i>
								<div class = "cart_updatingText">Loading saved addresses, please wait...</div>
							</div>

							<div class = "savedAddressContainer savedAddressShippingContainer">
								<div class = "savedAddress savedAddressShipping" ng-repeat = "address in loggedInCustomerAddresses | unique: 'address_1'" ng-click = "selectSavedAddress('shipping', address)">
									{{formatAddressForGrid(address)}}
								</div>  
							</div>

							<span><a class = "checkoutLink" ng-click = "shippingShowAddressFinder = true; shippingShowAddressFields = true" ng-show = "!shippingShowAddressFinder && !shippingShowAddressFields">Click here to show address finder or enter a manual (or non-UK) address</a></span>

						</div>

						<div class = "row-fluid lookupContainer hideFinderFields" ng-style = "{ 'max-height': shippingShowAddressFinder ? '1000px' : '0px'}">
							<div class = "lookupShippingAddress"></div>
							<a class = "showShippingAddressFields showAddressFields checkoutLink" ng-style = "{ 'display': shippingShowAddressFields ? 'none' : 'inline' }" ng-click = "shippingShowAddressFields = true">Enter manual (or non-UK) address</a><br>
						</div>

						<div class = "hideShippingAddressFields hideAddressFields addressFields" ng-style = "{ 'max-height': shippingShowAddressFields ? '1000px' : '0px', 'margin-top' : shippingShowAddressFields ? '-15px' : '10px' }">
							<!--HIDING ADDRESS LABEL FOR NOW TO TRY OUT MORE MINIMAL CHECKOUT-->
	                        <!--<div class="row">
	                            <div class="col-md-12">
							        <label for = "shipping_label">Label for this address (i.e. home, work)</label>
				                    <input type = "text" id = "shipping_label" name = "shipping_label" ng-model="order.shipping_label" ng-model-options="{ debounce: 350 }">
	                            </div>
							</div>-->
							<div class = "showAddressFinderLinkBox" ng-show = "shippingShowSavedAddresses && !shippingShowAddressFinder"><a class = "checkoutLink" ng-click = "shippingShowAddressFinder = true;">Click here to show address finder</a></div>

							<div class="row">
	                            <div class="col-md-6"> 
							        <label class = "requiredlabel" for = "shipping_first_name">First name</label>
				                    <input type = "text" id = "shipping_first_name" name = "shipping_first_name" value = "contact_data_form.contact_firstName" ng-model="order.shipping_first_name" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "15" val = "order.first_name">
				                    <div class = "errorMessage" ng-show = "shipping_address_form.shipping_first_name.$invalid && (!shipping_address_form.shipping_first_name.$pristine || shipping_address_form.$submitted)">First name cannot be blank</div>
	                            </div>
	                            <div class="col-md-6">
							        <label class = "requiredlabel" for = "shipping_first_name">Last name</label>
				                    <input type = "text" id = "shipping_last_name" name = "shipping_last_name" value = "contact_data_form.contact_lastName" ng-model="order.shipping_last_name" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "15" val = "order.last_name">
				                    <div class = "errorMessage" ng-show = "shipping_address_form.shipping_last_name.$invalid && (!shipping_address_form.shipping_last_name.$pristine || shipping_address_form.$submitted)">Last name cannot be blank</div>
	                            </div>
	                        </div>

	                        <div class="row">
			                    <div class="col-md-6">
				                    <label class = "requiredlabel required" for = "shipping_phone">Delivery contact number</label>
				                    <input type = "text" id = "shipping_phone" name = "shipping_phone" ng-model="order.shipping_phone" ng-model-options="{ debounce: 350 }" required autocomplete = "tel">
				                    <div class = "errorMessage" ng-show = "shipping_address_form.shipping_phone.$invalid && (!shipping_address_form.shipping_phone.$pristine || shipping_address_form.$submitted)">Phone number cannot be blank and must be valid</div>
			                    </div>
			                    <div class = "col-md-6">
			                    	<div class = "phoneMessage">
			                    		This number will only be contacted if we have any queries relating to the delivery of this order.
		                    		</div>
			                    </div>
			                </div>

	                        <div class="row">
	                            <div class="col-md-6">
							        <label class = "requiredlabel" for = "shipping_address">Address</label>
				                    <input type = "text" id = "shipping_address" name = "shipping_address" ng-model="order.shipping_address" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "35">
				                    <div class = "errorMessage" ng-show = "shipping_address_form.shipping_address.$invalid && (!shipping_address_form.shipping_address.$pristine || shipping_address_form.$submitted)">First address line cannot be blank</div>
	                            </div>
	                            <div class="col-md-6">
							        <label for = "shipping_address_second">Address 2 (optional)</label>
				                    <input type = "text" id = "shipping_address_second" name = "shipping_address_second" ng-model="order.shipping_address_second" ng-model-options="{ debounce: 350 }" ngMaxLength = "35">
	                            </div>
	                        </div>

	                        <div class="row">
                        		<div class="col-md-3">
							        <label class = "requiredlabel" for = "shipping_city">City</label>
				                    <input type = "text" id = "shipping_city" name = "shipping_city" ng-model="order.shipping_city" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "35">
				                    <div class = "errorMessage" ng-show = "shipping_address_form.shipping_city.$invalid && (!shipping_address_form.shipping_city.$pristine || shipping_address_form.$submitted)">City cannot be blank</div>
	                            </div>
                        		<div class="col-md-3">
                        			<label class = "requiredlabel" for = "shipping_country">Country</label>
                        			<select id = "shipping_country" ng-model = "order.shipping_country" ng-change = "filterStates('shipping')" required>
                        				<option value="" disabled selected>Select country</option>
                        				<option ng-repeat = "country in countryList" value = "{{country.code}}">{{country.name}}</option>
                    				</select>
                        			<div class = "errorMessage" ng-show = "shipping_address_form.shipping_country.$invalid && (!shipping_address_form.shipping_country.$pristine || shipping_address_form.$submitted)">Country/state must be entered</div>
                    			</div>
                    			<div class="col-md-4">
                        			<label class = "requiredlabel" for = "shipping_state">County</label>
                        			<!---Hidden while reworking business-->
                        			<!--<select id = "shipping_state" ng-model = "order.shipping_state" required style = "display:none">
                        				<option value="" disabled selected>Select county</option>
                        				<option ng-repeat = "state in shippingAvailableCounties" value = "{{state}}">{{state}}</option>
                    				</select>-->
                    				<!-- -->
                    				<input type = "text" id = "shipping_state" name = "shipping_state" ng-model="order.shipping_state" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "35">
                        			<div class = "errorMessage" ng-show = "shipping_address_form.shipping_state.$invalid && (!shipping_address_form.shipping_state.$pristine || shipping_address_form.$submitted)">County must be entered</div>
                    			</div>
                    			<div class="col-md-2">
							        <label class = "requiredlabel" for = "shipping_postcode">Postcode</label>
				                    <input type = "text" id = "shipping_postcode" name = "shipping_postcode" ng-model="order.shipping_postcode" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "35">
				                    <div class = "errorMessage" ng-show = "shipping_address_form.shipping_postcode.$invalid && (!shipping_address_form.shipping_postcode.$pristine || shipping_address_form.$submitted)">Postcode cannot be blank</div>
	                            </div>

	                        </div>

	                        <div class = "row checkboxRow">
	                			<div class = "col-md-9">
		                        	<input type = "checkbox" id = "shipping_residential" name = "shipping_residential" ng-model = "order.shipping_residential" ng-init = "order.shipping_residential = true">
		                        	<label for = "shipping_residential">THIS IS A RESIDENTIAL ADDRESS</label>
	                        	</div>
	                    	</div>

	                    	<div class = "row checkboxRow">
	                			<div class = "col-md-9">
			                        <input type = "checkbox" id = "shipping_sameAsBilling" name = "shipping_sameAsBilling" ng-model = "billingSameAsShipping" ng-init = "billingSameAsShipping = true">
			                        <label for = "shipping_sameAsBilling">MY SHIPPING ADDRESS IS ALSO MY BILLING ADDRESS</label>
		                        </div>
		                    </div>

			                <div class = "row-fluid checkoutButtonRow">
				                <input type="button" class = "accordionButton accordionNextButton deliveryaddressAccordionNextButton span9" value = "Next step" ng-click = "goNextSection()">
				                <input type="button" class = "accordionButton accordionBackButton deliveryaddressAccordionBackButton span3" value = "Back" ng-click = "goBackSection()">
			                </div>

                        </div>

	                </div>
            	</div>
			</div>
		</div>
	</div>
</form>

<!-- BILLING ADDRESS SECTION-->
<form name = "billing_address_form" id = "billing_address_form" novalidate ng-style = "{ 'max-height': billingSameAsShipping ? '0px' : '1000px'}">
	<div class="row">
		<div class="col-md-12">
			<div class="boxes box-white">
		        <h3>BILLING ADDRESS<i class="fa fa-check accordionTick contactAccordionTick" ng-style = "{ opacity: completedSections.indexOf('billing_address_form') !== -1 ? 1 : 0 }"></i></h3>
        		<div class = "accordionWrapper billingaddressAccordionWrapper" ng-style="{ 'max-height': sectionHeights['billing_address_form'] }">
					
					<!-- Here need to display address currently stored against user if there are any -->
					<div class = 'accordionHeadText'>Please enter your billing address, use the postcode search to quickly find your address if you are billing in the UK</div>

					<div id="CustomerContactBillingAddress">

						<div class = "row-fluid existingAddressContainer" ng-show = "loggedIn && billingShowSavedAddresses">

							<div class = "checkoutAddressTitle" ng-show = "loggedInAddressesLoaded">
								<span>Your saved addresses</span>
							</div>

							<div class = "loadingAddresses" ng-show = "!loggedInAddressesLoaded">
								<i class="fa fa-refresh fa-spin cart_loadingSpinner"></i>
								<div class = "cart_updatingText">Loading saved addresses, please wait...</div>
							</div>

							<div class = "savedAddressContainer savedAddressBillingContainer">
								<div class = "savedAddress savedAddressBilling" ng-repeat = "address in loggedInCustomerAddresses | unique: 'address_1'" ng-click = "selectSavedAddress('billing', address)">
									{{formatAddressForGrid(address)}}
								</div>  
							</div>

							<span><a class = "checkoutLink" ng-click = "billingShowAddressFinder = true; billingShowAddressFields = true" ng-show = "!billingShowAddressFinder && !billingShowAddressFields">Click here to show address finder or enter a manual (or non-UK) address</a></span>

						</div>

						<div class = "row-fluid lookupContainer hideFinderFields" ng-style = "{ 'max-height': billingShowAddressFinder ? '1000px' : '0px'}">
							<div class = "lookupBillingAddress"></div>
							<a class = "showBillingAddressFields showAddressFields checkoutLink" ng-style = "{ 'display': billingShowAddressFields ? 'none' : 'inline' }" ng-click = "billingShowAddressFields = true">Enter manual (or non-UK) address</a><br>
						</div>

						<div class = "hideBillingAddressFields hideAddressFields addressFields" ng-style = "{ 'max-height': billingShowAddressFields ? '1000px' : '0px', 'margin-top' : billingShowAddressFields ? '-15px' : '10px' }">

							<div class = "showAddressFinderLinkBox" ng-show = "billingShowSavedAddresses && !billingShowAddressFinder"><a class = "checkoutLink" ng-click = "billingShowAddressFinder = true;">Click here to show address finder</a></div>

	                        <!--<div class="row">
	                            <div class="col-md-12">
							        <label for = "billing_label">Label for this address (i.e. home, work)</label>
				                    <input type = "text" id = "billing_label" name = "billing_label" ng-model="order.billing_label" ng-model-options="{ debounce: 350 }">
	                            </div>
							</div>-->

							<div class="row">
	                            <div class="col-md-6">
							        <label class = "requiredlabel" for = "billing_first_name">First name</label>
				                    <input type = "text" id = "billing_first_name" name = "billing_first_name" ng-model="order.billing_first_name" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "15" val = "order.first_name">
				                    <div class = "errorMessage" ng-show = "billing_address_form.billing_first_name.$invalid && (!billing_address_form.billing_first_name.$pristine || billing_address_form.$submitted)">First name cannot be blank</div>
	                            </div>
	                            <div class="col-md-6">
							        <label class = "requiredlabel" for = "billing_last_name">Last name</label>
				                    <input type = "text" id = "billing_last_name" name = "billing_last_name" ng-model="order.billing_last_name" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "15" val = "order.last_name">
				                    <div class = "errorMessage" ng-show = "billing_address_form.billing_last_name.$invalid && (!billing_address_form.billing_last_name.$pristine || billing_address_form.$submitted)">Last name cannot be blank</div>
	                            </div>
	                        </div>

	                        <div class="row">
			                    <div class="col-md-6">
				                    <label class = "requiredlabel required" for = "billing_phone">Billing contact number</label>
				                    <input type = "text" id = "billing_phone" name = "billing_phone" ng-model="order.billing_phone" ng-model-options="{ debounce: 350 }" required autocomplete = "tel">
				                    <div class = "errorMessage" ng-show = "billing_address_form.billing_phone.$invalid && (!billing_address_form.billing_phone.$pristine || billing_address_form.$submitted)">Phone number cannot be blank and must be valid</div>
			                    </div>
			                    <div class = "col-md-6">
			                    	<div class = "phoneMessage">
			                    		This number will only be contacted if we have any queries relating to the items and billing of this order.
		                    		</div>
			                    </div>
			                </div>

	                        <div class="row">
	                            <div class="col-md-6">
							        <label class = "requiredlabel" for = "billing_address">Address</label>
				                    <input type = "text" id = "billing_address" name = "billing_address" ng-model="order.billing_address" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "35">
				                    <div class = "errorMessage" ng-show = "billing_address_form.billing_address.$invalid && (!billing_address_form.billing_address.$pristine || billing_address_form.$submitted)">First address line cannot be blank</div>
	                            </div>
	                            <div class="col-md-6">
							        <label for = "billing_address_second">Address 2 (optional)</label>
				                    <input type = "text" id = "billing_address_second" name = "billing_address_second" ng-model="order.billing_address_second" ng-model-options="{ debounce: 350 }" ngMaxLength = "35">
	                            </div>
	                        </div>

	                        <div class="row">
                        		<div class="col-md-3">
							        <label class = "requiredlabel" for = "billing_city">City</label>
				                    <input type = "text" id = "billing_city" name = "billing_city" ng-model="order.billing_city" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "35">
				                    <div class = "errorMessage" ng-show = "billing_address_form.billing_city.$invalid && (!billing_address_form.billing_city.$pristine || billing_address_form.$submitted)">City cannot be blank</div>
	                            </div>
                        		<div class="col-md-3">
                        			<label class = "requiredlabel" for = "billing_country">Country</label>
                        			<select id = "billing_country" ng-model = "order.billing_country" ng-change = "filterStates('billing')" >
                        				<option value="" disabled selected>Select country</option>
                        				<option ng-repeat = "country in countryList" value = "{{country.code}}">{{country.name}}</option>
                    				</select>
                        			<div class = "errorMessage" ng-show = "contact_data_form.billing_country.$invalid && (!billing_address_form.billing_country.$pristine || billing_address_form.$submitted)">Country must be selected</div>
                    			</div>
                    			<div class="col-md-4">
                        			<label class = "requiredlabel" for = "billing_state">County</label>
                        			<!--<select id = "billing_state" ng-model = "order.billing_state" required style = "display:none">
                        				<option value="" disabled selected>Select county</option>
                        				<option ng-repeat = "state in billingAvailableCounties" value = "{{state}}">{{state}}</option>
                    				</select>-->
                    				<input type = "text" id = "billing_state" name = "billing_state" ng-model="order.billing_state" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "35">
                        			<div class = "errorMessage" ng-show = "billing_address_form.billing_state.$invalid && (!billing_address_form.billing_state.$pristine || billing_address_form.$submitted)">County/state must be entered</div>
                    			</div>
                    			<div class="col-md-2">
							        <label class = "requiredlabel" for = "billing_postcode">Postcode</label>
				                    <input type = "text" id = "billing_postcode" name = "billing_postcode" ng-model="order.billing_postcode" ng-model-options="{ debounce: 350 }" required ngMinlength = "3" ngMaxLength = "35">
				                    <div class = "errorMessage" ng-show = "billing_address_form.billing_postcode.$invalid && (!billing_address_form.billing_postcode.$pristine || billing_address_form.$submitted)">Postcode cannot be blank</div>
	                            </div>

	                        </div>

	                        <div class = "row checkboxRow">
	                			<div class = "col-md-9">
		                        	<input type = "checkbox" id = "billing_residential" name = "billing_residential" ng-model = "order.billing_residential" ng-init = "order.billing_residential = true">
		                        	<label for = "billing_residential">THIS IS A RESIDENTIAL ADDRESS</label>
	                        	</div>
	                    	</div>

			                <div class = "row-fluid checkoutButtonRow">
				                <input type="button" class = "accordionButton accordionNextButton billingaddressAccordionNextButton span9" value = "Next step" ng-click = "goNextSection()">
				                <input type="button" class = "accordionButton accordionBackButton billingaddressAccordionBackButton span3" value = "Back" ng-click = "goBackSection()">
			                </div>

                        </div>

	                </div>
            	</div>
			</div>
		</div>
	</div>
</form>

<!-- DELIVERY OPTIONS SECTIONS-->
<div class="row" id = "delivery_options">
	<div class="col-md-12">
		<div id="shipping">
			<div class="boxes box-white">
				<h3>Delivery Options<i class="fa fa-check accordionTick contactAccordionTick" ng-style = "{ opacity: completedSections.indexOf('delivery_options') !== -1 ? 1 : 0 }"></i></h3></h3>
				<div class = "accordionWrapper deliveryAccordionWrapper" ng-style="{ 'max-height': sectionHeights['delivery_options'] }">
					<div class = 'accordionHeadText'>Click one of the below boxes to change the delivery method if necessary (standard delivery is selected by default)</div>
					<div class = "row-fluid deliveryOptsRow">
						<div class='deliveryOpts deliveryOptsFree {{deliverySpanSize}}' ng-if = "availableDeliveries.indexOf('free') != -1" ng-class = "{selectedDeliveryOpt: chosenDelivery == 'free', unselectedDeliveryOpt: chosenDelivery != 'free', deliveryOptsBig: deliverySpanSize !== 'span6'}" ng-click = "chooseDelivery('free')">
					 		<h4 class='deliveryHeadText'>Free Delivery <span class='pull-right'><b>FREE</b><i class='fa fa-check deliveryTick'></i></span></h4>
					 		<span class = 'deliveryOptsIcon'><i class='fa fa-truck fa-5x'></i></span><br>
							<span class = 'deliveryOptsText'>Don't pay a thing for delivery when you've spent over £30, we'll cover the cost and get your items to you within 2-3 working days!</span>
					    </div>
					    <div class='deliveryOpts deliveryOptsNextDay {{deliverySpanSize}}' ng-if = "availableDeliveries.indexOf('next-day') != -1" ng-class = "{selectedDeliveryOpt: chosenDelivery == 'next-day', unselectedDeliveryOpt: chosenDelivery != 'next-day', deliveryOptsBig: deliverySpanSize !== 'span6'}" ng-click = "chooseDelivery('next-day')">
							<h4 class='deliveryHeadText'>Standard Delivery <span class='pull-right'><b>£4.95</b><i class='fa fa-check deliveryTick'></i></span></h4>
							<span class = 'deliveryOptsIcon'><i class='fa fa-rocket fa-5x'></i></span><br>
							<span class = 'deliveryOptsText'>We'll package up your item and quickly send it out using our standard 2-3 day delivery service.</span>
						</div>

					    <div class='deliveryOpts deliveryOptsShipping {{deliverySpanSize}}' ng-if = "availableDeliveries.indexOf('shipping') != -1" ng-class = "{selectedDeliveryOpt: chosenDelivery == 'shipping', unselectedDeliveryOpt: chosenDelivery != 'shipping', deliveryOptsBig: deliverySpanSize !== 'span6'}" ng-click = "chooseDelivery('shipping')">
							<h4 class='deliveryHeadText'>International shipping <span class='pull-right'><b>£{{internationalShippingCost}}</b><i class='fa fa-check deliveryTick'></i></span></h4>
							<span class = 'deliveryOptsIcon'><i class='fa fa-globe fa-5x'></i></span><br>
							<span class = 'deliveryOptsText'>Get your items shipped direct to your doorstep, wherever you might be in the world! Price calculated for shipping to {{order.shipping_country}}.</span>
					    </div>

						<div class='deliveryOpts deliveryOptsCollect {{deliverySpanSize}}' ng-if = "availableDeliveries.indexOf('collect') != -1" ng-class = "{selectedDeliveryOpt: chosenDelivery == 'collect', unselectedDeliveryOpt: chosenDelivery != 'collect', deliveryOptsBig: deliverySpanSize !== 'span6'}" ng-click = "chooseDelivery('collect')">
							<h4 class='deliveryHeadText'>Collect in store <span class='pull-right'><b>FREE</b><i class='fa fa-check deliveryTick'></i></span></h4>
							<span class = 'deliveryOptsIcon'><i class='fa fa-building-o fa-5x'></i></span><br>
							<span class = 'deliveryOptsText'>Lucky enough to live near one of our stores? Pick your items online and have us bag them up ready for you to collect within 1-2 hours!</span>
					    </div>

					</div>

					<div class = "row-fluid shippingButtonRow">
		                <input type="button" class = "accordionButton accordionNextButton deliveryAccordionNextButton span9" value = "Next step" ng-click = "goNextSection()">
		                <input type="button" class = "accordionButton accordionBackButton deliveryAccordionBackButton span3" value = "Back" ng-click = "goBackSection()">
	                </div>

				</div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="cart_items">
	<div class="col-md-12">
		<div>
			<div class="boxes box-white">
				<h3>Items<i class="fa fa-check accordionTick cartAccordionTick" ng-style = "{ opacity: completedSections.indexOf('cart_items') !== -1 ? 1 : 0 }"></i></h3></h3>
				<div class = "accordionWrapper cartItemsAccordionWrapper" ng-style="{ 'max-height': sectionHeights['cart_items'] }">
					<div class = 'accordionHeadText'>Please check through the items in your cart before continuing</div>
					<div ng-include="'partials/_usercart.html'"></div>

					<div class = "row-fluid cartButtonRow">
		                <input type="button" class = "accordionButton accordionNextButton cartAccordionNextButton span9" value = "Next step" ng-click = "goNextSection()">
		                <input type="button" class = "accordionButton accordionBackButton cartAccordionBackButton span3" value = "Back" ng-click = "goBackSection()">
	                </div>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" id = "payment">
	<div class="col-md-12">
		<div id="checkout_payment">
			<div class="boxes box-white">
				<h3>Payment Method<i class="fa fa-check accordionTick contactAccordionTick" ng-style = "{ opacity: completedSections.indexOf('payment') !== -1 ? 1 : 0 }"></i></h3>
				<div class = "accordionWrapper paymentAccordionWrapper" ng-style="{ 'max-height': sectionHeights['payment'] }">
					<div class = 'accordionHeadText' ng-style = "{ 'max-height': paymentChosen ? '0px' : '100px' }">Please click one of the below boxes to choose a payment method</div>
					<div class = "row-fluid paymentOptionRow fade" ng-style = "">
						<div class='paymentOpts paymentOptsStripe {{paymentSpanSize}}' ng-if = "availablePayments.indexOf('stripe') != -1" ng-class = "{selectedPaymentOpt: chosenPayment == 'stripe', unselectedPaymentOpt: chosenPayment !== 'stripe', hiddenPaymentRow: paymentChosen && chosenPayment !== 'stripe', fullWidthPaymentRow: paymentChosen && chosenPayment == 'stripe'}" ng-click = "choosePaymentMethod('stripe')" ng-style = "{'max-height': (paymentChosen && chosenPayment == 'stripe') ? '30px' : paymentChosen ? '0px' : '500px'}">
							<h4 class='paymentHeadText'>Pay by card<span class='pull-right'><i class='fa fa-check paymentTick'></i></span></h4>
							<span class = 'paymentOptsIcon'><i class='fa fa-credit-card fa-5x'></i></span><br>
							<span class = 'paymentOptsText'>Checkout securely using your card</span>
					    </div>

					    <div class='paymentOpts paymentOptsPaypal {{paymentSpanSize}}' ng-if = "availablePayments.indexOf('paypal') != -1" ng-class = "{selectedPaymentOpt: chosenPayment == 'paypal', unselectedPaymentOpt: chosenPayment !== 'paypal', hiddenPaymentRow: paymentChosen && chosenPayment !== 'paypal', fullWidthPaymentRow: paymentChosen && chosenPayment == 'paypal'}" ng-click = "choosePaymentMethod('paypal')" ng-style = "{'max-height': (paymentChosen && chosenPayment == 'paypal') ? '30px' : paymentChosen ? '0px' : '500px'}">
							<h4 class='paymentHeadText'>Pay via Paypal<span class='pull-right'><i class='fa fa-check paymentTick'></i></span></h4>
							<span class = 'paymentOptsIcon'><i class='fa fa-cc-paypal fa-5x'></i></span><br>
							<span class = 'paymentOptsText'>Checkout securely via PayPal</span>
					    </div>
					</div>

					<!-- Process stripe payment box-->
					<div class = "accordionWrapper fillPaymentBox" ng-style = "{'max-height': paymentChosen ? '1000px' : '0px', 'opacity': paymentChosen ? '1' : '0'}">
						<div class = "row-fluid" ng-show = "chosenPayment == 'stripe'">
							<div class = "span12 paymentDetails paymentDetailsStripe">
								<div class = 'accordionHeadText'>Please enter you card number details in to the 'virtual card' below <b>You will be able to review your order before making payment</b></div>
								<div class = "skeuoContainer" name = "card_details_form" id = "card_details_form" novalidate>

									<div ng-include="'partials/_skeuocard.html'"></div>

								</div>
								<div class = "row-fluid makeStripePaymentRow">
									<input type="button" class = "accordionButton accordionNextButton makeStripePaymentButton span5" value = "Continue to payment" ng-if = "!preparingOrder" ng-click = "checkStripeCardAndDisplayConfirmation()">
									<div class = "cart_updatingSpinner" ng-if = "preparingOrder">
										<i class="fa fa-refresh fa-spin cart_loadingSpinner"></i>
										<div class = "cart_updatingText">Preparing your order...</div>
									</div>
								</div>
								<div class = "row-fluid checkout_changePaymentRow">
									<!--<div class = "span6 paypalCheckoutInfo">
										Please enter you card details into the virtual card above (no card information will be saved)
									</div>-->
									<div class = "span12 checkout_cardChange">
										<!--<i>Your card will be charged {{prettyFormatPrice(getFinalTotalWithDelivery())}} using Stripe for secure payment</i>-->
										<a href = "" ng-click = "changePaymentMethod()" ng-if = "!preparingOrder">Click here to choose a different payment method</a>
									</div>
								</div>
								<div class = "row-fluid">
									<div class = "span12">
										<div ng-if = "stripeAuthError" class = "checkout_paymentError">
											<i class="fa fa-exclamation faa-horizontal-notify fa-2x"></i><span>{{stripeErrorInfo}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class = "row-fluid" ng-show = "chosenPayment == 'paypal'">
							<div class = "span12 paymentDetails paymentDetailsPaypal">
								<div class = 'accordionHeadText'>Please click the yellow Paypal button below to begin payment via Paypal (the page will refresh after you have logged in) <b>You will be able to review your order before making payment</b></div>
								<div class = "paypalContainer">
									<div>
										<!--<img ng-if = "!redirectingToPaypal" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" class = "paypalButton" ng-click = "processPaypalOffsite()">-->
										<div id = "paypalInContext" ng-if = "!redirectingToPaypal"></div>
										<div class = "cart_updatingSpinner" ng-if = "redirectingToPaypal">
											<i class="fa fa-refresh fa-spin cart_loadingSpinner"></i>
											<div class = "cart_updatingText">Waiting for Paypal transaction...</div>
										</div>
									</div>
								</div>
								<div class = "row-fluid checkout_changePaymentRow">
									<!--<div class = "span6 paypalCheckoutInfo">
										Click the Paypal checkout button to log into paypal, you will be able to review and confirm your order before final payment.
									</div>-->
									<div class = "span12 checkout_cardChange">	
										<a href = "" ng-click = "changePaymentMethod()">Click here to choose a different payment method</a>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class = "row-fluid paymentButtonRow">
		                <!--<input type="button" ng-class = "{checkout_disabledButton: !cardValid}" class = "accordionButton accordionNextButton cartAccordionNextButton makePaymentStripe span9" value = "Make purchase" ng-click = "checkoutOrder('stripe', order)">-->
		                <input type="button" class = "accordionButton accordionBackButton cartAccordionBackButton span3 offset9" value = "Back" ng-click = "goBackSection()" ng-if = "!preparingOrder">
	                </div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="row" id = "confirm">
	<div class="col-md-12">
		<div>
			<div class="boxes box-white">
				<h3>Confirm and pay<i class="fa fa-check accordionTick cartAccordionTick" ng-style = "{ opacity: completedSections.indexOf('confirm') !== -1 ? 1 : 0 }"></i></h3></h3>
				<div class = "accordionWrapper confirmAccordionWrapper" ng-style="{ 'max-height': sectionHeights['confirm'] }">

					<div class = "row finalDetailsRow">

						<div class = "col-md-4">

							<div class = "cart_subtotalbox confirm_shippingBox confirm_box">
								<h3>Ship to</h3> 
								<div class = "confirm_boxAddress">
									<b>{{moltinOrder.ship_to.data.first_name}} {{moltinOrder.ship_to.data.last_name}}</b><br>
									<b>{{moltinOrder.ship_to.data.phone}}</b><br><br>
									{{moltinOrder.ship_to.data.address_1}}<br>
									<span ng-if = "moltinOrder.ship_to.data.address_2 !== ''">{{moltinOrder.ship_to.data.address_2}}<br></span>
									{{moltinOrder.ship_to.data.city}}<br>
									{{moltinOrder.ship_to.data.county}}<br>
									{{moltinOrder.ship_to.data.country.value}}<br>
									{{moltinOrder.ship_to.data.postcode}}<br><br>
									<b>{{moltinOrder.shipping.value}}</b>
								</div>
							</div>

						</div>

						<div class = "col-md-4">

							<div class = "cart_subtotalbox confirm_billingBox confirm_box">
								<h3>Bill to</h3>
								<div class = "confirm_boxAddress">
									<b>{{moltinOrder.bill_to.data.first_name}} {{moltinOrder.bill_to.data.last_name}}</b><br>
									<b>{{moltinOrder.bill_to.data.phone}}</b><br><br>
									{{moltinOrder.bill_to.data.address_1}}<br>
									<span ng-if = "moltinOrder.bill_to.data.address_2 !== ''">{{moltinOrder.bill_to.data.address_2}}<br></span>
									{{moltinOrder.bill_to.data.city}}<br>
									{{moltinOrder.bill_to.data.county}}<br>
									{{moltinOrder.bill_to.data.country.value}}<br>
									{{moltinOrder.bill_to.data.postcode}}<br>
								</div>
							</div>

						</div>

						<div class = "col-md-4">

							<div class = "cart_subtotalbox">
								<h3>Subtotal</h3>
								<div class = "row">

									<div class = "col-md-8">
										Subtotal
									</div>
									<div class = "col-md-4" ng-bind-html = "encodeHtml(prettyFormatPrice(moltinOrder.subtotal)) | unsafe">
									</div>

									<div>
										<div class = "col-md-8">
											Delivery
										</div>
										<div class = "col-md-4" ng-bind-html = "encodeHtml(prettyFormatPrice(moltinOrder.shipping_price)) | unsafe">
										</div>
									</div>

									<div>
										<div class = "col-md-8">
											Total
										</div>
										<div class = "col-md-4 final-total" ng-bind-html = "encodeHtml(prettyFormatPrice(moltinOrder.total)) | unsafe">
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>

					<div class = "paymentTextBox">
						<div class = "paymentVerifiedText">{{finalPaymentVerfiedText}}</div>
						<div class = "secureServerText">Your payment will be processed through our secure server</div>
					</div>

					<div class = "row-fluid checkout_finalErrorRow">
						<div class = "span12">	
							<div class = "checkout_paymentError" ng-if = "finalPaymentError">
								<i class="fa fa-exclamation faa-horizontal-notify fa-2x"></i><span>{{finalPaymentErrorText}}</span>
							</div>
						</div>
					</div>

					<div class = "row-fluid cartButtonRow">
		                <input type="button" class = "accordionButton span12 makeFinalPaymentButton" value = "Make payment" ng-click = "completeOrder()">
	                </div>

	                <div class = "row-fluid">
	                	<div class = "span12 checkout_finalChange">
							<a href = "" ng-click = "goBackFromConfirmation()">Click here to go back and make changes</a>
						</div>
	                </div>

				</div>
			</div>
		</div>
	</div>
</div>

<!--<input id = "checkoutSubmitButton" class = "span9" type = "submit" value = "Proceed to Payment">-->

</div>
</div>