<div class = "row breadcrumb-container">
	<div ng-include="'partials/_breadcrumb.html'"></div>
</div>


<form name = "form" novalidate ng-submit="form.$valid && createAccount(user)">
	<label class = "requiredlabel" for = "account_user_firstName">First Name</label>
	<input type="text" class = "account_input" name = "account_user_firstName" ng-model="user.first_name" ng-model-options="{ debounce: 350 }" required />
	<label class = "requiredlabel" for = "account_user_lastName">Last Name</label>
	<input type="text" class = "account_input" name = "account_user_lastName" ng-model="user.last_name" ng-model-options="{ debounce: 350 }" required />
	<label class = "requiredlabel" for = "account_user_email">E-mail address</label>
	<input type="email" class = "account_input" name = "account_user_email" ng-model="user.email" name = "userEmail" ng-model-options="{ debounce: 350 }" required /><br />
	<div ng-show="form.$submitted">
		<span ng-show="form.userEmail.$error.required" class = "errorMessage">Tell us your email.</span>
		<span ng-show="form.userEmail.$error.email" class = "errorMessage">This is not a valid email.</span>
    </div>
	<label class = "requiredlabel" for = "account_user_password">Password</label>
    <input type="password" class = "account_input" name = "account_user_password" ng-model="user.password" ng-pattern="/^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])[a-zA-Z0-9!@#$%^&*]{6,25}$/" ng-model-options="{ debounce: 500 }" minlength = "6" ng-maxlength = "25" required/><br />
    <div ng-messages="form.password.$error" role = "alert">
		<div class = "errorMessage" ng-message="minlength" class = "errorMessage">Password must be at least 6 characters.</div>
		<div class = "errorMessage" ng-message="pattern" class = "errorMessage">Be secure! Password must contain at least 1 uppercase, 1 lowercase & 1 number.</div>
	</div>
	<!--Newsletter checkbox-->
	<input type = "checkbox" name = "account_user_newsletter" ng-model = "signupNewsletter" class = "account_inlineText">
    <label for = "account_user_newsletter" clsss = "account_inlineText">Sign up to our newsletter - News, exclusive deals & new products straight to your inbox</label>
    <input type="submit" value="Save" class = "account_button" />

</form>

<div class = "global_updatingSpinner" ng-show = "accountCreationInProgress">
	<i class="fa fa-refresh fa-spin global_loadingSpinner"></i>Creating your account
</div> 

<div ng-show = "accountCreatedSuccessfully">Account created successfully, you may now log in</div>
<div class = "errorMessage" ng-show = "creationError">{{creationErrorInfo}}</div>
<div class = "errorMessage" ng-show = "creationFatalError">Error communicating with server, please refresh and try again</div>



<!--<pre>user = {{user | json}}</pre>-->