<div class = "homeGrid-display animated fadeInUp">

<div class = "row">

	<div class = "col-md-12">
		<div class = "homeGrid-explainer">
			<span class = "homeGrid-explainerMain">Eclectic interiors and homewares from Brightons' unique design-led boutique</span>
			<span class = "homeGrid-explainerDelivery">- Free UK delivery over £30, same day dispatch</span>
		</div>
	</div>

</div>

<!--Mobile only logo row-->
<!--<div class = "row homeGrid-mobile">
	<div class = "col-md-12">
		<img src = "../images/logo.png" class = "homeGrid-mobile-logo">
	</div>
</div>-->

<div class = "row">

	<!--Hero row-->

	<div class = "col-md-12">
		<div class = "homeGrid-item homeGrid-heroItem">
			<a href = "/filter?type=sale">
				<div class = "homeGrid-colorOverlay"></div>
				<img class = "homeGrid-loaderImage" src = "../images/heroLoaderImage.png">
				<img class = "homeGrid-finalImage" src = "../images/shop_hero_xmas.jpg">
				<div class = "homeGrid-itemText homeGrid-itemTextHero">
					<div class = "homeGrid-textAligner">
						<h3>Sale items</h3>
						<h5>Find the perfect xmas gift</h5>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class = "col-md-4 col-sm-6">
		<div class = "homeGrid-item">
			<a href = "/accessories">
				<div class = "homeGrid-colorOverlay"></div>
				<img class = "homeGrid-loaderImage" src = "../images/loaderImage.png">
				<img class = "homeGrid-finalImage" src = "https://www.data.edited.co.uk/images/product/r/roboutique-set-of-4-nesting-boxes-600px-600px.png">
				<div class = "homeGrid-itemText">
					<div class = "homeGrid-textAligner">
						<h3>Accessories</h3>
						<h5>Unusual and beautiful items perfect for your home.</h5>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class = "col-md-4 col-sm-6">
		<div class = "homeGrid-item">
			<a href = "/prints">
				<div class = "homeGrid-colorOverlay"></div>
				<img class = "homeGrid-loaderImage" src = "../images/loaderImage.png">
				<img class = "homeGrid-finalImage" src = "https://www.data.edited.co.uk/images/product/l/limited-edition-toucan-4-colour-screen-print-add-1-600px-600px.png">
				<div class = "homeGrid-itemText">
					<div class = "homeGrid-textAligner">
						<h3>Prints</h3>
						<h5>Beautify your walls with limited edition designs.</h5>
					</div>
				</div>
			</a>
		</div>
	</div>
	

<!--<div class = "row">-->
	<div class = "col-md-4 col-sm-6">
		<div class = "homeGrid-item">
			<a href = "/gifts">
				<div class = "homeGrid-colorOverlay"></div>
				<img class = "homeGrid-loaderImage" src = "../images/loaderImage.png">
				<img class = "homeGrid-finalImage" src = "../images/tote_bag.jpg">
				<div class = "homeGrid-itemText">
					<div class = "homeGrid-textAligner">
						<h3>Gifts</h3>
						<h5>Treats for them or just for you.</h5>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class = "homeGrid-selectedItemBox col-md-12">
		<div class = "row">
			<div class = "col-sm-12 global_montHeader">
				Featured products
			</div>

			<div class="productwrap col-md-4 col-sm-6 fadeIn" ng-repeat = "prod in homeProducts" >
				<a href="{{prod.slug}}">
					<div class="stockbox salePercentage saleHomeText ng-binding ng-scope" ng-show = "prod.onSale" style = "display: block">
						On sale
					</div>
					<img class="prodGridImage homeGrid-loaderImage" src="../images/loaderImage.png">
					<img class="prodGridImage homeGrid-finalImage" src="{{prod.image}}" alt="Back image and link for {{prod.title}}" title="{{prod.title}}">
					<div class="row prodGrid-details">
						<div class="col-sm-8">
							<div class="producttitle">
								<span class="ng-binding">{{prod.title}}</span>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="productpricewrap">
								<span>{{prod.price}}</span>
							</div>
						</div>
					</div>
				</a>
			</div>


		</div>

		<div class = "col-md-12 homeGrid-selectedItemLine"></div>

	</div>


	
<!--</div>-->
	<div class = "col-md-4 col-sm-6">
		<div class = "homeGrid-item">
			<div id = "instafeed"></div>
		</div>
	</div>

	

	<div class = "col-md-4 col-sm-6">
		<div class = "homeGrid-item">
			<a href = "/soft-furnishings-cushions">
				<div class = "homeGrid-colorOverlay"></div>
				<img class = "homeGrid-loaderImage" src = "../images/loaderImage.png">
				<img class = "homeGrid-finalImage" src = "https://www.data.edited.co.uk/images/product/w/whitby-cushion-indigo-600px-600px.png">
				<div class = "homeGrid-itemText">
					<div class = "homeGrid-textAligner">
						<h3>Cushions</h3>
						<h5>Give your lounge a designer flair.</h5>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class = "col-md-4 col-sm-6">
		<div class = "homeGrid-item">
			<a href = "/lighting-lightbulbs">
				<div class = "homeGrid-colorOverlay"></div>
				<img class = "homeGrid-loaderImage" src = "../images/loaderImage.png">
				<img class = "homeGrid-finalImage" src = "https://www.data.edited.co.uk/images/product/l/large-quad-loop-40w-b22-bayonet-600px-600px.png">
				<div class = "homeGrid-itemText">
					<div class = "homeGrid-textAligner">
						<h3>Lighting</h3>
						<h5>Design-led bulbs and unique fittings.</h5>
					</div>
				</div>
			</a>
		</div>
	</div>

	

	
</div>

</div>