<div class = "row breadcrumb-container">
	<div ng-include="'partials/_breadcrumb.html'"></div>
</div>

<div class = "productLoadingBox animated fadeIn" ng-if = "!displayProductsGrid && !displayProductDetails">
	<!--<i class="fa fa-refresh fa-spin productLoadingSpinner"></i>-->
	<!--<div class = "productLoadingText">Loading</div>-->
	<!--<div class="cssload-tetrominos productpage-loading">
		<div class="cssload-tetromino cssload-box1"></div>
		<div class="cssload-tetromino cssload-box2"></div>
		<div class="cssload-tetromino cssload-box3"></div>
		<div class="cssload-tetromino cssload-box4"></div>
	</div>-->
	<div class="spinner productSpinner">
		<div class="rect1"></div>
		<div class="rect2"></div>
		<div class="rect3"></div>
		<div class="rect4"></div>
		<div class="rect5"></div>
	</div>
</div>

<div ng-if = "displayProductsGrid" ng-include="'partials/_productsgrid.html'" class = "animate fadeIn"></div>

<div ng-if = "displayProductDetails" ng-include="'partials/_productdetails.html'"></div>