<div class = "receipt animated fadeIn">

	<div class = "row">
		<div class = "col-xs-12">
			<div class = "receipt_complete">
				<h1>Order receipt</h1>
			</div>
		</div>
	</div>

	<div class = "receipt_tableContainer">
		
		<table class = "receipt_table" cellspacing="0" cellpadding="0" border="0" width="100%">

			<!--<tr>
				<td width = "60%" class = "receipt_tableItemName">
					Limited Edition 'Espresso' 3 Colour Screen Print
					<span class = "receipt_orderOnlyNote">This item is available by order only and will take longer to get to you</span>
				</td>
				<td width = "10%">
					£58.00
				</td>
				<td width = "10%">
					x 2
				</td>
				<td width = "20%">
					£116
				</td>
			</tr>
			<tr>
				<td width = "70%" class = "receipt_tableItemName">
					Limited Edition 'Espresso' 3 Colour Screen Print
				</td>
				<td width = "10%">
					£58.00
				</td>
				<td width = "10%">
					x 2
				</td>
				<td width = "10%">
					£116
				</td>
			</tr>-->

			<tr ng-repeat = "item in receiptItemJsonArray">
				<td width = "60%" class = "receipt_tableItemName">
					{{item.title}}
					<!--<div ng-if = "item.product.data.collection.data.slug.indexOf('order-only') !== -1">-->
					<div ng-if = "item.product.data.collection.data.slug.indexOf('order-only') >= 0">
						<span class = "receipt_orderOnlyNote">This item is available by order only and will take longer to get to you</span>
					</div>

				</td>
				<td width = "10%">
					{{item.price.value}}
				</td>
				<td width = "10%">
					x {{item.quantity}}
				</td>
				<td width = "20%">
					{{item.totals.value}}
				</td>
			</tr>

		</table>

	</div>

	<div class = "receipt_orderSummary">

		<div class = "row finalDetailsRow">

			<div class = "col-md-4">

				<div class = "cart_subtotalbox confirm_shippingBox confirm_box receipt_box receipt_addressBox">
					<h3>Ship to</h3>
					<div class = "confirm_boxAddress">
						{{orderSummary.ship_to.data.address_1}}<br>
						<span ng-if = "orderSummary.ship_to.data.address_2 !== ''">{{orderSummary.ship_to.data.address_2}}<br></span>
						{{orderSummary.ship_to.data.city}}<br>
						{{orderSummary.ship_to.data.county}}<br>
						{{orderSummary.ship_to.data.country.value}}<br>
						{{orderSummary.ship_to.data.postcode}}<br><br>
						<b>{{orderSummary.shipping.value}}</b>
					</div>
				</div>

			</div>

			<div class = "col-md-4">

				<div class = "cart_subtotalbox confirm_billingBox confirm_box receipt_box receipt_addressBox">
					<h3>Bill to</h3>
					<div class = "confirm_boxAddress">
						{{orderSummary.bill_to.data.address_1}}<br>
						<span ng-if = "orderSummary.bill_to.data.address_2 !== ''">{{orderSummary.bill_to.data.address_2}}<br></span>
						{{orderSummary.bill_to.data.city}}<br>
						{{orderSummary.bill_to.data.county}}<br>
						{{orderSummary.bill_to.data.country.value}}<br>
						{{orderSummary.bill_to.data.postcode}}<br>
					</div>
				</div>

			</div>

			<div class = "col-md-4">

				<div class = "cart_subtotalbox receipt_box receipt_subtotalbox">
					<h3>Subtotal</h3>
					<div class = "row">

						<div class = "col-md-8">
							Subtotal
						</div>
						<div class = "col-md-4" ng-bind-html = "encodeHtml(prettyFormatPrice(orderSummary.subtotal)) | unsafe">
						</div>

						<div>
							<div class = "col-md-8">
								Delivery
							</div>
							<div class = "col-md-4" ng-bind-html = "encodeHtml(prettyFormatPrice(orderSummary.shipping_price)) | unsafe">
							</div>
						</div>

						<div>
							<div class = "col-md-8">
								Total
							</div>
							<div class = "col-md-4" ng-bind-html = "encodeHtml(prettyFormatPrice(orderSummary.total)) | unsafe">
							</div>
						</div>

					</div>
				</div>

			</div>
			
		</div>
	</div>

	<div class = "receipt_text">
		You will also have received a full email receipt for this transaction<br><b>Please also check your spam folder for receipts and account related emails</b><br><br>

		Thank you very much for your order, if you have any enquries relating to this order please don't hesitate to contact us via email at <a href="mailto:hello@edited.co.uk">hello@edited.co.uk</a> or via phone on <a href="tel:01273604006">01273 604006</a>
	</div>

</div>