<div class = "row breadcrumb-container">
	<div ng-include="'partials/_breadcrumb.html'"></div>
</div>

<form name = "form" novalidate ng-submit="form.$valid && resetPassword(user)">

    Enter new password: <input type="password" name = "password" ng-model="newPass" ng-pattern="/^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])[a-zA-Z0-9!@#$%^&*]{6,25}$/" ng-model-options="{ debounce: 650 }" ng-minlength = "6" ng-maxlength = "25" required/><br />
    <div ng-messages="form.password.$error" role = "alert">
		<div class = "errorMessage" ng-message="minlength">Password must be at least 6 characters.</div>
		<div class = "errorMessage" ng-message="pattern">Be secure! Password must contain at least 1 uppercase, 1 lowercase & 1 number.</div>
	</div>
	Repeat password: <input type="password" name = "passwordRepeat" ng-model="newPassRepeat" required/><br />
	<div class = "errorMessage" ng-show = "!passMatch">Passwords must match</div>

    <input type="submit" value="Save" class = "account-resetButton" />

</form>

<div class = "global_updatingSpinner" ng-style = "{ opacity: resetInProgress ? 1 : 0 }" ng-show = "resetInProgress">
	<i class="fa fa-refresh fa-spin global_loadingSpinner"></i>Resetting your password
</div> 
<div ng-show = "passwordResetSuccessfully">Password reset succesfully, <a href = "/account">click here</a> to return to your account</div>
<div class = "errorMessage" ng-show = "resetError">Error when resetting your password: {{resetErrorInfo}}</div>
<div class = "errorMessage" ng-show = "fatalError">Error communicating with server, please refresh and try again</div>