<div class = "homeGrid-display animated fadeInUp">

<!--Mobile only logo row-->
<!--<div class = "row homeGrid-mobile">
	<div class = "col-md-12">
		<img src = "../images/logo.png" class = "homeGrid-mobile-logo">
	</div>
</div>-->
<!--Hero row-->
<div class = "row">
	<div class = "col-md-12">
		<div class = "homeGrid-item homeGrid-heroItem">
			<a href = "/hay-kaleido-tray">
				<div class = "homeGrid-colorOverlay"></div>
				<img class = "homeGrid-loaderImage" src = "../images/heroLoaderImage.png">
				<img class = "homeGrid-finalImage" src = "../images/hay-kaleido-hero.jpg">
				<div class = "homeGrid-itemText homeGrid-itemTextHero">
					<div class = "homeGrid-textAligner">
						<h5>HAY</h5>
						<h3>Kaleido Tray</h3>
						<h5>Geometric storage system.</h5>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<!--Display rows-->
<div class = "row">
	<div class = "col-md-4 col-sm-6">
		<div class = "homeGrid-item">
			<div id = "instafeed"></div>
		</div>
	</div>
	
	<!--<div class = "col-md-4 col-sm-6">
		<div class = "homeGrid-item">
			<a href = "/wrong-for-hay-noc-light-dark-grey">
				<div class = "homeGrid-colorOverlay"></div>
				<img class = "homeGrid-loaderImage" src = "../images/loaderImage.png">
				<img class = "homeGrid-finalImage" src = "http://www.edited.co.uk/images/product/w/wrong-for-hay-noc-light-dark-grey-add-2-600px-600px.png">
				<div class = "homeGrid-itemText">
					<div class = "homeGrid-textAligner">
						<h3>NOC Light</h3>
						<h5>Universal clamp lighting.</h5>
					</div>
				</div>
			</a>
		</div>
	</div>-->
	<div class = "col-md-4 col-sm-6">
		<div class = "homeGrid-item">
			<a href = "/soft-furnishings-cushions">
				<div class = "homeGrid-colorOverlay"></div>
				<img class = "homeGrid-loaderImage" src = "../images/loaderImage.png">
				<img class = "homeGrid-finalImage" src = "https://www.data.edited.co.uk/images/product/s/squirrel-cushion-by-alysha-dawn-600px-600px.png">
				<div class = "homeGrid-itemText">
					<div class = "homeGrid-textAligner">
						<h3>Cushions</h3>
						<h5>Give your lounge a designer flair.</h5>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class = "col-md-4 col-sm-6">
		<div class = "homeGrid-item">
			<a href = "/lighting-lightbulbs">
				<div class = "homeGrid-colorOverlay"></div>
				<img class = "homeGrid-loaderImage" src = "../images/loaderImage.png">
				<img class = "homeGrid-finalImage" src = "https://www.data.edited.co.uk/images/product/l/large-quad-loop-40w-b22-bayonet-600px-600px.png">
				<div class = "homeGrid-itemText">
					<div class = "homeGrid-textAligner">
						<h3>Lighting</h3>
						<h5>Design-led bulbs and unique fittings.</h5>
					</div>
				</div>
			</a>
		</div>
	</div>
<!--</div>-->
	<div class = "col-md-4 col-sm-6">
		<div class = "homeGrid-item">
			<a href = "/hay-flowerpot-with-saucer">
				<div class = "homeGrid-colorOverlay"></div>
				<img class = "homeGrid-loaderImage" src = "../images/loaderImage.png">
				<img class = "homeGrid-finalImage" src = "../images/compressed/hay-flowerpot-single.jpg">
				<div class = "homeGrid-itemText">
					<div class = "homeGrid-textAligner">
						<h3>Flowerpot</h3>
						<h5>Minimalist polystone pots.</h5>
					</div>
				</div>
			</a>
		</div>
	</div>

<!--<div class = "row">-->
	<div class = "col-md-4 col-sm-6">
		<div class = "homeGrid-item">
			<a href = "/wrong-for-hay-sinker-pendant">
				<div class = "homeGrid-colorOverlay"></div>
				<img class = "homeGrid-loaderImage" src = "../images/loaderImage.png">
				<img class = "homeGrid-finalImage" src = "../images/compressed/sinker-pendant.jpg">
				<div class = "homeGrid-itemText">
					<div class = "homeGrid-textAligner">
						<h3>Sinker Pendant</h3>
						<h5>Beautifully proportioned lighting.</h5>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class = "col-md-4 col-sm-6">
		<div class = "homeGrid-item">
			<a href = "/wrong-for-hay-turn-on-black">
				<div class = "homeGrid-colorOverlay"></div>
				<img class = "homeGrid-loaderImage" src = "../images/loaderImage.png">
				<img class = "homeGrid-finalImage" src = "https://www.data.edited.co.uk/images/product/w/wrong-for-hay-turn-on-black-600px-600px.png">
				<div class = "homeGrid-itemText">
					<div class = "homeGrid-textAligner">
						<h3>Turn on</h3>
						<h5>Effortlessly simple table lamp.</h5>
					</div>
				</div>
			</a>
		</div>
	</div>

	
</div>

</div>